df-bi-dwh/PartialArmTemplates/ArmTemplate_5_4_2021_17_36_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Catalogo_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Almacen",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/ALMACEN",
									"wildcardFileName": {
										"value": "@Concat('ALMACEN_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dsa_ecu_sap.almacen",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/ALMACEN"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "WAREHOUSE",
											"type": "String"
										},
										{
											"name": "WAREHOUSENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "dsa_ecu_sap.almacen"
								}
							}
						]
					},
					{
						"name": "Cadena",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CADENA",
									"wildcardFileName": {
										"value": "@Concat('CADENA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dsa_ecu_sap.cadena",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CADENA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "SEGMENT",
											"type": "String"
										},
										{
											"name": "SEGMENTNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "dsa_ecu_sap.cadena"
								}
							}
						]
					},
					{
						"name": "CanalDistribucion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CANALDISTRIBUCION",
									"wildcardFileName": {
										"value": "@Concat('CANALDISTRIBUCION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[canaldistribucion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CANALDISTRIBUCION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNELNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[canaldistribucion]"
								}
							}
						]
					},
					{
						"name": "CategoriaMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CATEGORIAMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('CATEGORIAMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[categoriamaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CATEGORIAMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALVALUATIONCLASS",
											"type": "String"
										},
										{
											"name": "MATERIALUSABILITYPROFILENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[categoriamaterial]"
								}
							}
						]
					},
					{
						"name": "CebeEmpresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CEBEEMPRESA",
									"wildcardFileName": {
										"value": "@Concat('CEBEEMPRESA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[cebeempresa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CEBEEMPRESA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cebeempresa]"
								}
							}
						]
					},
					{
						"name": "CentroBeneficio",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CENTROBENEFICIO",
									"wildcardFileName": {
										"value": "@Concat('CENTROBENEFICIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[centrobeneficio]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROBENEFICIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "SEGMENT",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "PROFITCENTERNAME",
											"type": "String"
										},
										{
											"name": "PROFITCENTERLONGNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[centrobeneficio]"
								}
							}
						]
					},
					{
						"name": "CentroCosto",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CENTROCOSTO",
									"wildcardFileName": {
										"value": "@Concat('CENTROCOSTO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[centrocosto]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROCOSTO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "COSTCENTER",
											"type": "String"
										},
										{
											"name": "COSTCENTERNAME",
											"type": "String"
										},
										{
											"name": "COSTCENTERDESCRIPTION",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "COSTCENTERCATEGORY",
											"type": "String"
										},
										{
											"name": "COSTCTRRESPONSIBLEPERSONNAME",
											"type": "String"
										},
										{
											"name": "COSTCENTERSTANDARDHIERAREA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[centrocosto]"
								}
							}
						]
					},
					{
						"name": "ClienteaAreaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTEAREAVENTA",
									"wildcardFileName": {
										"value": "@Concat('CLIENTEAREAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clienteareaventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEAREAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "SALESOFFICE",
											"type": "String"
										},
										{
											"name": "SALESGROUP",
											"type": "String"
										},
										{
											"name": "CURRENCY",
											"type": "String"
										},
										{
											"name": "PRICELISTTYPE",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUP",
											"type": "String"
										},
										{
											"name": "ORDERISBLOCKEDFORCUSTOMER",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clienteareaventa]"
								}
							}
						]
					},
					{
						"name": "ClienteEmpresaPlanta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTEEMPRESAPLANTA",
									"wildcardFileName": {
										"value": "@Concat('CLIENTEEMPRESAPLANTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clienteempresaplanta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEEMPRESAPLANTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "CASHPLANNINGGROUP",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clienteempresaplanta]"
								}
							}
						]
					},
					{
						"name": "Clientes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTES",
									"wildcardFileName": {
										"value": "@Concat('CLIENTES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clientes]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "CUSTOMERNAME",
											"type": "String"
										},
										{
											"name": "CUSTOMERFULLNAME",
											"type": "String"
										},
										{
											"name": "CUSTOMERACCOUNTGROUP",
											"type": "String"
										},
										{
											"name": "BPTAXTYPE",
											"type": "String"
										},
										{
											"name": "BPTAXNUMBER",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME1",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME2",
											"type": "String"
										},
										{
											"name": "CITYNAME",
											"type": "String"
										},
										{
											"name": "TELF1",
											"type": "String"
										},
										{
											"name": "STREETNAME",
											"type": "String"
										},
										{
											"name": "SORTFIELD",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "BUSINESSTYPE",
											"type": "String"
										},
										{
											"name": "INDUSTRYTYPE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "DELETIONINDICATOR",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clientes]"
								}
							}
						]
					},
					{
						"name": "CuentasContables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CUENTASCONTABLES",
									"wildcardFileName": {
										"value": "@Concat('CUENTASCONTABLES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[cuentascontables]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CUENTASCONTABLES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "GLACCOUNT",
											"type": "String"
										},
										{
											"name": "GLACCOUNTNAME",
											"type": "String"
										},
										{
											"name": "GLACCOUNTLONGNAME",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cuentascontables]"
								}
							}
						]
					},
					{
						"name": "Empresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/EMPRESA",
									"wildcardFileName": {
										"value": "@Concat('EMPRESA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[empresa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/EMPRESA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "COMPANYCODENAME",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "CURRENCY",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "COMPANYNAME",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[empresa]"
								}
							}
						]
					},
					{
						"name": "FuncionInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/FUNCIONINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('FUNCIONINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[funcioninterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/FUNCIONINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										{
											"name": "BUSINESSPARTNER",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "BUSINESSPARTNERGROUPING",
											"type": "String"
										},
										{
											"name": "BPCUSTOMERNUMBER",
											"type": "String"
										},
										{
											"name": "PARTNERFUNCTIONNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[funcioninterlocutor]"
								}
							}
						]
					},
					{
						"name": "GrupoClienteVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOCLIENTEVENTA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOCLIENTEVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupoclienteventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCLIENTEVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupoclienteventa]"
								}
							}
						]
					},
					{
						"name": "GrupoCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupocompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										{
											"name": "PURCHASINGGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupocompra]"
								}
							}
						]
					},
					{
						"name": "GrupoMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('GRUPOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALGROUP",
											"type": "String"
										},
										{
											"name": "MATERIALGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupomaterial]"
								}
							}
						]
					},
					{
						"name": "GrupoPrecioCliente",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOPRECIOCLIENTE",
									"wildcardFileName": {
										"value": "@Concat('GRUPOPRECIOCLIENTE_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupopreciocliente]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOCLIENTE"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupopreciocliente]"
								}
							}
						]
					},
					{
						"name": "GrupoPrecioMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOPRECIOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('GRUPOPRECIOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupopreciomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupopreciomaterial]"
								}
							}
						]
					},
					{
						"name": "GrupoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOVENTA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupoventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SALESGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "SALESGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupoventa]"
								}
							}
						]
					},
					{
						"name": "DeleteAlmacen",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Almacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/ALMACEN"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/ALMACEN"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteAlmacen_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Cadena",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CADENA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CADENA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCanalDistribucion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CanalDistribucion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CANALDISTRIBUCION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CANALDISTRIBUCION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCategoriaMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CategoriaMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CATEGORIAMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CATEGORIAMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCebeEmpresa",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CebeEmpresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CEBEEMPRESA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CEBEEMPRESA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCentroBeneficio",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CentroBeneficio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROBENEFICIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CENTROBENEFICIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCentroCosto",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROCOSTO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CENTROCOSTO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClienteaAreaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ClienteaAreaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEAREAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTEAREAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClienteEmpresaPlanta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ClienteEmpresaPlanta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEEMPRESAPLANTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTEEMPRESAPLANTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClientes",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Clientes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTES"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTES"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCuentasContables",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CuentasContables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CUENTASCONTABLES"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CUENTASCONTABLES"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteEmpresa",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Empresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/EMPRESA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/EMPRESA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteFuncionInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FuncionInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/FUNCIONINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/FUNCIONINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteGRUPOCLIENTEVENTA",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoClienteVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCLIENTEVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOCLIENTEVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteGrupoCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGRUPOMATERIAL",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoPrecioCliente",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoPrecioCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOCLIENTE"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOPRECIOCLIENTE"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoPrecioMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoPrecioMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOPRECIOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2021"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "01"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "13"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FacturaCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURACOMPRA",
									"wildcardFileName": {
										"value": "@Concat('FACTURACOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[FacturaCompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURACOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaCompra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DocumentoEntrega",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/DOCUMENTOENTREGA",
									"wildcardFileName": {
										"value": "@Concat('DOCUMENTOENTREGA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[documentoentrega]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/DOCUMENTOENTREGA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_DocumentoEntrega",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenCompraCondicion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENCOMPRACONDICION",
									"wildcardFileName": {
										"value": "@Concat('ORDENCOMPRACONDICION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[OrdenCompraCondicion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDER"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDERITEM",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDERITEM"
										}
									},
									{
										"source": {
											"name": "CONDITIONAPPLICATION",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONAPPLICATION"
										}
									},
									{
										"source": {
											"name": "CONDITIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONTYPE"
										}
									},
									{
										"source": {
											"name": "CONDITIONBASEVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONBASEVALUE"
										}
									},
									{
										"source": {
											"name": "CONDITIONRATEVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONRATEVALUE"
										}
									},
									{
										"source": {
											"name": "CONDITIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "CONDITIONQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONQUANTITY"
										}
									},
									{
										"source": {
											"name": "CONDITIONQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "TAXCODE",
											"type": "String"
										},
										"sink": {
											"name": "TAXCODE"
										}
									},
									{
										"source": {
											"name": "CONDITIONAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONAMOUNT"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "PRICINGDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "PRICINGDATETIME"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRACONDICION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenCompraCondicion",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ReservaListaMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/RESERVALISTAMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('RESERVALISTAMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[RESERVALISTAMATERIAL]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/RESERVALISTAMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_ReservaMaterial",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenManofactura",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENMANOFACTURA",
									"wildcardFileName": {
										"value": "@Concat('ORDENMANOFACTURA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[ORDENMANOFACTURA]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENMANOFACTURA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenManofactura",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PedidoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/PEDIDOVENTA",
									"wildcardFileName": {
										"value": "@Concat('PEDIDOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[PedidoVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_PedidoVenta",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PedidoVentaInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/PEDIDOVENTAINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('PEDIDOVENTAINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[pedidoventainterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER"
										}
									},
									{
										"source": {
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										"sink": {
											"name": "PARTNERFUNCTION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "ADDRESSID",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESSID"
										}
									},
									{
										"source": {
											"name": "PERSONNEL",
											"type": "String"
										},
										"sink": {
											"name": "PERSONNEL"
										}
									},
									{
										"source": {
											"name": "CONTACTPERSON",
											"type": "String"
										},
										"sink": {
											"name": "CONTACTPERSON"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTAINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_PedidoVentaInterlocutor",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "FacturaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURAVENTA",
									"wildcardFileName": {
										"value": "@Concat('FACTURAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[FacturaVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTISCANCELLED",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTISCANCELLED"
										}
									},
									{
										"source": {
											"name": "CANCELLEDBILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLEDBILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PAYMENTMETHOD",
											"type": "String"
										},
										"sink": {
											"name": "PAYMENTMETHOD"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "ACCOUNTINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNTINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SOLDTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SOLDTOPARTY"
										}
									},
									{
										"source": {
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMERGROUP"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTITEM",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEMCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTITEMCATEGORY"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITY",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITY"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYINBASEUNIT",
											"type": "Decimal"
										},
										"sink": {
											"name": "BILLINGQUANTITYINBASEUNIT"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "BILLTOPARTYCOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "BILLTOPARTYCOUNTRY"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "String"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "String"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "COSTAMOUNT",
											"type": "String"
										},
										"sink": {
											"name": "COSTAMOUNT"
										}
									},
									{
										"source": {
											"name": "DEPARTURECOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "DEPARTURECOUNTRY"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "COSTCENTER",
											"type": "String"
										},
										"sink": {
											"name": "COSTCENTER"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "SALESDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP"
										}
									},
									{
										"source": {
											"name": "SALESORDERSALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORDERSALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATE"
										}
									},
									{
										"source": {
											"name": "OVERALLSDPROCESSSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLSDPROCESSSTATUS"
										}
									},
									{
										"source": {
											"name": "OVERALLBILLINGSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLBILLINGSTATUS"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaVenta",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('ORDENCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[OrdenCompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLIERRESPSALESPERSONNAME",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERRESPSALESPERSONNAME"
										}
									},
									{
										"source": {
											"name": "PURCHASINGORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGORGANIZATION"
										}
									},
									{
										"source": {
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGGROUP"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGSUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGSUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGPLANT",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGPLANT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEM",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEMTEXT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEMTEXT"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "ISCOMPLETELYDELIVERED",
											"type": "String"
										},
										"sink": {
											"name": "ISCOMPLETELYDELIVERED"
										}
									},
									{
										"source": {
											"name": "ISFINALLYINVOICED",
											"type": "String"
										},
										"sink": {
											"name": "ISFINALLYINVOICED"
										}
									},
									{
										"source": {
											"name": "GOODSRECEIPTISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "GOODSRECEIPTISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISGOODSRECEIPTBASED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISGOODSRECEIPTBASED"
										}
									},
									{
										"source": {
											"name": "PRODUCTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTTYPE"
										}
									},
									{
										"source": {
											"name": "MATERIALTYPE",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALTYPE"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "ORDERPRICEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERPRICEUNIT"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORDERQUANTITY"
										}
									},
									{
										"source": {
											"name": "NETPRICEAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETPRICEAMOUNT"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "DOCUMENTCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "DOCUMENTCURRENCY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTORDERDATE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTORDERDATE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGINFORECORD",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGINFORECORD"
										}
									},
									{
										"source": {
											"name": "SUPPLIERPHONENUMBER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERPHONENUMBER"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONL",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONL"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONML",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONML"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenCompra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteFacturaCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURACOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURACOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteDocumentoEntrega",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DocumentoEntrega",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/DOCUMENTOENTREGA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/DOCUMENTOENTREGA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenCompraCondicion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenCompraCondicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRACONDICION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENCOMPRACONDICION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteReservaListaMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ReservaListaMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/RESERVALISTAMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/RESERVALISTAMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenManofactura",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenManofactura",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENMANOFACTURA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENMANOFACTURA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePedidoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PedidoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/PEDIDOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePedidoVentaInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PedidoVentaInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTAINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/PEDIDOVENTAINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteEntradaDiario",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "EntradaDiario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/ENTRADADIARIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/contabilidadcar/ENTRADADIARIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteFacturaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ReporteProyectos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "contabilidadcar/REPORTEPROYECTOS",
									"wildcardFileName": {
										"value": "@Concat('REPORTEPROYECTOS_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[REPORTEPROYECTOS]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "CADENA",
											"type": "String"
										},
										"sink": {
											"name": "CADENA"
										}
									},
									{
										"source": {
											"name": "ZTP_PROYECTO",
											"type": "String"
										},
										"sink": {
											"name": "ZTP_PROYECTO"
										}
									},
									{
										"source": {
											"name": "EJERCICIO",
											"type": "String"
										},
										"sink": {
											"name": "EJERCICIO"
										}
									},
									{
										"source": {
											"name": "PSPID",
											"type": "String"
										},
										"sink": {
											"name": "PSPID"
										}
									},
									{
										"source": {
											"name": "OBJNR",
											"type": "String"
										},
										"sink": {
											"name": "OBJNR"
										}
									},
									{
										"source": {
											"name": "STUFE",
											"type": "String"
										},
										"sink": {
											"name": "STUFE"
										}
									},
									{
										"source": {
											"name": "POST1",
											"type": "String"
										},
										"sink": {
											"name": "POST1"
										}
									},
									{
										"source": {
											"name": "VBUKR",
											"type": "String"
										},
										"sink": {
											"name": "VBUKR"
										}
									},
									{
										"source": {
											"name": "USR03",
											"type": "String"
										},
										"sink": {
											"name": "USR03"
										}
									},
									{
										"source": {
											"name": "USR01",
											"type": "String"
										},
										"sink": {
											"name": "USR01"
										}
									},
									{
										"source": {
											"name": "PLFAZ",
											"type": "String"
										},
										"sink": {
											"name": "PLFAZ"
										}
									},
									{
										"source": {
											"name": "FE_APERTURA",
											"type": "String"
										},
										"sink": {
											"name": "FE_APERTURA"
										}
									},
									{
										"source": {
											"name": "USR08",
											"type": "String"
										},
										"sink": {
											"name": "USR08"
										}
									},
									{
										"source": {
											"name": "USR09",
											"type": "String"
										},
										"sink": {
											"name": "USR09"
										}
									},
									{
										"source": {
											"name": "USR04",
											"type": "String"
										},
										"sink": {
											"name": "USR04"
										}
									},
									{
										"source": {
											"name": "USE04",
											"type": "String"
										},
										"sink": {
											"name": "USE04"
										}
									},
									{
										"source": {
											"name": "USR05",
											"type": "String"
										},
										"sink": {
											"name": "USR05"
										}
									},
									{
										"source": {
											"name": "USE05",
											"type": "String"
										},
										"sink": {
											"name": "USE05"
										}
									},
									{
										"source": {
											"name": "WTJHR",
											"type": "String"
										},
										"sink": {
											"name": "WTJHR"
										}
									},
									{
										"source": {
											"name": "WTJHR1",
											"type": "String"
										},
										"sink": {
											"name": "WTJHR1"
										}
									},
									{
										"source": {
											"name": "SUMPL_ANT",
											"type": "String"
										},
										"sink": {
											"name": "SUMPL_ANT"
										}
									},
									{
										"source": {
											"name": "SUMPL_ACT",
											"type": "String"
										},
										"sink": {
											"name": "SUMPL_ACT"
										}
									},
									{
										"source": {
											"name": "DEV_ANT",
											"type": "String"
										},
										"sink": {
											"name": "DEV_ANT"
										}
									},
									{
										"source": {
											"name": "DEV_ACT",
											"type": "String"
										},
										"sink": {
											"name": "DEV_ACT"
										}
									},
									{
										"source": {
											"name": "PRES_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "PRES_TOTAL"
										}
									},
									{
										"source": {
											"name": "CSTR_ANTERIOR",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_ANTERIOR"
										}
									},
									{
										"source": {
											"name": "CSTR_ACTUAL",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_ACTUAL"
										}
									},
									{
										"source": {
											"name": "CST_REALES",
											"type": "String"
										},
										"sink": {
											"name": "CST_REALES"
										}
									},
									{
										"source": {
											"name": "PEND_PAGAR",
											"type": "String"
										},
										"sink": {
											"name": "PEND_PAGAR"
										}
									},
									{
										"source": {
											"name": "CSTR_INVERSION",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_INVERSION"
										}
									},
									{
										"source": {
											"name": "CONC_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "CONC_TOTAL"
										}
									},
									{
										"source": {
											"name": "CONC_PAGADA",
											"type": "String"
										},
										"sink": {
											"name": "CONC_PAGADA"
										}
									},
									{
										"source": {
											"name": "INITIAL_FEE",
											"type": "String"
										},
										"sink": {
											"name": "INITIAL_FEE"
										}
									},
									{
										"source": {
											"name": "INITIAL_FEEP",
											"type": "String"
										},
										"sink": {
											"name": "INITIAL_FEEP"
										}
									},
									{
										"source": {
											"name": "INV_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "INV_TOTAL"
										}
									},
									{
										"source": {
											"name": "INV_PAGADA",
											"type": "String"
										},
										"sink": {
											"name": "INV_PAGADA"
										}
									},
									{
										"source": {
											"name": "PRCTR",
											"type": "String"
										},
										"sink": {
											"name": "PRCTR"
										}
									},
									{
										"source": {
											"name": "PLSEZ",
											"type": "String"
										},
										"sink": {
											"name": "PLSEZ"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/REPORTEPROYECTOS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_ReporteProyectos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteReporteProyectos",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ReporteProyectos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/REPORTEPROYECTOS"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/contabilidadcar/REPORTEPROYECTOS"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "InventarioMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/INVENTARIOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('INVENTARIOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[inventariomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "FISCALYEARCURRENTPERIOD",
											"type": "Int32"
										},
										"sink": {
											"name": "FISCALYEARCURRENTPERIOD"
										}
									},
									{
										"source": {
											"name": "ISCURRENTFISCALPERIOD",
											"type": "Int32"
										},
										"sink": {
											"name": "ISCURRENTFISCALPERIOD"
										}
									},
									{
										"source": {
											"name": "TOTALVALSTOCKQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTALVALSTOCKQUANTITY"
										}
									},
									{
										"source": {
											"name": "TOTALVALSTOCKVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTALVALSTOCKVALUE"
										}
									},
									{
										"source": {
											"name": "MOVINGAVERAGEPRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "MOVINGAVERAGEPRICE"
										}
									},
									{
										"source": {
											"name": "STANDARDPRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "STANDARDPRICE"
										}
									},
									{
										"source": {
											"name": "PRODUCTPRICECONTROL",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTPRICECONTROL"
										}
									},
									{
										"source": {
											"name": "VALUATIONCLASS",
											"type": "String"
										},
										"sink": {
											"name": "VALUATIONCLASS"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/INVENTARIOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_InventarioMaterial",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteInventarioMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "InventarioMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/INVENTARIOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/INVENTARIOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "FacturaInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURAINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('FACTURAINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[facturainterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER"
										}
									},
									{
										"source": {
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										"sink": {
											"name": "PARTNERFUNCTION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "ADDRESSID",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESSID"
										}
									},
									{
										"source": {
											"name": "PERSONNEL",
											"type": "String"
										},
										"sink": {
											"name": "PERSONNEL"
										}
									},
									{
										"source": {
											"name": "CONTACTPERSON",
											"type": "String"
										},
										"sink": {
											"name": "CONTACTPERSON"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaInterlocutor",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteFacturaInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURAINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "EntradaDiario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "contabilidadcar/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_entradadiario",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "08"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sap_OrdenCompra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_App_Seguridad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AgrupacionCParametro",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[AgrupacionCParametro]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[AgrupacionCParametro]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDAgrupacion,Nombre FROM app.AgrupacionCParametro",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[AgrupacionCParametro]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDAgrupacion",
											"type": "Int32"
										},
										{
											"name": "Nombre",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[AgrupacionCParametro]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDAgrupacion",
											"type": "Int32"
										},
										{
											"name": "Nombre",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[AgrupacionCParametro]"
								}
							}
						]
					},
					{
						"name": "Aplicacion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[Aplicacion]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[Aplicacion]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDAplicacion,IDPais,FechaRegistro,NombreAplicacion,NombreServidor,IPServidor,DireccionUrl,Descripcion,Estatus FROM app.Aplicacion",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[Aplicacion]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDAplicacion",
											"type": "Guid"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "NombreAplicacion",
											"type": "String"
										},
										{
											"name": "NombreServidor",
											"type": "String"
										},
										{
											"name": "IPServidor",
											"type": "String"
										},
										{
											"name": "DireccionUrl",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[app].[Aplicacion]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDAplicacion",
											"type": "Guid"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "NombreAplicacion",
											"type": "String"
										},
										{
											"name": "NombreServidor",
											"type": "String"
										},
										{
											"name": "IPServidor",
											"type": "String"
										},
										{
											"name": "DireccionUrl",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[admin_app].[Aplicacion]"
								}
							}
						]
					},
					{
						"name": "ConfiguraParametro",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[ConfiguraParametro]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[ConfiguraParametro]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDConfig,IDAgrupacion,Valor FROM app.ConfiguraParametro",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[ConfiguraParametro]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDConfig",
											"type": "Int32"
										},
										{
											"name": "IDAgrupacion",
											"type": "Int32"
										},
										{
											"name": "Valor",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[ConfiguraParametro]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDConfig",
											"type": "Int32"
										},
										{
											"name": "IDAgrupacion",
											"type": "Int32"
										},
										{
											"name": "Valor",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[ConfiguraParametro]"
								}
							}
						]
					},
					{
						"name": "JerarquiaCentroCosto",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[JerarquiaCentroCosto]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[JerarquiaCentroCosto]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDJerarquiaCentroCosto,Nombre,IDJerarquiaCentroCostoPadre,Nivel,NombreNivel,Path,Orden FROM app.JerarquiaCentroCosto",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[JerarquiaCentroCosto]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "IDJerarquiaCentroCostoPadre",
											"type": "String"
										},
										{
											"name": "Nivel",
											"type": "Int32"
										},
										{
											"name": "NombreNivel",
											"type": "String"
										},
										{
											"name": "Path",
											"type": "String"
										},
										{
											"name": "Orden",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[app].[JerarquiaCentroCosto]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "IDJerarquiaCentroCostoPadre",
											"type": "String"
										},
										{
											"name": "Nivel",
											"type": "Int32"
										},
										{
											"name": "NombreNivel",
											"type": "String"
										},
										{
											"name": "Path",
											"type": "String"
										},
										{
											"name": "Orden",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[admin_app].[JerarquiaCentroCosto]"
								}
							}
						]
					},
					{
						"name": "JerarquiaInterface",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[JerarquiaInterface]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[JerarquiaInterface]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDJerarquiaInterface,IDJerarquiaInterfacePadre,IDReporte,IDAplicacion,FechaRegistro,Nombre,Path,Descripcion,Estatus FROM app.JerarquiaInterface",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[JerarquiaInterface]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDJerarquiaInterfacePadre",
											"type": "String"
										},
										{
											"name": "IDReporte",
											"type": "Int32"
										},
										{
											"name": "IDAplicacion",
											"type": "Guid"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "Path",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[app].[JerarquiaInterface]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDJerarquiaInterfacePadre",
											"type": "String"
										},
										{
											"name": "IDReporte",
											"type": "Int32"
										},
										{
											"name": "IDAplicacion",
											"type": "Guid"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "Path",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[admin_app].[JerarquiaInterface]"
								}
							}
						]
					},
					{
						"name": "Licencia",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[Licencia]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[Licencia]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT FechaRegistro,NombreLicencia,Descricpion,ProveedorResponsable,ContactoProveedorResponsable,Servidor,FechaEmision,FechaVence,AreaResponsable,NotificarResponsable,Estado FROM app.Licencia",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[Licencia]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "NombreLicencia",
											"type": "String"
										},
										{
											"name": "Descricpion",
											"type": "String"
										},
										{
											"name": "ProveedorResponsable",
											"type": "String"
										},
										{
											"name": "ContactoProveedorResponsable",
											"type": "String"
										},
										{
											"name": "Servidor",
											"type": "String"
										},
										{
											"name": "FechaEmision",
											"type": "DateTime"
										},
										{
											"name": "FechaVence",
											"type": "DateTime"
										},
										{
											"name": "AreaResponsable",
											"type": "String"
										},
										{
											"name": "NotificarResponsable",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[app].[Licencia]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "NombreLicencia",
											"type": "String"
										},
										{
											"name": "Descricpion",
											"type": "String"
										},
										{
											"name": "ProveedorResponsable",
											"type": "String"
										},
										{
											"name": "ContactoProveedorResponsable",
											"type": "String"
										},
										{
											"name": "Servidor",
											"type": "String"
										},
										{
											"name": "FechaEmision",
											"type": "DateTime"
										},
										{
											"name": "FechaVence",
											"type": "DateTime"
										},
										{
											"name": "AreaResponsable",
											"type": "String"
										},
										{
											"name": "NotificarResponsable",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[admin_app].[Licencia]"
								}
							}
						]
					},
					{
						"name": "NivelJerarquia",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[NivelJerarquia]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[NivelJerarquia]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDNivelJerarquia,OrdenJerarquia,NombreJerarquia,TipoJerarquia,Descripcion FROM app.NivelJerarquia",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[NivelJerarquia]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDNivelJerarquia",
											"type": "Int32"
										},
										{
											"name": "OrdenJerarquia",
											"type": "Int32"
										},
										{
											"name": "NombreJerarquia",
											"type": "String"
										},
										{
											"name": "TipoJerarquia",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[NivelJerarquia]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDNivelJerarquia",
											"type": "Int32"
										},
										{
											"name": "OrdenJerarquia",
											"type": "Int32"
										},
										{
											"name": "NombreJerarquia",
											"type": "String"
										},
										{
											"name": "TipoJerarquia",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[NivelJerarquia]"
								}
							}
						]
					},
					{
						"name": "Perfil",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[Perfil]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[Perfil]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT FechaRegistro,IDPerfil,IDPais,IDPerfilReferencia,IDNivelJerarquia,Perfil,Descripcion,Estatus FROM app.Perfil",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[Perfil]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "IDPerfilReferencia",
											"type": "String"
										},
										{
											"name": "IDNivelJerarquia",
											"type": "Int32"
										},
										{
											"name": "Perfil",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[app].[Perfil]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "IDPerfilReferencia",
											"type": "String"
										},
										{
											"name": "IDNivelJerarquia",
											"type": "Int32"
										},
										{
											"name": "Perfil",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[admin_app].[Perfil]"
								}
							}
						]
					},
					{
						"name": "PermisoCentroCosto",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[PermisoCentroCosto]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[PermisoCentroCosto]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDPermisoUsuario,IDUsuario,IDPerfil,IDJerarquiaCentroCosto,FechaRegistro,FechaDesde,FechaHasta,Estatus,UsuarioInsert,UsuarioDelete FROM app.PermisoCentroCosto",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[PermisoCentroCosto]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuario",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "FechaDesde",
											"type": "DateTime"
										},
										{
											"name": "FechaHasta",
											"type": "DateTime"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "UsuarioInsert",
											"type": "String"
										},
										{
											"name": "UsuarioDelete",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[PermisoCentroCosto]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuario",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "FechaDesde",
											"type": "DateTime"
										},
										{
											"name": "FechaHasta",
											"type": "DateTime"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "UsuarioInsert",
											"type": "String"
										},
										{
											"name": "UsuarioDelete",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[PermisoCentroCosto]"
								}
							}
						]
					},
					{
						"name": "PermisoInterface",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[PermisoInterface]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[PermisoInterface]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDPermisoInterface,IDJerarquiaInterface,IDPerfil,FechaRegistro,FechaDesde,FechaHasta,Estatus,UsuarioInsert,UsuarioDelete FROM app.PermisoInterface",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[PermisoInterface]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoInterface",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "FechaDesde",
											"type": "DateTime"
										},
										{
											"name": "FechaHasta",
											"type": "DateTime"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "UsuarioInsert",
											"type": "String"
										},
										{
											"name": "UsuarioDelete",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[PermisoInterface]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoInterface",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "FechaDesde",
											"type": "DateTime"
										},
										{
											"name": "FechaHasta",
											"type": "DateTime"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "UsuarioInsert",
											"type": "String"
										},
										{
											"name": "UsuarioDelete",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[PermisoInterface]"
								}
							}
						]
					},
					{
						"name": "PermisoUsuarioAdmin",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[PermisoUsuarioAdmin]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[PermisoUsuarioAdmin]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDPermisoUsuarioAdmin,IDJerarquiaCentroCosto,IDJerarquiaInterface,IDUsuario,FechaRegistro,TipoAcceso FROM app.PermisoUsuarioAdmin",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[PermisoUsuarioAdmin]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuarioAdmin",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "TipoAcceso",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[PermisoUsuarioAdmin]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuarioAdmin",
											"type": "Int32"
										},
										{
											"name": "IDJerarquiaCentroCosto",
											"type": "String"
										},
										{
											"name": "IDJerarquiaInterface",
											"type": "String"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										},
										{
											"name": "TipoAcceso",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[PermisoUsuarioAdmin]"
								}
							}
						]
					},
					{
						"name": "PermisoUsuarioPerfil",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[PermisoUsuarioPerfil]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[PermisoUsuarioPerfil]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT IDPermisoUsuarioPerfil,IDPerfil,IDUsuario,FechaRegistro FROM app.PermisoUsuarioPerfil",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[PermisoUsuarioPerfil]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuarioPerfil",
											"type": "Int32"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[app].[PermisoUsuarioPerfil]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "IDPermisoUsuarioPerfil",
											"type": "Int32"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "FechaRegistro",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[admin_app].[PermisoUsuarioPerfil]"
								}
							}
						]
					},
					{
						"name": "Reporte",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[Reporte]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[Reporte]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT FechaCarga,IDReporte,IDReporteReferencia,IDConfigTipoReporte,IDConfigDatamart,IDConfigModelo,IDConfigRolModelo,IDConfigParamConn,Reporte,Descripcion,NombreArchivo,DescripcionSuscripcion,Objeto,IDPais,Estatus,AgrupaCadena FROM app.Reporte",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[Reporte]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "IDReporte",
											"type": "Int32"
										},
										{
											"name": "IDReporteReferencia",
											"type": "String"
										},
										{
											"name": "IDConfigTipoReporte",
											"type": "Int32"
										},
										{
											"name": "IDConfigDatamart",
											"type": "Int32"
										},
										{
											"name": "IDConfigModelo",
											"type": "Int32"
										},
										{
											"name": "IDConfigRolModelo",
											"type": "Int32"
										},
										{
											"name": "IDConfigParamConn",
											"type": "Int32"
										},
										{
											"name": "Reporte",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "NombreArchivo",
											"type": "String"
										},
										{
											"name": "DescripcionSuscripcion",
											"type": "String"
										},
										{
											"name": "Objeto",
											"type": "String"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Boolean"
										},
										{
											"name": "AgrupaCadena",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[app].[Reporte]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "IDReporte",
											"type": "Int32"
										},
										{
											"name": "IDReporteReferencia",
											"type": "String"
										},
										{
											"name": "IDConfigTipoReporte",
											"type": "Int32"
										},
										{
											"name": "IDConfigDatamart",
											"type": "Int32"
										},
										{
											"name": "IDConfigModelo",
											"type": "Int32"
										},
										{
											"name": "IDConfigRolModelo",
											"type": "Int32"
										},
										{
											"name": "IDConfigParamConn",
											"type": "Int32"
										},
										{
											"name": "Reporte",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "NombreArchivo",
											"type": "String"
										},
										{
											"name": "DescripcionSuscripcion",
											"type": "String"
										},
										{
											"name": "Objeto",
											"type": "String"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Boolean"
										},
										{
											"name": "AgrupaCadena",
											"type": "Boolean"
										}
									],
									"cw_tableName": "[[admin_app].[Reporte]"
								}
							}
						]
					},
					{
						"name": "Usuario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[Usuario]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[Usuario]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT FechaCarga,IDUsuario,Cedula,Nombre,Apellido,Login,Correo,IDPais,Estado,NombreUsuario,Frente,Origen,Empresa,Departamento,Cadena FROM app.Usuario",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[Usuario]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "Cedula",
											"type": "String"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "Apellido",
											"type": "String"
										},
										{
											"name": "Login",
											"type": "String"
										},
										{
											"name": "Correo",
											"type": "String"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Boolean"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Frente",
											"type": "String"
										},
										{
											"name": "Origen",
											"type": "Int32"
										},
										{
											"name": "Empresa",
											"type": "String"
										},
										{
											"name": "Departamento",
											"type": "String"
										},
										{
											"name": "Cadena",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[Usuario]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "Cedula",
											"type": "String"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "Apellido",
											"type": "String"
										},
										{
											"name": "Login",
											"type": "String"
										},
										{
											"name": "Correo",
											"type": "String"
										},
										{
											"name": "IDPais",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Boolean"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Frente",
											"type": "String"
										},
										{
											"name": "Origen",
											"type": "Int32"
										},
										{
											"name": "Empresa",
											"type": "String"
										},
										{
											"name": "Departamento",
											"type": "String"
										},
										{
											"name": "Cadena",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[Usuario]"
								}
							}
						]
					},
					{
						"name": "VistaPermisoReporte",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[app].[VistaPermisoReporte]"
							},
							{
								"name": "Destination",
								"value": "[[admin_app].[VistaPermisoReporte]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT PaisPerfilPermiso,IDPerfil,Perfil,IDPerfilReferencia,Identificador,Descripcion,Filtro,Estatus,IDUsuario,Cedula,Login,NombreUsuario,Correo,IDReporte,Reporte,Modelo,RolModelo,Datamart,ParametroConexion,CadenaConexion,TipoReporte,AgrupaCadena,JefeArea,InicialJA,RegionOperacion FROM app.VistaPermisoReporte WHERE TipoReporte IN ('EXCEL','MOVILES')\nUNION ALL\nSELECT PaisPerfilPermiso,IDPerfil,Perfil,IDPerfilReferencia,Identificador,Descripcion,Filtro,Estatus,IDUsuario,Cedula,Login,NombreUsuario,Correo,IDReporte,Reporte,Modelo,RolModelo,Datamart,ParametroConexion,CadenaConexion,TipoReporte,AgrupaCadena,JefeArea,InicialJA,RegionOperacion FROM app.VistaPermisoReporte WHERE TipoReporte IN ('EXCEL','MOVILES','SUSCRIPCION') AND IDReporte='ECU_OPE_VENTASEMANALBA'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [admin_app].[VistaPermisoReporte]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Sharepoint",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "PaisPerfilPermiso",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "Perfil",
											"type": "String"
										},
										{
											"name": "IDPerfilReferencia",
											"type": "String"
										},
										{
											"name": "Identificador",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Filtro",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "Cedula",
											"type": "String"
										},
										{
											"name": "Login",
											"type": "String"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Correo",
											"type": "String"
										},
										{
											"name": "IDReporte",
											"type": "String"
										},
										{
											"name": "Reporte",
											"type": "String"
										},
										{
											"name": "Modelo",
											"type": "String"
										},
										{
											"name": "RolModelo",
											"type": "String"
										},
										{
											"name": "Datamart",
											"type": "String"
										},
										{
											"name": "ParametroConexion",
											"type": "String"
										},
										{
											"name": "CadenaConexion",
											"type": "String"
										},
										{
											"name": "TipoReporte",
											"type": "String"
										},
										{
											"name": "AgrupaCadena",
											"type": "Boolean"
										},
										{
											"name": "JefeArea",
											"type": "String"
										},
										{
											"name": "InicialJA",
											"type": "String"
										},
										{
											"name": "RegionOperacion",
											"type": "String"
										}
									],
									"cw_tableName": "[[app].[VistaPermisoReporte]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "PaisPerfilPermiso",
											"type": "String"
										},
										{
											"name": "IDPerfil",
											"type": "Int32"
										},
										{
											"name": "Perfil",
											"type": "String"
										},
										{
											"name": "IDPerfilReferencia",
											"type": "String"
										},
										{
											"name": "Identificador",
											"type": "String"
										},
										{
											"name": "Descripcion",
											"type": "String"
										},
										{
											"name": "Filtro",
											"type": "String"
										},
										{
											"name": "Estatus",
											"type": "Int32"
										},
										{
											"name": "IDUsuario",
											"type": "String"
										},
										{
											"name": "Cedula",
											"type": "String"
										},
										{
											"name": "Login",
											"type": "String"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Correo",
											"type": "String"
										},
										{
											"name": "IDReporte",
											"type": "String"
										},
										{
											"name": "Reporte",
											"type": "String"
										},
										{
											"name": "Modelo",
											"type": "String"
										},
										{
											"name": "RolModelo",
											"type": "String"
										},
										{
											"name": "Datamart",
											"type": "String"
										},
										{
											"name": "ParametroConexion",
											"type": "String"
										},
										{
											"name": "CadenaConexion",
											"type": "String"
										},
										{
											"name": "TipoReporte",
											"type": "String"
										},
										{
											"name": "AgrupaCadena",
											"type": "Boolean"
										},
										{
											"name": "JefeArea",
											"type": "String"
										},
										{
											"name": "InicialJA",
											"type": "String"
										},
										{
											"name": "RegionOperacion",
											"type": "String"
										}
									],
									"cw_tableName": "[[admin_app].[VistaPermisoReporte]"
								}
							}
						]
					}
				],
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZSHAREPBDD\\BD_NEGOCIO"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "dw_admin_Bi"
					}
				},
				"folder": {
					"name": "dwh_Intranet"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_OrdenCompra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "FECHACARGA",
						"type": "String"
					},
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENT",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTCATEGORY",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTTYPE",
						"type": "String"
					},
					{
						"name": "COMPANYCODE",
						"type": "String"
					},
					{
						"name": "CREATIONDATE",
						"type": "String"
					},
					{
						"name": "LASTCHANGEDATETIME",
						"type": "String"
					},
					{
						"name": "CREATEDBYUSER",
						"type": "String"
					},
					{
						"name": "SUPPLIER",
						"type": "String"
					},
					{
						"name": "SUPPLIERRESPSALESPERSONNAME",
						"type": "String"
					},
					{
						"name": "PURCHASINGORGANIZATION",
						"type": "String"
					},
					{
						"name": "PURCHASINGGROUP",
						"type": "String"
					},
					{
						"name": "SUPPLYINGSUPPLIER",
						"type": "String"
					},
					{
						"name": "SUPPLYINGPLANT",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTITEM",
						"type": "Int32"
					},
					{
						"name": "MATERIAL",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTITEMTEXT",
						"type": "String"
					},
					{
						"name": "PLANT",
						"type": "String"
					},
					{
						"name": "STORAGELOCATION",
						"type": "String"
					},
					{
						"name": "MATERIALGROUP",
						"type": "String"
					},
					{
						"name": "ORDERQUANTITYUNIT",
						"type": "String"
					},
					{
						"name": "ISCOMPLETELYDELIVERED",
						"type": "String"
					},
					{
						"name": "ISFINALLYINVOICED",
						"type": "String"
					},
					{
						"name": "GOODSRECEIPTISEXPECTED",
						"type": "String"
					},
					{
						"name": "INVOICEISEXPECTED",
						"type": "String"
					},
					{
						"name": "INVOICEISGOODSRECEIPTBASED",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPE",
						"type": "String"
					},
					{
						"name": "MATERIALTYPE",
						"type": "String"
					},
					{
						"name": "BASEUNIT",
						"type": "String"
					},
					{
						"name": "PROFITCENTER",
						"type": "String"
					},
					{
						"name": "ORDERPRICEUNIT",
						"type": "String"
					},
					{
						"name": "NETAMOUNT",
						"type": "Decimal"
					},
					{
						"name": "GROSSAMOUNT",
						"type": "Decimal"
					},
					{
						"name": "ORDERQUANTITY",
						"type": "Decimal"
					},
					{
						"name": "NETPRICEAMOUNT",
						"type": "Decimal"
					},
					{
						"name": "DELIVERYDOCUMENTTYPE",
						"type": "String"
					},
					{
						"name": "DOCUMENTCURRENCY",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTSTATUS",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTDELETIONCODE",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTORDERDATE",
						"type": "String"
					},
					{
						"name": "PURCHASINGINFORECORD",
						"type": "String"
					},
					{
						"name": "SUPPLIERPHONENUMBER",
						"type": "String"
					},
					{
						"name": "FECHACREACIONL",
						"type": "String"
					},
					{
						"name": "FECHACREACIONML",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[OrdenCompra]"
				}
			},
			"dependsOn": []
		}
	]
}