df-bi-dwh/PartialArmTemplates/ArmTemplate_12_31_2019_10_10_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Multipais')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA MP Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Dimension",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA MP Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA DOM Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Conta Reg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Arg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Sip Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ALL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Plantas Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG INV Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_CAR_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC [dsa_int_lst].[usp_CargaTabla]\nEXEC [dsa_int_lst].[usp_CargaDependenciaTabla]\nEXEC [admin_btc].[usp_CargaTabla]\nEXEC [admin_btc].[usp_CargaDependenciaTabla]\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ECU'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ECU'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ECU'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'COL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'COL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'COL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'CHL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'CHL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'CHL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ARG'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ARG'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ARG'\n\n--Control de Cargas\nTRUNCATE TABLE admin_btc.CargaDataFactory\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA VENTA-CAR-PLANTA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA DOM Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Recarga Permisologia",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_App_Seguridad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_admin_Bi"
							}
						}
					},
					{
						"name": "Carga Info Sus Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Info_Suscripcion_Proceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Proceso": "DIMENSION",
								"SP": "admin_btc.usp_CargaInfoSuscripcion_Dimension"
							}
						}
					},
					{
						"name": "Finalizar Carga UyC",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Reescalar DWH 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA USO CONSUMO ECU'\n\nSELECT 'ok' AS Resultado"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA Conta Reg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_App_ContabilidadRegional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "SharePoint_ListaExterna"
							}
						}
					},
					{
						"name": "Finalizar Carga Venta",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga CAR Arg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Plantas Venta Embutser",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA VENTA-CAR-PLANTA'\n\nSELECT 'ok' AS Resultado"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Verificar Proceso Cubos Venta",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Tiempo Espera",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Verificar Carga Venta').output.firstRow.Resultado, 'OK')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Verificar Carga Venta",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Espera",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "IF EXISTS(SELECT * FROM admin_btc.CargaDataFactory WHERE Proceso = 'PROCESO SSAS VENTA-CAR-PLANTA' AND Estado = 1)\n\tSELECT 'OK' AS Resultado\nELSE\n\tSELECT 'REINTENTAR' AS Resultado"
										},
										"dataset": {
											"referenceName": "ds_dwh_general",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Espera",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 180
									}
								}
							],
							"timeout": "00.12:00:00"
						}
					},
					{
						"name": "Tiempo Espera",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Finalizar Carga Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 3600
						}
					},
					{
						"name": "Carga Operacion UyC Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga Uyc",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_UyC_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Carga Uyc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Tiempo Espera Log",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA USO CONSUMO ECU',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga Plantas Venta Embutser",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Plantas Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Venta_Embutser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA SG Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Operacion Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA Sip Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Tiempo Espera Log",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Verificar Proceso Cubos Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					},
					{
						"name": "Carga DSA SG INV Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Inventario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Escalar DWH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_admin_Escalar_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DWU": "DW500c"
							}
						}
					},
					{
						"name": "Reescalar DWH 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion UyC Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_admin_Escalar_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DWU": "DW100c"
							}
						}
					},
					{
						"name": "Carga Cinnabon Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Cinnabon",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Operaciones_Cinnabon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Auditoria_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ope_FacSgPorcentual",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgPorcentual",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgPorcentualCentroCosto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgPorcentual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgPorcentualCentroCosto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgDeposito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgPorcentualCentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgDeposito",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgCierreCajaChica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgPorcentualCentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgCierreCajaChica",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgCierreCaja",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgPorcentualCentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgCierreCaja",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "audi_FacSgMatrizAuditoria",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgDeposito",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ope_FacSgCierreCaja",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ope_FacSgCierreCajaChica",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ope_FacSgVentaFormaPago",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_audi",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgMatrizAuditoria",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "audi_FacSgMatrizAuditoriaAcumulada",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "audi_FacSgMatrizAuditoria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_audi",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgMatrizAuditoriaAcumulada",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgVentaFormaPago",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgPorcentualCentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_ope",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacSgVentaFormaPago",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "Int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_CAREcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Operaciones_Cinnabon')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Info Sus Venta Cinnabon",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Info_Suscripcion_Proceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Proceso": "CINNABON_ECU",
								"SP": "admin_btc.usp_CargaInfoSuscripcion_Venta_Cinnabon_Ecu"
							}
						}
					},
					{
						"name": "rpt_usp_SuscripcionFinancieroCinnabon",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh_ecu_rpt].[usp_SuscripcionFinancieroCinnabon]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadena": {
									"value": "ICEBRDELCINECU",
									"type": "String"
								},
								"Pais": {
									"value": "ECU",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Venta Cinnabon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "rpt_usp_SuscripcionMixCinnabon",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh_ecu_rpt].[usp_SuscripcionMixCinnabon]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadena": {
									"value": "ICEBRDELCINECU",
									"type": "String"
								},
								"Pais": {
									"value": "ECU",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					}
				],
				"folder": {
					"name": "dwh_OperacionesEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}