df-bi-dwh/PartialArmTemplates/ArmTemplate_3_10_2020_11_45_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Operaciones_Cinnabon')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Info Sus Venta Cinnabon",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Info_Suscripcion_Proceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Proceso": "CINNABON_ECU",
								"SP": "admin_btc.usp_CargaInfoSuscripcion_Venta_Cinnabon_Ecu"
							}
						}
					},
					{
						"name": "rpt_usp_SuscripcionFinancieroCinnabon",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh_ecu_rpt].[usp_SuscripcionFinancieroCinnabon]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadena": {
									"value": "ICEBRDELCCINECU",
									"type": "String"
								},
								"Pais": {
									"value": "ECU",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Venta Cinnabon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "rpt_usp_SuscripcionMixCinnabon",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh_ecu_rpt].[usp_SuscripcionMixCinnabon]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadena": {
									"value": "ICEBRDELCCINECU",
									"type": "String"
								},
								"Pais": {
									"value": "ECU",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					}
				],
				"folder": {
					"name": "dwh_OperacionesEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}