df-bi-dwh/PartialArmTemplates/ArmTemplate_1_10_2020_15_48_36.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Domicilio_Col')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DSA Colombia",
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Catalogos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col_Transaccional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Servidor Domicilio').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilio": {
									"value": "@activity('Servidor Domicilio').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilioWeb": {
									"value": "@activity('Servidor Domicilio Web').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilioGerente": {
									"value": "@activity('Servidor Domicilio SG').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Catalogos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Servidor Domicilio",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Servidor Domicilio Web",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Servidor Domicilio SG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col_Catalogo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Servidor Domicilio').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilio": {
									"value": "@activity('Servidor Domicilio').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilioWeb": {
									"value": "@activity('Servidor Domicilio Web').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"BaseDatosDomicilioGerente": {
									"value": "@activity('Servidor Domicilio SG').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Servidor Domicilio",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-DOMI-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_domi",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_domi",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Servidor Domicilio Web",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-DOMIWEB-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Servidor Domicilio SG",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-DOMISG-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"folder": {
					"name": "dsa_DomicilioCol"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}