df-bi-dwh/PartialArmTemplates/ArmTemplate_11_9_2020_19_35_58.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Multipais')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA MP Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu_Drive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Carga Dimension",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA MP Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Conta Reg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Sip Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG ESP",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ALL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Plantas Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA DOM Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG INV Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_CAR_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC [dsa_int_lst].[usp_CargaTabla]\nEXEC [dsa_int_lst].[usp_CargaDependenciaTabla]\nEXEC [admin_btc].[usp_CargaTabla]\nEXEC [admin_btc].[usp_CargaDependenciaTabla]\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ECU'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ECU'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ECU'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'COL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'COL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'COL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'CHL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'CHL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'CHL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ARG'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ARG'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ARG'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ESP'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ESP'\n\n--Control de Cargas\nTRUNCATE TABLE admin_btc.CargaDataFactory\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA VENTA-CAR-PLANTA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA ESPANIA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA ARGENTINA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA DOM Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Recarga Permisologia",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_App_Seguridad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_admin_Bi"
							}
						}
					},
					{
						"name": "Carga Info Sus Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Info_Suscripcion_Proceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Proceso": "DIMENSION",
								"SP": "admin_btc.usp_CargaInfoSuscripcion_Dimension"
							}
						}
					},
					{
						"name": "Carga DSA Conta Reg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_App_ContabilidadRegional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "SharePoint_ListaExterna"
							}
						}
					},
					{
						"name": "Finalizar Carga Venta",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga CAR Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Plantas Venta Embutser",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Operaciones POS Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA VENTA-CAR-PLANTA'\n\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA ESPANIA'\n\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA ARGENTINA'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Tiempo Espera",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Finalizar Carga Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 3600
						}
					},
					{
						"name": "Carga Plantas Venta Embutser",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Plantas Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Venta_Embutser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA Sip Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga DSA SG INV Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Inventario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Escalar DWH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_admin_Escalar_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DWU": "DW1000c"
							}
						}
					},
					{
						"name": "Carga Cinnabon Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Cinnabon",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Inicializar Info Suscripcion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_CargaInfoSuscripcion_Inicializa]"
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Carga DSA SG ESP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Operacion Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Auditoria Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Continuacion Carga Multipais",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Tiempo Espera",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_Carga_Multipais_Ext",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Operaciones POS Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_POS_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA SG Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Operacion Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_Carga_Multipais_Ext')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Multipais_Ext')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Finalizar Carga UyC",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Reescalar DWH 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA USO CONSUMO ECU'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Verificar Proceso Cubos Venta",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Verificar Carga Venta').output.firstRow.Resultado, 'OK')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Verificar Carga Venta",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Espera",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "IF EXISTS(SELECT * FROM admin_btc.CargaDataFactory WHERE Proceso = 'PROCESO SSAS VENTA-CAR-PLANTA' AND Estado = 1)\n\tSELECT 'OK' AS Resultado\nELSE\n\tSELECT 'REINTENTAR' AS Resultado",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_dwh_general",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Espera",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 180
									}
								}
							],
							"timeout": "00.12:00:00"
						}
					},
					{
						"name": "Carga Operacion UyC Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga Uyc",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_UyC_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Carga Uyc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Tiempo Espera Log",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA USO CONSUMO ECU',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Tiempo Espera Log",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Verificar Proceso Cubos Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					},
					{
						"name": "Reescalar DWH 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion UyC Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_admin_Escalar_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DWU": "DW100c"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Ecu_Transaccional_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VentasCaja",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[VentasCaja]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_ecu_sg].[VentasCaja]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Ven_Caja,Cod_Restaurante,Fecha,Cod_Caja,Tiempo,Transacciones,Valor,YEAR(Fecha) AS Anio,'@{pipeline().parameters.Region}' AS Region FROM dbo.VentasCaja WHERE Fecha >= '@{pipeline().parameters.FechaDesde}' AND Fecha < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SistemaGerenteEcu",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Ven_Caja",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Cod_Caja",
											"type": "String"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[VentasCaja]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Ven_Caja",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Cod_Caja",
											"type": "String"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sg].[VentasCaja]"
								}
							}
						]
					},
					{
						"name": "VentasHora",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[VentasHora]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_ecu_sg].[VentasHora]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Hora,Cod_Restaurante,Fecha,Tiempo,Transacciones,Valor,YEAR(Fecha) AS Anio,'@{pipeline().parameters.Region}' AS Region FROM dbo.VentasHora WHERE Fecha >= '@{pipeline().parameters.FechaDesde}' AND Fecha < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SistemaGerenteEcu",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Hora",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[VentasHora]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Hora",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sg].[VentasHora]"
								}
							}
						]
					},
					{
						"name": "VentasHora_Domicilio",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[VentasHora_Domicilio]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_ecu_sg].[VentasHora_Domicilio]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Hora_domicilio,Cod_Restaurante,Fecha,Tiempo,Transacciones,Valor,YEAR(Fecha) AS Anio,'@{pipeline().parameters.Region}' AS Region FROM dbo.VentasHora_Domicilio WHERE Fecha >= '@{pipeline().parameters.FechaDesde}' AND Fecha < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SistemaGerenteEcu",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Hora_domicilio",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[VentasHora_Domicilio]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Hora_domicilio",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sg].[VentasHora_Domicilio]"
								}
							}
						]
					},
					{
						"name": "VentasUsuario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[VentasUsuario]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_ecu_sg].[VentasUsuario]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Ven_Usuario,Cod_Restaurante,Fecha,Cod_Usuario,Usuario,NombreUsuario,Tiempo,Transacciones,Valor,YEAR(Fecha) AS Anio,'@{pipeline().parameters.Region}' AS Region FROM dbo.VentasUsuario WHERE Fecha >= '@{pipeline().parameters.FechaDesde}' AND Fecha < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SistemaGerenteEcu",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Ven_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Usuario",
											"type": "String"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[VentasUsuario]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Ven_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Usuario",
											"type": "String"
										},
										{
											"name": "NombreUsuario",
											"type": "String"
										},
										{
											"name": "Tiempo",
											"type": "String"
										},
										{
											"name": "Transacciones",
											"type": "Double"
										},
										{
											"name": "Valor",
											"type": "Double"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sg].[VentasUsuario]"
								}
							}
						]
					},
					{
						"name": "If Condition1",
						"description": "Aplica solo para QUITO",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.Region,'QUITO')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ST_Transaccional",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "[[dsa_ecu_sg].[ST_Transaccional]"
										},
										{
											"name": "Destination",
											"value": "[[dsa_ecu_sg].[ST_Transaccional]"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT GETDATE() AS FechaCarga,Merchantid,Fecha_Transaccion,Hora_Transaccion,Estado,Numero_Lote,Face_Value,Id_Grupo_Tarjeta,Id_Adquirente,numero_tarjeta_mask,Numero_Autorizacion,Numero_Referencia,Tipo_Transaccion,Resultado_Externo,Tipo_Switch,origen_Transaccion,YEAR(Fecha_Transaccion) AS Anio FROM dbo.ST_Transaccional WHERE Fecha_Transaccion >= '@{pipeline().parameters.FechaDesde}' AND Fecha_Transaccion < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBatchSize": 10000,
											"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sg].[ST_Transaccional]",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "linked_storage",
												"type": "LinkedServiceReference"
											},
											"path": "contenedor"
										}
									},
									"inputs": [
										{
											"referenceName": "ds_SistemaGerenteEcu",
											"type": "DatasetReference",
											"parameters": {
												"cw_structure": [
													{
														"name": "FechaCarga",
														"type": "DateTime"
													},
													{
														"name": "Merchantid",
														"type": "String"
													},
													{
														"name": "Fecha_Transaccion",
														"type": "DateTime"
													},
													{
														"name": "Hora_Transaccion",
														"type": "String"
													},
													{
														"name": "Estado",
														"type": "String"
													},
													{
														"name": "Numero_Lote",
														"type": "String"
													},
													{
														"name": "Face_Value",
														"type": "Decimal"
													},
													{
														"name": "Id_Grupo_Tarjeta",
														"type": "String"
													},
													{
														"name": "Id_Adquirente",
														"type": "String"
													},
													{
														"name": "numero_tarjeta_mask",
														"type": "String"
													},
													{
														"name": "Numero_Autorizacion",
														"type": "String"
													},
													{
														"name": "Numero_Referencia",
														"type": "String"
													},
													{
														"name": "Tipo_Transaccion",
														"type": "String"
													},
													{
														"name": "Resultado_Externo",
														"type": "String"
													},
													{
														"name": "Tipo_Switch",
														"type": "Int32"
													},
													{
														"name": "origen_Transaccion",
														"type": "Int32"
													},
													{
														"name": "Anio",
														"type": "Int32"
													}
												],
												"cw_tableName": "[[dbo].[ST_Transaccional]",
												"cw_servidor": {
													"value": "@pipeline().parameters.Servidor",
													"type": "Expression"
												},
												"cw_baseDatos": "GerenteNacional_20"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_dwh",
											"type": "DatasetReference",
											"parameters": {
												"cw_structure": [
													{
														"name": "FechaCarga",
														"type": "DateTime"
													},
													{
														"name": "Merchantid",
														"type": "String"
													},
													{
														"name": "Fecha_Transaccion",
														"type": "DateTime"
													},
													{
														"name": "Hora_Transaccion",
														"type": "String"
													},
													{
														"name": "Estado",
														"type": "String"
													},
													{
														"name": "Numero_Lote",
														"type": "String"
													},
													{
														"name": "Face_Value",
														"type": "Decimal"
													},
													{
														"name": "Id_Grupo_Tarjeta",
														"type": "String"
													},
													{
														"name": "Id_Adquirente",
														"type": "String"
													},
													{
														"name": "numero_tarjeta_mask",
														"type": "String"
													},
													{
														"name": "Numero_Autorizacion",
														"type": "String"
													},
													{
														"name": "Numero_Referencia",
														"type": "String"
													},
													{
														"name": "Tipo_Transaccion",
														"type": "String"
													},
													{
														"name": "Resultado_Externo",
														"type": "String"
													},
													{
														"name": "Tipo_Switch",
														"type": "Int32"
													},
													{
														"name": "origen_Transaccion",
														"type": "Int32"
													},
													{
														"name": "Anio",
														"type": "Int32"
													}
												],
												"cw_tableName": "[[dsa_ecu_sg].[ST_Transaccional]"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "VentaXMedio",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[VentaXMedio]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_ecu_sg].[VentaXMedio]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,cod_vtamedio,cod_cierre,fecha,cod_medio,ventaNeta,iva,ventaBruta,transacciones,Sistema,YEAR(Fecha ) AS Anio,'@{pipeline().parameters.Region}' AS Region FROM dbo.VentaXMedio WHERE Fecha  >= '@{pipeline().parameters.FechaDesde}' AND Fecha  < DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SistemaGerenteEcu",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "cod_vtamedio",
											"type": "Int32"
										},
										{
											"name": "cod_cierre",
											"type": "String"
										},
										{
											"name": "fecha",
											"type": "DateTime"
										},
										{
											"name": "cod_medio",
											"type": "Int32"
										},
										{
											"name": "ventaNeta",
											"type": "Double"
										},
										{
											"name": "iva",
											"type": "Double"
										},
										{
											"name": "ventaBruta",
											"type": "Double"
										},
										{
											"name": "transacciones",
											"type": "Int32"
										},
										{
											"name": "Sistema",
											"type": "String"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[VentaXMedio]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatos",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "cod_vtamedio",
											"type": "Int32"
										},
										{
											"name": "cod_cierre",
											"type": "String"
										},
										{
											"name": "fecha",
											"type": "DateTime"
										},
										{
											"name": "cod_medio",
											"type": "Int32"
										},
										{
											"name": "ventaNeta",
											"type": "Double"
										},
										{
											"name": "iva",
											"type": "Double"
										},
										{
											"name": "ventaBruta",
											"type": "Double"
										},
										{
											"name": "transacciones",
											"type": "Int32"
										},
										{
											"name": "Sistema",
											"type": "String"
										},
										{
											"name": "Anio",
											"type": "Int32"
										},
										{
											"name": "Region",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sg].[VentaXMedio]"
								}
							}
						]
					}
				],
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZGERENTEDBUIO"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SQLGerente_19"
					},
					"FechaDesde": {
						"type": "string"
					},
					"FechaHasta": {
						"type": "string"
					},
					"Region": {
						"type": "string",
						"defaultValue": "QUITO"
					}
				},
				"folder": {
					"name": "dsa_SistemaGerenteEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Carga Multipais')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Multipais",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_Carga_Multipais",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-05-28T22:25:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_Carga_Multipais')]"
			]
		}
	]
}