df-bi-dwh/PartialArmTemplates/ArmTemplate_7_6_2021_19_6_46.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_ContabilidadPyG_Pedidos Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SAP ECU",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_ReprocesoPyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Contabilidad Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG ECU",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Carga DSA SAP ECU",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga DSA SG ECU",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_ReprocesoContabilidadPyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONECU','FACTCONTABILIDADECU')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacPyG','FacPyGUniforme','FacPyGContabilidad')\nAND Esquema in ('dwh_ecu_cubo','dwh_ecu_conta')\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'REPROCESO PYG - CONTROL PEDIDO ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'REPROCESO PYG - CONTROL PEDIDO ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Planta Control Pedido Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'REPROCESO PYG - CONTROL PEDIDO ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Carga Operaciones Control Pedido Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_ControlPedido_Reproceso_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Planta Control Pedido Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Contabilidad Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Carga Operaciones Control Pedido Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_ControlPedido_Reproceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_ReprocesoPyG_Pedidos')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Ecu_ReprocesoContabilidadPyG_Pedidos')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Operaciones_ControlPedido_Reproceso_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Planta_Ecu_ControlPedido_Reproceso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Embutser_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SAP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_ReprocesoPyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Embutser Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SAP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Embutser_SAP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Inicializar Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'EMBUTSER ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'EMBUTSER ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Embutser Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'EMBUTSER ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_ReprocesoPyG_Pedidos')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Planta_Ecu_Embutser_SAP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Catalogo_PyG_Pedidos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CuentaContable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CUENTASCONTABLES",
									"wildcardFileName": {
										"value": "@Concat('CUENTASCONTABLES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[cuentascontables]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CUENTASCONTABLES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "GLACCOUNT",
											"type": "String"
										},
										{
											"name": "GLACCOUNTNAME",
											"type": "String"
										},
										{
											"name": "GLACCOUNTLONGNAME",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cuentascontables]"
								}
							}
						]
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "28"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_ReprocesoPyG_Pedidos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "Select Anio=year(dateadd(hh,-5,getdate()))\n,Mes=convert (char(2),dateadd(hh,-5,getdate()),101)\n,Dia=convert (char(2),dateadd(hh,-5,getdate()),103)",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "CatalogoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Catalogo_PyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Anio": {
									"value": "@activity('Fecha Carga').output.firstRow.Anio",
									"type": "Expression"
								},
								"Mes": {
									"value": "@activity('Fecha Carga').output.firstRow.Mes",
									"type": "Expression"
								},
								"Dia": {
									"value": "@activity('Fecha Carga').output.firstRow.Dia",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TransaccionalReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CatalogoReproceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_PyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Anio": {
									"value": "@activity('Fecha Carga').output.firstRow.Anio",
									"type": "Expression"
								},
								"Mes": {
									"value": "@activity('Fecha Carga').output.firstRow.Mes",
									"type": "Expression"
								},
								"Dia": {
									"value": "@activity('Fecha Carga').output.firstRow.Dia",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TransaccionalHistoricoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TransaccionalReproceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_Historico_PyG_Pedidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Catalogo_PyG_Pedidos')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Transaccional_PyG_Pedidos')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Transaccional_Historico_PyG_Pedidos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional_Historico_PyG_Pedidos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": "1"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "EntradaDiarioHistorica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaEntradaDiarioHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OrdenCompraHistorico",
						"description": "",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaOrdenCompraHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PedidoVentaHistorico",
						"description": "",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaPedidoVentaHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FacturaVentaHistorico",
						"description": "",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaFacturaVentaHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DocumentoEntrega",
						"description": "",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaDocumentoEntregaHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"Pais": {
						"type": "string",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "string",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional_PyG_Pedidos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EntradaDiario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": true,
									"wildcardFolderPath": "reproceso/contabilidad/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_entradadiario",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Blob Entrada Diario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EntradaDiario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@addMinutes(pipeline().TriggerTime,-30)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@addMinutes(pipeline().TriggerTime,+30)",
										"type": "Expression"
									},
									"wildcardFolderPath": "reproceso/contabilidad/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidadLeidos"
								}
							}
						]
					},
					{
						"name": "DeleteLeido",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Blob Entrada Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidadLeidos"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/contabilidadLeidos"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-30)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteReporceso",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Blob Entrada Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/contabilidad/ENTRADADIARIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteReprocesoOrdenCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/ORDENCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/produccionplanta/ORDENCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "OrdenCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "reproceso/produccionplanta/ORDENCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('ORDENCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[OrdenCompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLIERRESPSALESPERSONNAME",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERRESPSALESPERSONNAME"
										}
									},
									{
										"source": {
											"name": "PURCHASINGORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGORGANIZATION"
										}
									},
									{
										"source": {
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGGROUP"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGSUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGSUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGPLANT",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGPLANT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEM",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEMTEXT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEMTEXT"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "ISCOMPLETELYDELIVERED",
											"type": "String"
										},
										"sink": {
											"name": "ISCOMPLETELYDELIVERED"
										}
									},
									{
										"source": {
											"name": "ISFINALLYINVOICED",
											"type": "String"
										},
										"sink": {
											"name": "ISFINALLYINVOICED"
										}
									},
									{
										"source": {
											"name": "GOODSRECEIPTISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "GOODSRECEIPTISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISGOODSRECEIPTBASED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISGOODSRECEIPTBASED"
										}
									},
									{
										"source": {
											"name": "PRODUCTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTTYPE"
										}
									},
									{
										"source": {
											"name": "MATERIALTYPE",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALTYPE"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "ORDERPRICEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERPRICEUNIT"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORDERQUANTITY"
										}
									},
									{
										"source": {
											"name": "NETPRICEAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETPRICEAMOUNT"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "DOCUMENTCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "DOCUMENTCURRENCY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTORDERDATE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTORDERDATE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGINFORECORD",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGINFORECORD"
										}
									},
									{
										"source": {
											"name": "SUPPLIERPHONENUMBER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERPHONENUMBER"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONL",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONL"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONML",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONML"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/ORDENCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenCompra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PedidoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "reproceso/produccionplanta/PEDIDOVENTA",
									"wildcardFileName": {
										"value": "@Concat('PEDIDOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[PedidoVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/PEDIDOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_PedidoVenta",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteReprocesoPedidoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PedidoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/PEDIDOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/produccionplanta/PEDIDOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "FacturaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "reproceso/produccionplanta/FACTURAVENTA",
									"wildcardFileName": {
										"value": "@Concat('FACTURAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[FacturaVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTISCANCELLED",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTISCANCELLED"
										}
									},
									{
										"source": {
											"name": "CANCELLEDBILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLEDBILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PAYMENTMETHOD",
											"type": "String"
										},
										"sink": {
											"name": "PAYMENTMETHOD"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "ACCOUNTINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNTINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SOLDTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SOLDTOPARTY"
										}
									},
									{
										"source": {
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMERGROUP"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "BILLINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEMCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTITEMCATEGORY"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "BILLINGQUANTITY"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYINBASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITYINBASEUNIT"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "BILLTOPARTYCOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "BILLTOPARTYCOUNTRY"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "COSTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "COSTAMOUNT"
										}
									},
									{
										"source": {
											"name": "DEPARTURECOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "DEPARTURECOUNTRY"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "COSTCENTER",
											"type": "String"
										},
										"sink": {
											"name": "COSTCENTER"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "SALESDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP"
										}
									},
									{
										"source": {
											"name": "SALESORDERSALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORDERSALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATE"
										}
									},
									{
										"source": {
											"name": "OVERALLSDPROCESSSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLSDPROCESSSTATUS"
										}
									},
									{
										"source": {
											"name": "OVERALLBILLINGSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLBILLINGSTATUS"
										}
									},
									{
										"source": {
											"name": "SHIPPINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "SHIPPINGPOINT"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/FACTURAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaVenta",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteReprocesoFacturaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/FACTURAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/produccionplanta/FACTURAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DocumentoEntrega",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "reproceso/produccionplanta/DOCUMENTOENTREGA",
									"wildcardFileName": {
										"value": "@Concat('DOCUMENTOENTREGA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[documentoentrega]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDBYUSER"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATE"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTBYSUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTBYSUPPLIER"
										}
									},
									{
										"source": {
											"name": "RECEIVINGPLANT",
											"type": "String"
										},
										"sink": {
											"name": "RECEIVINGPLANT"
										}
									},
									{
										"source": {
											"name": "WAREHOUSE",
											"type": "String"
										},
										"sink": {
											"name": "WAREHOUSE"
										}
									},
									{
										"source": {
											"name": "DOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "DOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "SHIPTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SHIPTOPARTY"
										}
									},
									{
										"source": {
											"name": "DELIVERYDATE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDATE"
										}
									},
									{
										"source": {
											"name": "DELIVERYTIME",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYTIME"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "SOLDTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SOLDTOPARTY"
										}
									},
									{
										"source": {
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMERGROUP"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "OVERALLGOODSMOVEMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLGOODSMOVEMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEMCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEMCATEGORY"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEMTEXT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEMTEXT"
										}
									},
									{
										"source": {
											"name": "ORIGINALDELIVERYQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORIGINALDELIVERYQUANTITY"
										}
									},
									{
										"source": {
											"name": "DELIVERYQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "ACTUALDELIVEREDQTYINBASEUNIT",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACTUALDELIVEREDQTYINBASEUNIT"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "GLACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "GLACCOUNT"
										}
									},
									{
										"source": {
											"name": "ISCOMPLETELYDELIVERED",
											"type": "String"
										},
										"sink": {
											"name": "ISCOMPLETELYDELIVERED"
										}
									},
									{
										"source": {
											"name": "GOODSMOVEMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "GOODSMOVEMENTTYPE"
										}
									},
									{
										"source": {
											"name": "RECEIVINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "RECEIVINGPOINT"
										}
									},
									{
										"source": {
											"name": "INTERCOMPANYBILLINGSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "INTERCOMPANYBILLINGSTATUS"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "COSTCENTER",
											"type": "String"
										},
										"sink": {
											"name": "COSTCENTER"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "SDPROCESSSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "SDPROCESSSTATUS"
										}
									},
									{
										"source": {
											"name": "GOODSMOVEMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "GOODSMOVEMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "ORIGINSDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "ORIGINSDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "SDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "MATERIALTYPEPRIMARY",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALTYPEPRIMARY"
										}
									},
									{
										"source": {
											"name": "SHIPPINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "SHIPPINGPOINT"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/DOCUMENTOENTREGA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_DocumentoEntrega",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteReprocesoDocumentoEntrega",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DocumentoEntrega",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/produccionplanta/DOCUMENTOENTREGA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/produccionplanta/DOCUMENTOENTREGA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "08"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Ecu_ReprocesoContabilidadPyG_Pedidos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo Reproceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior UIO PYG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior GYE PYG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual UIO_PYG",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Anterior GYE PYG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual GYE_PYG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior2",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE_PYG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO_PYG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Anterior UIO Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior GYE Pedidos",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual UIO_Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ControlPedido",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Anterior GYE Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual GYE_Pedidos",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ControlPedido",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior2",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE_Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO_Pedidos",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ControlPedido",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual UIO PYG",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE PYG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO PYG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ContabilidadPyG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual UIO Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ControlPedido",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE Pedidos",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO Pedidos",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_ControlPedido",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE dsa_ecu_sg.DetPedidos\nTRUNCATE TABLE dsa_ecu_sg.CabPedidos\nTRUNCATE TABLE dsa_ecu_sg.ArticuloBodega\nTRUNCATE TABLE [dsa_ecu_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_ecu_sg].[PyG]\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Cargar Catalogo Reproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_CatalogoReprocesoControlPedido",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ServidorQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"ServidorGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
									"type": "Expression"
								},
								"BaseDatosGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
									"type": "Expression"
								}
							}
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Operaciones_ControlPedido_Reproceso_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Informacin Operaciones",
				"activities": [
					{
						"name": "ope_FacSgArticuloBodega",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_ope.usp_CargaFacSgArticuloBodega",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ope_FacSgMovimientoInventarioPedidos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ope_FacSgArticuloBodega",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_ope.usp_CargaFacSgMovimientoInventarioPedidos",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "Datetime",
										"value": null
									},
									"FechaFin": {
										"type": "Datetime",
										"value": null
									},
									"FechaHasta": {
										"type": "Datetime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "String",
						"defaultValue": "0"
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_OperacionesEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Planta_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Informacin Planta Ecuador",
				"activities": [
					{
						"name": "plt_FacDevolucion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacDevolucion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoTransferencia",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacDevolucion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacNivelServicioSG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoVentaSG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_cubo",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacNivelServicioSG",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacProyeccionVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacProyeccionVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacNivelServicioSGFisico",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoVentaSG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_cubo",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacNivelServicioSGFisico",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVentaSG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoVentaSG",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacTransferencia",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaMensualEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_rpt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVentaMensualEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaSemanalEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_rpt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVentaSemanalEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacCompra",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacCompra",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacProduccion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacProduccion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacReceta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacReceta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacCompraProducto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacCompraProducto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoCompra",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoCompra",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adm_ProyeccionEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_adm",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaProyeccionEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Carga Info Suscripcion Venta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_CargaInfoSuscripcion_Planta_Ecu]"
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "String",
						"defaultValue": "0"
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_PlantaEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Planta_Ecu_ControlPedido_Reproceso')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Informacin Planta Ecuador",
				"activities": [
					{
						"name": "plt_FacPedidoTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacPedidoTransferencia",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacVenta",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacTransferencia",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacPedidoVenta",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "Datetime",
										"value": null
									},
									"FechaFin": {
										"type": "Datetime",
										"value": null
									},
									"FechaHasta": {
										"type": "Datetime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "String",
						"defaultValue": "0"
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_PlantaEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Planta_Ecu_Embutser_SAP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Informacin Planta Ecuador",
				"activities": [
					{
						"name": "plt_FacDevolucion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacDevolucion",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacDevolucion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacVenta",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacVentaConsolidadaEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_cubo.usp_CargaFacVentaConsolidadaEmbutser",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaMensualEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_rpt.usp_CargaFacVentaMensualEmbutser",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaSemanalEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_rpt.usp_CargaFacVentaSemanalEmbutser",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_plt.usp_CargaFacPedidoVenta",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Carga Info Suscripcion Venta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 300,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_CargaInfoSuscripcion_Planta_Ecu]"
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "cubo_FacVentaMensualConsolidadaEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_cubo.usp_CargaFacVentaMensualConsolidadaEmbutser",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "Datetime",
										"value": null
									},
									"FechaFin": {
										"type": "Datetime",
										"value": null
									},
									"FechaHasta": {
										"type": "Datetime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "String",
						"defaultValue": "0"
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_PlantaEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Recarga Contabiliadad PyG')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_Recarga_ContabilidadPyG_Ecuador",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2021-05-07T14:51:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								20
							],
							"hours": [
								16,
								22,
								1,
								14
							],
							"monthDays": [
								9,
								10,
								12,
								13,
								14,
								11,
								15,
								8,
								16,
								17,
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Recarga PyG - Control Pedidos')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_Recarga_ContabilidadPyG_Pedidos Ecuador",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-07-01T21:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								20
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_Recarga_ContabilidadPyG_Pedidos Ecuador')]"
			]
		}
	]
}