df-bi-dwh/PartialArmTemplates/ArmTemplate_6_21_2021_19_29_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Catalogo_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HomologacionEmbutser",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/HOMOLOGACIONEMBUTSER",
									"wildcardFileName": {
										"value": "@Concat('HOMOLOGACIONEMBUTSER_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[HomologacionEmbutser]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/HOMOLOGACIONEMBUTSER"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "COSTCENTER",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										{
											"name": "BPCUSTOMERNUMBER",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUP",
											"type": "String"
										},
										{
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										{
											"name": "CREATIONDATE",
											"type": "String"
										},
										{
											"name": "CREATIONTIME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[HomologacionEmbutser]"
								}
							}
						]
					},
					{
						"name": "Material",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/MATERIAL",
									"wildcardFileName": {
										"value": "@Concat('MATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[material]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "MATERIAL",
											"type": "String"
										},
										{
											"name": "MATERIALNAME",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CREATIONDATE",
											"type": "String"
										},
										{
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										{
											"name": "PRODUCTOLDID",
											"type": "String"
										},
										{
											"name": "PRODUCTTYPE",
											"type": "String"
										},
										{
											"name": "PRODUCTGROUP",
											"type": "String"
										},
										{
											"name": "BASEUNIT",
											"type": "String"
										},
										{
											"name": "NETWEIGHT",
											"type": "Decimal"
										},
										{
											"name": "WEIGHTUNIT",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "GROSSWEIGHT",
											"type": "Decimal"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "PRODUCTHIERARCHY",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[material]"
								}
							}
						]
					},
					{
						"name": "MaterialAlmacen",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/MATERIALALMACEN",
									"wildcardFileName": {
										"value": "@Concat('MATERIALALMACEN_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[materialalmacen]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIALALMACEN"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "MATERIAL",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "WAREHOUSE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										{
											"name": "MATERIALVALUATIONCLASS",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[materialalmacen]"
								}
							}
						]
					},
					{
						"name": "MaterialVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/MATERIALVENTA",
									"wildcardFileName": {
										"value": "@Concat('MATERIALVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[materialventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIALVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PRODUCT",
											"type": "String"
										},
										{
											"name": "PRODUCTSALESORG",
											"type": "String"
										},
										{
											"name": "PRODUCTDISTRIBUTIONCHNL",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUP",
											"type": "String"
										},
										{
											"name": "SALESMEASUREUNIT",
											"type": "String"
										},
										{
											"name": "PRODUCTHIERARCHY",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[materialventa]"
								}
							}
						]
					},
					{
						"name": "Planta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/PLANTA",
									"wildcardFileName": {
										"value": "@Concat('PLANTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[planta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PLANTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "PLANTNAME",
											"type": "String"
										},
										{
											"name": "FACTORYCALENDAR",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[planta]"
								}
							}
						]
					},
					{
						"name": "PlantaEmpresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/PLANTAEMPRESA",
									"wildcardFileName": {
										"value": "@Concat('PLANTAEMPRESA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[plantaempresa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PLANTAEMPRESA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[plantaempresa]"
								}
							}
						]
					},
					{
						"name": "Proveedor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/PROVEEDOR",
									"wildcardFileName": {
										"value": "@Concat('PROVEEDOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[proveedor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PROVEEDOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SUPPLIER",
											"type": "String"
										},
										{
											"name": "SUPPLIERACCOUNTGROUP",
											"type": "String"
										},
										{
											"name": "SUPPLIERNAME",
											"type": "String"
										},
										{
											"name": "SUPPLIERFULLNAME",
											"type": "String"
										},
										{
											"name": "BPTAXTYPE",
											"type": "String"
										},
										{
											"name": "BPTAXNUMBER",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME1",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME2",
											"type": "String"
										},
										{
											"name": "CITYNAME",
											"type": "String"
										},
										{
											"name": "STREETNAME",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "PHONENUMBER1",
											"type": "String"
										},
										{
											"name": "FAXNUMBER",
											"type": "String"
										},
										{
											"name": "SORTFIELD",
											"type": "String"
										},
										{
											"name": "SUPPLIERLANGUAGE",
											"type": "String"
										},
										{
											"name": "BUSINESSTYPE",
											"type": "String"
										},
										{
											"name": "INDUSTRYTYPE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[proveedor]"
								}
							}
						]
					},
					{
						"name": "ProveedorEmpresaPlanta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/PROVEEDOREMPRESAPLANTA",
									"wildcardFileName": {
										"value": "@Concat('PROVEEDOREMPRESAPLANTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[proveedorempresaplanta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PROVEEDOREMPRESAPLANTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "SUPPLIER",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "CASHPLANNINGGROUP",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[proveedorempresaplanta]"
								}
							}
						]
					},
					{
						"name": "StatusFacturaCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/STATUSFACTURACOMPRA",
									"wildcardFileName": {
										"value": "@Concat('STATUSFACTURACOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[statusfacturacompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSFACTURACOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SUPPLIERINVOICESTATUS",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "SUPPLIERINVOICESTATUSDESC",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[statusfacturacompra]"
								}
							}
						]
					},
					{
						"name": "StatusFacturaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/STATUSFACTURAVENTA",
									"wildcardFileName": {
										"value": "@Concat('STATUSFACTURAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[statusfacturaventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSFACTURAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "OVERALLBILLINGSTATUS",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "OVERALLBILLINGSTATUSDESC",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[statusfacturaventa]"
								}
							}
						]
					},
					{
						"name": "StatusOrdenCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/STATUSORDENCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('STATUSORDENCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[statusordencompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSORDENCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PURCHASINGDOCUMENTSTATUS",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "PURCHASINGDOCUMENTSTATUSNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[statusordencompra]"
								}
							}
						]
					},
					{
						"name": "StatusProcesoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/STATUSPROCESOVENTA",
									"wildcardFileName": {
										"value": "@Concat('STATUSPROCESOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[statusprocesoventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSPROCESOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "OVERALLSDPROCESSSTATUS",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "OVERALLSDPROCESSSTATUSDESC",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[statusprocesoventa]"
								}
							}
						]
					},
					{
						"name": "TipoCondicion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/TIPOCONDICION",
									"wildcardFileName": {
										"value": "@Concat('TIPOCONDICION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[tipocondicion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/TIPOCONDICION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CONDITIONTYPE",
											"type": "String"
										},
										{
											"name": "CONDITIONTYPENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "CONDITIONAPPLICATION",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[tipocondicion]"
								}
							}
						]
					},
					{
						"name": "TipoMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/TIPOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('TIPOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[tipomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/TIPOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "MATERIALTYPE",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALTYPENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "PRICE_CONTROL",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[tipomaterial]"
								}
							}
						]
					},
					{
						"name": "UnidadMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/UNIDADMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('UNIDADMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[UNIDADMATERIAL]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/UNIDADMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PRODUCT",
											"type": "String"
										},
										{
											"name": "ALTERNATIVEUNIT",
											"type": "String"
										},
										{
											"name": "QUANTITYNUMERATOR",
											"type": "Decimal"
										},
										{
											"name": "QUANTITYDENOMINATOR",
											"type": "Decimal"
										},
										{
											"name": "GROSSWEIGHT",
											"type": "Decimal"
										},
										{
											"name": "WEIGHTUNIT",
											"type": "String"
										},
										{
											"name": "ISACTIVEENTITY",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[UNIDADMATERIAL]"
								}
							}
						]
					},
					{
						"name": "DeleteHomologacionEmbutser",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "HomologacionEmbutser",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/HOMOLOGACIONEMBUTSER"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/HOMOLOGACIONEMBUTSER"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Material",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/MATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteMaterialAlmacen",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "MaterialAlmacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIALALMACEN"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/MATERIALALMACEN"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteMaterialVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "MaterialVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/MATERIALVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/MATERIALVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePlanta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Planta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PLANTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/PLANTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePlantaEmpresa",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PlantaEmpresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PLANTAEMPRESA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/PLANTAEMPRESA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteProveedor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Proveedor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PROVEEDOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/PROVEEDOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteProveedorEmpresaPlanta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ProveedorEmpresaPlanta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PROVEEDOREMPRESAPLANTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/PROVEEDOREMPRESAPLANTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteStatusFacturaCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "StatusFacturaCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSFACTURACOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/STATUSFACTURACOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteStatusFacturaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "StatusFacturaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSFACTURAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/STATUSFACTURAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteStatusOrdenCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "StatusOrdenCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSORDENCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/STATUSORDENCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteStatusProcesoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "StatusProcesoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/STATUSPROCESOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/STATUSPROCESOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteTipoCondicion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "TipoCondicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/TIPOCONDICION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/TIPOCONDICION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteTipoMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "TipoMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/TIPOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/TIPOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteUnidadMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "UnidadMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/UNIDADMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/UNIDADMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "JerarquiaMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/JERARQUIAMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('JERARQUIAMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[jerarquiamaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/JERARQUIAMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PRODUCTHIERARCHY",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "PRODUCTHIERARCHYTEXT",
											"type": "String"
										},
										{
											"name": "PRODUCTHIERARCHYLEVEL",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[jerarquiamaterial]"
								}
							}
						]
					},
					{
						"name": "DELETEJerarquiaMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "JerarquiaMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/JERARQUIAMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/JERARQUIAMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "UnidadMedida",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/UNIDADMEDIDA",
									"wildcardFileName": {
										"value": "@Concat('UNIDADMEDIDA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[unidadmedida]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/UNIDADMEDIDA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MEASURE_UNIT",
											"type": "String"
										},
										{
											"name": "MEASURE_UNIT_COM",
											"type": "String"
										},
										{
											"name": "MEASURE_UNIT_TEC",
											"type": "String"
										},
										{
											"name": "MEASURE_TEXT_SHORT",
											"type": "String"
										},
										{
											"name": "MEASURE_TEXT_LARGE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[unidadmedida]"
								}
							}
						]
					},
					{
						"name": "DELETEUnidadMedida",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "UnidadMedida",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/UNIDADMEDIDA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/UNIDADMEDIDA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Division",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/DIVISION",
									"wildcardFileName": {
										"value": "@Concat('DIVISION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[division]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/DIVISION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "DESCRIPTION",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[division]"
								}
							}
						]
					},
					{
						"name": "DELETEDivision",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Division",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/DIVISION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/DIVISION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "PuntoExpedicion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/PTOEXPEDICION",
									"wildcardFileName": {
										"value": "@Concat('PTOEXPEDICION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[PuntoExpedicion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "LOGGR",
											"type": "String"
										},
										"sink": {
											"name": "LOGGR"
										}
									},
									{
										"source": {
											"name": "LTEXT",
											"type": "String"
										},
										"sink": {
											"name": "LTEXT"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PTOEXPEDICION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LOGGR",
											"type": "String"
										},
										{
											"name": "LTEXT",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[PuntoExpedicion]"
								}
							}
						]
					},
					{
						"name": "DELETEPuntoExpedicion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PuntoExpedicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/PTOEXPEDICION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/PTOEXPEDICION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2021"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "01"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "13"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_dwh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FacturaCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURACOMPRA",
									"wildcardFileName": {
										"value": "@Concat('FACTURACOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[FacturaCompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURACOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaCompra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenCompraCondicion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENCOMPRACONDICION",
									"wildcardFileName": {
										"value": "@Concat('ORDENCOMPRACONDICION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[OrdenCompraCondicion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDER"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDERITEM",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDERITEM"
										}
									},
									{
										"source": {
											"name": "CONDITIONAPPLICATION",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONAPPLICATION"
										}
									},
									{
										"source": {
											"name": "CONDITIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONTYPE"
										}
									},
									{
										"source": {
											"name": "CONDITIONBASEVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONBASEVALUE"
										}
									},
									{
										"source": {
											"name": "CONDITIONRATEVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONRATEVALUE"
										}
									},
									{
										"source": {
											"name": "CONDITIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "CONDITIONQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONQUANTITY"
										}
									},
									{
										"source": {
											"name": "CONDITIONQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "CONDITIONQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "TAXCODE",
											"type": "String"
										},
										"sink": {
											"name": "TAXCODE"
										}
									},
									{
										"source": {
											"name": "CONDITIONAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "CONDITIONAMOUNT"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "PRICINGDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "PRICINGDATETIME"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRACONDICION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenCompraCondicion",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ReservaListaMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/RESERVALISTAMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('RESERVALISTAMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[RESERVALISTAMATERIAL]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/RESERVALISTAMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_ReservaMaterial",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenManofactura",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENMANOFACTURA",
									"wildcardFileName": {
										"value": "@Concat('ORDENMANOFACTURA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[ORDENMANOFACTURA]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENMANOFACTURA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenManofactura",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PedidoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/PEDIDOVENTA",
									"wildcardFileName": {
										"value": "@Concat('PEDIDOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[PedidoVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_PedidoVenta",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PedidoVentaInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/PEDIDOVENTAINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('PEDIDOVENTAINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[pedidoventainterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER"
										}
									},
									{
										"source": {
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										"sink": {
											"name": "PARTNERFUNCTION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "ADDRESSID",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESSID"
										}
									},
									{
										"source": {
											"name": "PERSONNEL",
											"type": "String"
										},
										"sink": {
											"name": "PERSONNEL"
										}
									},
									{
										"source": {
											"name": "CONTACTPERSON",
											"type": "String"
										},
										"sink": {
											"name": "CONTACTPERSON"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTAINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_PedidoVentaInterlocutor",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrdenCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/ORDENCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('ORDENCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[OrdenCompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLIERRESPSALESPERSONNAME",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERRESPSALESPERSONNAME"
										}
									},
									{
										"source": {
											"name": "PURCHASINGORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGORGANIZATION"
										}
									},
									{
										"source": {
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGGROUP"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGSUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGSUPPLIER"
										}
									},
									{
										"source": {
											"name": "SUPPLYINGPLANT",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLYINGPLANT"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEM",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTITEMTEXT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTITEMTEXT"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "ISCOMPLETELYDELIVERED",
											"type": "String"
										},
										"sink": {
											"name": "ISCOMPLETELYDELIVERED"
										}
									},
									{
										"source": {
											"name": "ISFINALLYINVOICED",
											"type": "String"
										},
										"sink": {
											"name": "ISFINALLYINVOICED"
										}
									},
									{
										"source": {
											"name": "GOODSRECEIPTISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "GOODSRECEIPTISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISEXPECTED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISEXPECTED"
										}
									},
									{
										"source": {
											"name": "INVOICEISGOODSRECEIPTBASED",
											"type": "String"
										},
										"sink": {
											"name": "INVOICEISGOODSRECEIPTBASED"
										}
									},
									{
										"source": {
											"name": "PRODUCTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTTYPE"
										}
									},
									{
										"source": {
											"name": "MATERIALTYPE",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALTYPE"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "ORDERPRICEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "ORDERPRICEUNIT"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "ORDERQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORDERQUANTITY"
										}
									},
									{
										"source": {
											"name": "NETPRICEAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETPRICEAMOUNT"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "DOCUMENTCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "DOCUMENTCURRENCY"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTDELETIONCODE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGDOCUMENTORDERDATE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGDOCUMENTORDERDATE"
										}
									},
									{
										"source": {
											"name": "PURCHASINGINFORECORD",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASINGINFORECORD"
										}
									},
									{
										"source": {
											"name": "SUPPLIERPHONENUMBER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIERPHONENUMBER"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONL",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONL"
										}
									},
									{
										"source": {
											"name": "FECHACREACIONML",
											"type": "String"
										},
										"sink": {
											"name": "FECHACREACIONML"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_OrdenCompra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteFacturaCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURACOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURACOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteDocumentoEntrega",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "DocumentoEntrega",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/DOCUMENTOENTREGA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/DOCUMENTOENTREGA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenCompraCondicion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenCompraCondicion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRACONDICION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENCOMPRACONDICION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteReservaListaMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ReservaListaMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/RESERVALISTAMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/RESERVALISTAMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenManofactura",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenManofactura",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENMANOFACTURA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENMANOFACTURA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePedidoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PedidoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/PEDIDOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeletePedidoVentaInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PedidoVentaInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PEDIDOVENTAINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/PEDIDOVENTAINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteEntradaDiario",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "EntradaDiario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/ENTRADADIARIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/contabilidadcar/ENTRADADIARIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteFacturaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteOrdenCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "OrdenCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/ORDENCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/ORDENCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ReporteProyectos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "contabilidadcar/REPORTEPROYECTOS",
									"wildcardFileName": {
										"value": "@Concat('REPORTEPROYECTOS_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[REPORTEPROYECTOS]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "CADENA",
											"type": "String"
										},
										"sink": {
											"name": "CADENA"
										}
									},
									{
										"source": {
											"name": "ZTP_PROYECTO",
											"type": "String"
										},
										"sink": {
											"name": "ZTP_PROYECTO"
										}
									},
									{
										"source": {
											"name": "EJERCICIO",
											"type": "String"
										},
										"sink": {
											"name": "EJERCICIO"
										}
									},
									{
										"source": {
											"name": "PSPID",
											"type": "String"
										},
										"sink": {
											"name": "PSPID"
										}
									},
									{
										"source": {
											"name": "OBJNR",
											"type": "String"
										},
										"sink": {
											"name": "OBJNR"
										}
									},
									{
										"source": {
											"name": "STUFE",
											"type": "String"
										},
										"sink": {
											"name": "STUFE"
										}
									},
									{
										"source": {
											"name": "POST1",
											"type": "String"
										},
										"sink": {
											"name": "POST1"
										}
									},
									{
										"source": {
											"name": "VBUKR",
											"type": "String"
										},
										"sink": {
											"name": "VBUKR"
										}
									},
									{
										"source": {
											"name": "USR03",
											"type": "String"
										},
										"sink": {
											"name": "USR03"
										}
									},
									{
										"source": {
											"name": "USR01",
											"type": "String"
										},
										"sink": {
											"name": "USR01"
										}
									},
									{
										"source": {
											"name": "PLFAZ",
											"type": "String"
										},
										"sink": {
											"name": "PLFAZ"
										}
									},
									{
										"source": {
											"name": "FE_APERTURA",
											"type": "String"
										},
										"sink": {
											"name": "FE_APERTURA"
										}
									},
									{
										"source": {
											"name": "USR08",
											"type": "String"
										},
										"sink": {
											"name": "USR08"
										}
									},
									{
										"source": {
											"name": "USR09",
											"type": "String"
										},
										"sink": {
											"name": "USR09"
										}
									},
									{
										"source": {
											"name": "USR04",
											"type": "String"
										},
										"sink": {
											"name": "USR04"
										}
									},
									{
										"source": {
											"name": "USE04",
											"type": "String"
										},
										"sink": {
											"name": "USE04"
										}
									},
									{
										"source": {
											"name": "USR05",
											"type": "String"
										},
										"sink": {
											"name": "USR05"
										}
									},
									{
										"source": {
											"name": "USE05",
											"type": "String"
										},
										"sink": {
											"name": "USE05"
										}
									},
									{
										"source": {
											"name": "WTJHR",
											"type": "String"
										},
										"sink": {
											"name": "WTJHR"
										}
									},
									{
										"source": {
											"name": "WTJHR1",
											"type": "String"
										},
										"sink": {
											"name": "WTJHR1"
										}
									},
									{
										"source": {
											"name": "SUMPL_ANT",
											"type": "String"
										},
										"sink": {
											"name": "SUMPL_ANT"
										}
									},
									{
										"source": {
											"name": "SUMPL_ACT",
											"type": "String"
										},
										"sink": {
											"name": "SUMPL_ACT"
										}
									},
									{
										"source": {
											"name": "DEV_ANT",
											"type": "String"
										},
										"sink": {
											"name": "DEV_ANT"
										}
									},
									{
										"source": {
											"name": "DEV_ACT",
											"type": "String"
										},
										"sink": {
											"name": "DEV_ACT"
										}
									},
									{
										"source": {
											"name": "PRES_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "PRES_TOTAL"
										}
									},
									{
										"source": {
											"name": "CSTR_ANTERIOR",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_ANTERIOR"
										}
									},
									{
										"source": {
											"name": "CSTR_ACTUAL",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_ACTUAL"
										}
									},
									{
										"source": {
											"name": "CST_REALES",
											"type": "String"
										},
										"sink": {
											"name": "CST_REALES"
										}
									},
									{
										"source": {
											"name": "PEND_PAGAR",
											"type": "String"
										},
										"sink": {
											"name": "PEND_PAGAR"
										}
									},
									{
										"source": {
											"name": "CSTR_INVERSION",
											"type": "String"
										},
										"sink": {
											"name": "CSTR_INVERSION"
										}
									},
									{
										"source": {
											"name": "CONC_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "CONC_TOTAL"
										}
									},
									{
										"source": {
											"name": "CONC_PAGADA",
											"type": "String"
										},
										"sink": {
											"name": "CONC_PAGADA"
										}
									},
									{
										"source": {
											"name": "INITIAL_FEE",
											"type": "String"
										},
										"sink": {
											"name": "INITIAL_FEE"
										}
									},
									{
										"source": {
											"name": "INITIAL_FEEP",
											"type": "String"
										},
										"sink": {
											"name": "INITIAL_FEEP"
										}
									},
									{
										"source": {
											"name": "INV_TOTAL",
											"type": "String"
										},
										"sink": {
											"name": "INV_TOTAL"
										}
									},
									{
										"source": {
											"name": "INV_PAGADA",
											"type": "String"
										},
										"sink": {
											"name": "INV_PAGADA"
										}
									},
									{
										"source": {
											"name": "PRCTR",
											"type": "String"
										},
										"sink": {
											"name": "PRCTR"
										}
									},
									{
										"source": {
											"name": "PLSEZ",
											"type": "String"
										},
										"sink": {
											"name": "PLSEZ"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/REPORTEPROYECTOS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_ReporteProyectos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteReporteProyectos",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ReporteProyectos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/REPORTEPROYECTOS"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/contabilidadcar/REPORTEPROYECTOS"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "InventarioMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/INVENTARIOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('INVENTARIOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[inventariomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "FISCALYEARCURRENTPERIOD",
											"type": "Int32"
										},
										"sink": {
											"name": "FISCALYEARCURRENTPERIOD"
										}
									},
									{
										"source": {
											"name": "ISCURRENTFISCALPERIOD",
											"type": "Int32"
										},
										"sink": {
											"name": "ISCURRENTFISCALPERIOD"
										}
									},
									{
										"source": {
											"name": "TOTALVALSTOCKQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTALVALSTOCKQUANTITY"
										}
									},
									{
										"source": {
											"name": "TOTALVALSTOCKVALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTALVALSTOCKVALUE"
										}
									},
									{
										"source": {
											"name": "MOVINGAVERAGEPRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "MOVINGAVERAGEPRICE"
										}
									},
									{
										"source": {
											"name": "STANDARDPRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "STANDARDPRICE"
										}
									},
									{
										"source": {
											"name": "PRODUCTPRICECONTROL",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCTPRICECONTROL"
										}
									},
									{
										"source": {
											"name": "VALUATIONCLASS",
											"type": "String"
										},
										"sink": {
											"name": "VALUATIONCLASS"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/INVENTARIOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_InventarioMaterial",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteInventarioMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "InventarioMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/INVENTARIOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/INVENTARIOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "FacturaInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURAINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('FACTURAINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[facturainterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "CUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER"
										}
									},
									{
										"source": {
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										"sink": {
											"name": "PARTNERFUNCTION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "ADDRESSID",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESSID"
										}
									},
									{
										"source": {
											"name": "PERSONNEL",
											"type": "String"
										},
										"sink": {
											"name": "PERSONNEL"
										}
									},
									{
										"source": {
											"name": "CONTACTPERSON",
											"type": "String"
										},
										"sink": {
											"name": "CONTACTPERSON"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaInterlocutor",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteFacturaInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FacturaInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/FACTURAINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "EntradaDiario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "contabilidadcar/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "contabilidadcar/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_entradadiario",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteProyeccionpresupuestoembutser",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "PROYECCIONPRESUPUESTOEMBUTSER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PROYECCIONPRESUPUESTOEMBUTSER"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/produccionplanta/PROYECCIONPRESUPUESTOEMBUTSER"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "PROYECCIONPRESUPUESTOEMBUTSER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/PROYECCIONPRESUPUESTOEMBUTSER",
									"wildcardFileName": {
										"value": "@Concat('PROYECCIONPRESUPUESTOEMBUTSER_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].PROYECCIONPRESUPUESTOEMBUTSER",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "CENTROCOSTEMEBU",
											"type": "String"
										},
										"sink": {
											"name": "CENTROCOSTEMEBU"
										}
									},
									{
										"source": {
											"name": "FECHAPROYECCION",
											"type": "String"
										},
										"sink": {
											"name": "FECHAPROYECCION"
										}
									},
									{
										"source": {
											"name": "MODELO",
											"type": "String"
										},
										"sink": {
											"name": "MODELO"
										}
									},
									{
										"source": {
											"name": "IMPORTE",
											"type": "String"
										},
										"sink": {
											"name": "IMPORTE"
										}
									},
									{
										"source": {
											"name": "MONEDA",
											"type": "String"
										},
										"sink": {
											"name": "MONEDA"
										}
									},
									{
										"source": {
											"name": "CANTIDAD",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANTIDAD"
										}
									},
									{
										"source": {
											"name": "UNIDAD",
											"type": "String"
										},
										"sink": {
											"name": "UNIDAD"
										}
									},
									{
										"source": {
											"name": "PRECIO",
											"type": "Decimal"
										},
										"sink": {
											"name": "PRECIO"
										}
									},
									{
										"source": {
											"name": "CUENTACONTABLEEMBU",
											"type": "String"
										},
										"sink": {
											"name": "CUENTACONTABLEEMBU"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "TIPO",
											"type": "String"
										},
										"sink": {
											"name": "TIPO"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/PROYECCIONPRESUPUESTOEMBUTSER"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_ProyeccionPresupuestoEmbutser",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DocumentoEntrega",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/DOCUMENTOENTREGA",
									"wildcardFileName": {
										"value": "@Concat('DOCUMENTOENTREGA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[documentoentrega]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDBYUSER"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATE"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "SUPPLIER"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTBYSUPPLIER",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTBYSUPPLIER"
										}
									},
									{
										"source": {
											"name": "RECEIVINGPLANT",
											"type": "String"
										},
										"sink": {
											"name": "RECEIVINGPLANT"
										}
									},
									{
										"source": {
											"name": "WAREHOUSE",
											"type": "String"
										},
										"sink": {
											"name": "WAREHOUSE"
										}
									},
									{
										"source": {
											"name": "DOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "DOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "SHIPTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SHIPTOPARTY"
										}
									},
									{
										"source": {
											"name": "DELIVERYDATE",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDATE"
										}
									},
									{
										"source": {
											"name": "DELIVERYTIME",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYTIME"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "SOLDTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SOLDTOPARTY"
										}
									},
									{
										"source": {
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMERGROUP"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "OVERALLGOODSMOVEMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLGOODSMOVEMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEMCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEMCATEGORY"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "DELIVERYDOCUMENTITEMTEXT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYDOCUMENTITEMTEXT"
										}
									},
									{
										"source": {
											"name": "ORIGINALDELIVERYQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ORIGINALDELIVERYQUANTITY"
										}
									},
									{
										"source": {
											"name": "DELIVERYQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "DELIVERYQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "ACTUALDELIVEREDQTYINBASEUNIT",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACTUALDELIVEREDQTYINBASEUNIT"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "GLACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "GLACCOUNT"
										}
									},
									{
										"source": {
											"name": "ISCOMPLETELYDELIVERED",
											"type": "String"
										},
										"sink": {
											"name": "ISCOMPLETELYDELIVERED"
										}
									},
									{
										"source": {
											"name": "GOODSMOVEMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "GOODSMOVEMENTTYPE"
										}
									},
									{
										"source": {
											"name": "RECEIVINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "RECEIVINGPOINT"
										}
									},
									{
										"source": {
											"name": "INTERCOMPANYBILLINGSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "INTERCOMPANYBILLINGSTATUS"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "COSTCENTER",
											"type": "String"
										},
										"sink": {
											"name": "COSTCENTER"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "SDPROCESSSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "SDPROCESSSTATUS"
										}
									},
									{
										"source": {
											"name": "GOODSMOVEMENTSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "GOODSMOVEMENTSTATUS"
										}
									},
									{
										"source": {
											"name": "ORIGINSDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "ORIGINSDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "SDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "MATERIALTYPEPRIMARY",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALTYPEPRIMARY"
										}
									},
									{
										"source": {
											"name": "SHIPPINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "SHIPPINGPOINT"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/DOCUMENTOENTREGA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_DocumentoEntrega",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "FacturaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "produccionplanta/FACTURAVENTA",
									"wildcardFileName": {
										"value": "@Concat('FACTURAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[FacturaVenta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTCATEGORY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTTYPE"
										}
									},
									{
										"source": {
											"name": "CREATEDBYUSER",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDBYUSER"
										}
									},
									{
										"source": {
											"name": "FECHACARGA",
											"type": "String"
										},
										"sink": {
											"name": "FECHACARGA"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONTIME"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATIONDATE"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTDATE",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTDATE"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTISCANCELLED",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGDOCUMENTISCANCELLED"
										}
									},
									{
										"source": {
											"name": "CANCELLEDBILLINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLEDBILLINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "PAYMENTMETHOD",
											"type": "String"
										},
										"sink": {
											"name": "PAYMENTMETHOD"
										}
									},
									{
										"source": {
											"name": "COMPANYCODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANYCODE"
										}
									},
									{
										"source": {
											"name": "ACCOUNTINGDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNTINGDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SOLDTOPARTY",
											"type": "String"
										},
										"sink": {
											"name": "SOLDTOPARTY"
										}
									},
									{
										"source": {
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMERGROUP"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY"
										}
									},
									{
										"source": {
											"name": "BILLINGDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "BILLINGDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEMCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTITEMCATEGORY"
										}
									},
									{
										"source": {
											"name": "MATERIAL",
											"type": "String"
										},
										"sink": {
											"name": "MATERIAL"
										}
									},
									{
										"source": {
											"name": "MATERIALGROUP",
											"type": "String"
										},
										"sink": {
											"name": "MATERIALGROUP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"name": "PLANT"
										}
									},
									{
										"source": {
											"name": "STORAGELOCATION",
											"type": "String"
										},
										"sink": {
											"name": "STORAGELOCATION"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "BILLINGQUANTITY"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITYUNIT"
										}
									},
									{
										"source": {
											"name": "BILLINGQUANTITYINBASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BILLINGQUANTITYINBASEUNIT"
										}
									},
									{
										"source": {
											"name": "BASEUNIT",
											"type": "String"
										},
										"sink": {
											"name": "BASEUNIT"
										}
									},
									{
										"source": {
											"name": "BILLTOPARTYCOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "BILLTOPARTYCOUNTRY"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT"
										}
									},
									{
										"source": {
											"name": "COSTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "COSTAMOUNT"
										}
									},
									{
										"source": {
											"name": "DEPARTURECOUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "DEPARTURECOUNTRY"
										}
									},
									{
										"source": {
											"name": "PROFITCENTER",
											"type": "String"
										},
										"sink": {
											"name": "PROFITCENTER"
										}
									},
									{
										"source": {
											"name": "COSTCENTER",
											"type": "String"
										},
										"sink": {
											"name": "COSTCENTER"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENT"
										}
									},
									{
										"source": {
											"name": "REFERENCESDDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "REFERENCESDDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTITEM",
											"type": "Int32"
										},
										"sink": {
											"name": "SALESDOCUMENTITEM"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP"
										}
									},
									{
										"source": {
											"name": "SALESORDERSALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORDERSALESORGANIZATION"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										},
										"sink": {
											"name": "LASTCHANGEDATE"
										}
									},
									{
										"source": {
											"name": "OVERALLSDPROCESSSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLSDPROCESSSTATUS"
										}
									},
									{
										"source": {
											"name": "OVERALLBILLINGSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "OVERALLBILLINGSTATUS"
										}
									},
									{
										"source": {
											"name": "SHIPPINGPOINT",
											"type": "String"
										},
										"sink": {
											"name": "SHIPPINGPOINT"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "produccionplanta/FACTURAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_FacturaVenta",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "08"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dwh')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_structure": {
						"type": "Array"
					},
					"cw_tableName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "dwh_General"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "FECHACARGA",
						"type": "String"
					},
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "LOGGR",
						"type": "String"
					},
					{
						"name": "LTEXT",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().cw_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_Costos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "BWKEY",
						"type": "String"
					},
					{
						"name": "MATNR",
						"type": "String"
					},
					{
						"name": "COSTO_INTERNO",
						"type": "Decimal"
					},
					{
						"name": "LBKUM",
						"type": "Decimal"
					},
					{
						"name": "UNIDAD",
						"type": "String"
					},
					{
						"name": "VALOR_PROVISIONAL",
						"type": "Decimal"
					},
					{
						"name": "DIF_PRECIO",
						"type": "Decimal"
					},
					{
						"name": "LFGJA",
						"type": "Int32"
					},
					{
						"name": "LFMON",
						"type": "Int32"
					},
					{
						"name": "VALOR_STOCK",
						"type": "Decimal"
					},
					{
						"name": "VPRSV",
						"type": "String"
					},
					{
						"name": "PRECIO_ESTANDAR",
						"type": "Decimal"
					},
					{
						"name": "TOTAL_MATERIAL",
						"type": "Decimal"
					},
					{
						"name": "MANO_OBRA_TOTAL",
						"type": "Decimal"
					},
					{
						"name": "CIF_TOTAL",
						"type": "Decimal"
					},
					{
						"name": "DEPRE_TOTAL",
						"type": "Decimal"
					},
					{
						"name": "MATERIALES_COSTO",
						"type": "Decimal"
					},
					{
						"name": "MANO_OBRA_COSTO",
						"type": "Decimal"
					},
					{
						"name": "CIF_COSTO",
						"type": "Decimal"
					},
					{
						"name": "DEPRECIACION_COSTO",
						"type": "Decimal"
					}
				],
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[Costos]"
				}
			},
			"dependsOn": []
		}
	]
}