df-bi-dwh/PartialArmTemplates/ArmTemplate_5_7_2021_16_9_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_ContabilidadPyG_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SAP ECU",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Contabilidad Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG ECU",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Carga DSA SAP ECU",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga DSA SG ECU",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_ReprocesoContabilidadPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONECU','FACTCONTABILIDADECU')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacPyG','FacPyGUniforme','FacPyGContabilidad')\nAND Esquema in ('dwh_ecu_cubo','dwh_ecu_conta')\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'REPROCESO PYG ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'REPROCESO PYG ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Contabilidad Ecu",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'REPROCESO PYG ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_ReprocesoPyG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Domicilio_Chl_Transaccional')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Detalle_Factura",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,det.Cod_Detalle_Factura,det.Cod_Factura,det.Cod_Plu,det.Cod_Plu_Promocion,det.Cantidad,det.Precio,det.Iva,det.Costo,det.Orden,Descuento_con_Impuesto,Descuento FROM dbo.Detalle_Factura det INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Detalle_Factura]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dbo].[Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Factura_Anulacion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Anulacion]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Anulacion]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Factura,Cod_Motivo,Cod_Administrador,Cod_Motorolo,Observacion,Fecha_anulacion FROM dbo.Factura_Anulacion WHERE CAST(Fecha_anulacion AS DATE) BETWEEN '@{pipeline().parameters.FechaDesde}' AND DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}')",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Factura_Anulacion]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Anulacion]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Anulacion]"
								}
							}
						]
					},
					{
						"name": "Factura_Domicilio",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Domicilio]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Domicilio]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fac.Cod_Factura,fac.Cod_Restaurante,fac.Cod_Cliente_Domicilio,fac.Cod_Periodo,fac.Cod_Usuario,fac.Cod_Administrador,fac.Estado_Transferencia,fac.Fecha,fac.Comentario,fac.Estado,fac.Consumidor_Final,fac.Cod_Telefono,fac.Transferencia,fac.Fecha_Creacion,fac.DescuentoIVA,fac.DescuentoNoIVA,fac.Direccion_Alterna,fac.Porcentaje,fac.Cod_Usuario_Descto,fac.Propina,fac.Serie_Dian,fac.Cod_Nota_Credito,fac.Tipo_Facturacion,fac.Cod_Tipo_Comprobante,fac.Clave_Acceso,fac.Numero_Factura,fac.Autorizado,fac.Datos_Adicionales,fac.FechaOperacion,fac.numeroAutorizacion,fac.ControlPendientes,fac.Compensacion,fac.Cod_AppMovil,fac.guiaTracking,fac.TotalBruto,fac.Subtotal,fac.IvaTotal,fac.SubCero,fac.SubImpuesto,fac.Medio,fac.Dispositivo,per.Fecha AS FechaPeriodo, fac.Cod_Desasignacion,fac.CodPersonalDespacho,fac.Nombre,fac.RUC,fac.Direccion,fac.bringg,fac.Cod_Bringg,fac.TipoAsignacion,fac.Impresion,fac.Impresion_Comanda,fac.Impresion_Factura,fac.Solicita_Autorizacion FROM dbo.Factura_Domicilio fac INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Factura_Domicilio]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Domicilio]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Domicilio]"
								}
							}
						]
					},
					{
						"name": "Factura_FormasPago",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_FormasPago]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_FormasPago]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,ffp.Cod_FFormasPago,ffp.Cod_Factura,ffp.Cod_FormaPago,ffp.Num_Tarjeta,ffp.Num_Seguridad,ffp.Fecha_Caducidad,ffp.Billete,ffp.NumeroCheque,ffp.Banco,ffp.Titular,ffp.Referencia_Billete,ffp.Valor_Billete,ffp.Total_Pagar,ffp.Propina,ffp.ClienteAx,ffp.Cod_Desasignacion,ffp.IDTipoEnvio,ffp.Transaction_id FROM dbo.Factura_FormasPago ffp INNER JOIN dbo.Factura_Domicilio fac ON ffp.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Factura_FormasPago]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[Factura_FormasPago]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_FormasPago]"
								}
							}
						]
					},
					{
						"name": "Factura_Motorolo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Motorolo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Motorolo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fmo.Cod_Motorolo,fmo.Cod_Factura,fmo.Cod_Periodo,fmo.Cod_Estado,fmo.Fecha FROM dbo.Factura_Motorolo fmo INNER JOIN dbo.Factura_Domicilio fac ON fmo.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Factura_Motorolo]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Motorolo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Motorolo]"
								}
							}
						]
					},
					{
						"name": "Modificador_Detalle_Factura",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Modificador_Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,mdf.Cod_Detalle_Factura,mdf.Cod_Modificador FROM dbo.Modificador_Detalle_Factura mdf INNER JOIN dbo.Detalle_Factura det on mdf.Cod_Detalle_Factura=det.Cod_Detalle_Factura INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Modificador_Detalle_Factura]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Modificador_Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Detalle_Factura_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Detalle_Factura",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,det.Cod_Detalle_Factura,det.Cod_Factura,det.Cod_Plu,det.Cod_Plu_Promocion,det.Cantidad,det.Precio,det.Iva,det.Costo,det.Orden,Descuento_con_Impuesto,Descuento FROM dbo.Detalle_Factura det INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dbo].[Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Detalle_Factura_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Detalle_Factura_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,det.Cod_Detalle_Factura,det.Cod_Factura,det.Cod_Plu,det.Cod_Plu_Promocion,det.Cantidad,det.Precio,det.Iva,det.Costo,det.Orden,Descuento_con_Impuesto,Descuento FROM dbo.Detalle_Factura det INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dbo].[Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Plu",
											"type": "Int32"
										},
										{
											"name": "Cod_Plu_Promocion",
											"type": "Int32"
										},
										{
											"name": "Cantidad",
											"type": "Double"
										},
										{
											"name": "Precio",
											"type": "Double"
										},
										{
											"name": "Iva",
											"type": "Double"
										},
										{
											"name": "Costo",
											"type": "Double"
										},
										{
											"name": "Orden",
											"type": "Int32"
										},
										{
											"name": "Descuento_con_Impuesto",
											"type": "Double"
										},
										{
											"name": "Descuento",
											"type": "Double"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Factura_Anulacion_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Anulacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Anulacion]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Anulacion]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Factura,Cod_Motivo,Cod_Administrador,Cod_Motorolo,Observacion,Fecha_anulacion FROM dbo.Factura_Anulacion WHERE CAST(Fecha_anulacion AS DATE) BETWEEN '@{pipeline().parameters.FechaDesde}' AND DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}') AND CAST(Fecha_anulacion AS DATE) >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Anulacion]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Anulacion]"
								}
							}
						]
					},
					{
						"name": "Factura_Anulacion_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Anulacion_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Anulacion]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Anulacion]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,Cod_Factura,Cod_Motivo,Cod_Administrador,Cod_Motorolo,Observacion,Fecha_anulacion FROM dbo.Factura_Anulacion WHERE CAST(Fecha_anulacion AS DATE) BETWEEN '@{pipeline().parameters.FechaDesde}' AND DATEADD(DAY,1,'@{pipeline().parameters.FechaHasta}') AND CAST(Fecha_anulacion AS DATE) >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Anulacion]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Motivo",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Observacion",
											"type": "String"
										},
										{
											"name": "Fecha_anulacion",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Anulacion]"
								}
							}
						]
					},
					{
						"name": "Factura_Domicilio_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Domicilio_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Domicilio]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Domicilio]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fac.Cod_Factura,fac.Cod_Restaurante,fac.Cod_Cliente_Domicilio,fac.Cod_Periodo,fac.Cod_Usuario,fac.Cod_Administrador,fac.Estado_Transferencia,fac.Fecha,fac.Comentario,fac.Estado,fac.Consumidor_Final,fac.Cod_Telefono,fac.Transferencia,fac.Fecha_Creacion,fac.DescuentoIVA,fac.DescuentoNoIVA,fac.Direccion_Alterna,fac.Porcentaje,fac.Cod_Usuario_Descto,fac.Propina,fac.Serie_Dian,fac.Cod_Nota_Credito,fac.Tipo_Facturacion,fac.Cod_Tipo_Comprobante,fac.Clave_Acceso,fac.Numero_Factura,fac.Autorizado,fac.Datos_Adicionales,fac.FechaOperacion,fac.numeroAutorizacion,fac.ControlPendientes,fac.Compensacion,fac.Cod_AppMovil,fac.guiaTracking,fac.TotalBruto,fac.Subtotal,fac.IvaTotal,fac.SubCero,fac.SubImpuesto,fac.Medio,fac.Dispositivo,per.Fecha AS FechaPeriodo, fac.Cod_Desasignacion,fac.CodPersonalDespacho,fac.Nombre,fac.RUC,fac.Direccion,fac.bringg,fac.Cod_Bringg,fac.TipoAsignacion,fac.Impresion,fac.Impresion_Comanda,fac.Impresion_Factura,fac.Solicita_Autorizacion FROM dbo.Factura_Domicilio fac INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Domicilio]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Domicilio]"
								}
							}
						]
					},
					{
						"name": "Factura_FormasPago_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_FormasPago_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_FormasPago]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_FormasPago]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,ffp.Cod_FFormasPago,ffp.Cod_Factura,ffp.Cod_FormaPago,ffp.Num_Tarjeta,ffp.Num_Seguridad,ffp.Fecha_Caducidad,ffp.Billete,ffp.NumeroCheque,ffp.Banco,ffp.Titular,ffp.Referencia_Billete,ffp.Valor_Billete,ffp.Total_Pagar,ffp.Propina,ffp.ClienteAx,ffp.Cod_Desasignacion,ffp.IDTipoEnvio,ffp.Transaction_id FROM dbo.Factura_FormasPago ffp INNER JOIN dbo.Factura_Domicilio fac ON ffp.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[Factura_FormasPago]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_FormasPago]"
								}
							}
						]
					},
					{
						"name": "Factura_Motorolo_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Motorolo_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Motorolo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Motorolo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fmo.Cod_Motorolo,fmo.Cod_Factura,fmo.Cod_Periodo,fmo.Cod_Estado,fmo.Fecha FROM dbo.Factura_Motorolo fmo INNER JOIN dbo.Factura_Domicilio fac ON fmo.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Motorolo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Motorolo]"
								}
							}
						]
					},
					{
						"name": "Modificador_Detalle_Factura_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Modificador_Detalle_Factura_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Modificador_Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,mdf.Cod_Detalle_Factura,mdf.Cod_Modificador FROM dbo.Modificador_Detalle_Factura mdf INNER JOIN dbo.Detalle_Factura det on mdf.Cod_Detalle_Factura=det.Cod_Detalle_Factura INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Modificador_Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Factura_Domicilio_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Domicilio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Domicilio]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Domicilio]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fac.Cod_Factura,fac.Cod_Restaurante,fac.Cod_Cliente_Domicilio,fac.Cod_Periodo,fac.Cod_Usuario,fac.Cod_Administrador,fac.Estado_Transferencia,fac.Fecha,fac.Comentario,fac.Estado,fac.Consumidor_Final,fac.Cod_Telefono,fac.Transferencia,fac.Fecha_Creacion,fac.DescuentoIVA,fac.DescuentoNoIVA,fac.Direccion_Alterna,fac.Porcentaje,fac.Cod_Usuario_Descto,fac.Propina,fac.Serie_Dian,fac.Cod_Nota_Credito,fac.Tipo_Facturacion,fac.Cod_Tipo_Comprobante,fac.Clave_Acceso,fac.Numero_Factura,fac.Autorizado,fac.Datos_Adicionales,fac.FechaOperacion,fac.numeroAutorizacion,fac.ControlPendientes,fac.Compensacion,fac.Cod_AppMovil,fac.guiaTracking,fac.TotalBruto,fac.Subtotal,fac.IvaTotal,fac.SubCero,fac.SubImpuesto,fac.Medio,fac.Dispositivo,per.Fecha AS FechaPeriodo, fac.Cod_Desasignacion,fac.CodPersonalDespacho,fac.Nombre,fac.RUC,fac.Direccion,fac.bringg,fac.Cod_Bringg,fac.TipoAsignacion,fac.Impresion,fac.Impresion_Comanda,fac.Impresion_Factura,fac.Solicita_Autorizacion FROM dbo.Factura_Domicilio fac INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Domicilio]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Cod_Cliente_Domicilio",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Usuario",
											"type": "Int32"
										},
										{
											"name": "Cod_Administrador",
											"type": "Int32"
										},
										{
											"name": "Estado_Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Comentario",
											"type": "String"
										},
										{
											"name": "Estado",
											"type": "Int32"
										},
										{
											"name": "Consumidor_Final",
											"type": "Int32"
										},
										{
											"name": "Cod_Telefono",
											"type": "Int64"
										},
										{
											"name": "Transferencia",
											"type": "Int32"
										},
										{
											"name": "Fecha_Creacion",
											"type": "DateTime"
										},
										{
											"name": "DescuentoIVA",
											"type": "Double"
										},
										{
											"name": "DescuentoNoIVA",
											"type": "Double"
										},
										{
											"name": "Direccion_Alterna",
											"type": "String"
										},
										{
											"name": "Porcentaje",
											"type": "Double"
										},
										{
											"name": "Cod_Usuario_Descto",
											"type": "Int32"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "Serie_Dian",
											"type": "Int32"
										},
										{
											"name": "Cod_Nota_Credito",
											"type": "String"
										},
										{
											"name": "Tipo_Facturacion",
											"type": "Int32"
										},
										{
											"name": "Cod_Tipo_Comprobante",
											"type": "Int32"
										},
										{
											"name": "Clave_Acceso",
											"type": "String"
										},
										{
											"name": "Numero_Factura",
											"type": "String"
										},
										{
											"name": "Autorizado",
											"type": "Int32"
										},
										{
											"name": "Datos_Adicionales",
											"type": "String"
										},
										{
											"name": "FechaOperacion",
											"type": "DateTime"
										},
										{
											"name": "numeroAutorizacion",
											"type": "String"
										},
										{
											"name": "ControlPendientes",
											"type": "String"
										},
										{
											"name": "Compensacion",
											"type": "Double"
										},
										{
											"name": "Cod_AppMovil",
											"type": "String"
										},
										{
											"name": "guiaTracking",
											"type": "String"
										},
										{
											"name": "TotalBruto",
											"type": "Double"
										},
										{
											"name": "Subtotal",
											"type": "Double"
										},
										{
											"name": "IvaTotal",
											"type": "Double"
										},
										{
											"name": "SubCero",
											"type": "Double"
										},
										{
											"name": "SubImpuesto",
											"type": "Double"
										},
										{
											"name": "Medio",
											"type": "String"
										},
										{
											"name": "Dispositivo",
											"type": "String"
										},
										{
											"name": "FechaPeriodo",
											"type": "DateTime"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int64"
										},
										{
											"name": "CodPersonalDespacho",
											"type": "Int64"
										},
										{
											"name": "Nombre",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "Direccion",
											"type": "String"
										},
										{
											"name": "bringg",
											"type": "Int32"
										},
										{
											"name": "Cod_Bringg",
											"type": "Int32"
										},
										{
											"name": "TipoAsignacion",
											"type": "String"
										},
										{
											"name": "Impresion",
											"type": "Int32"
										},
										{
											"name": "Impresion_Comanda",
											"type": "Int32"
										},
										{
											"name": "Impresion_Factura",
											"type": "Int32"
										},
										{
											"name": "Solicita_Autorizacion",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Domicilio]"
								}
							}
						]
					},
					{
						"name": "Factura_FormasPago_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_FormasPago",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_FormasPago]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_FormasPago]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,ffp.Cod_FFormasPago,ffp.Cod_Factura,ffp.Cod_FormaPago,ffp.Num_Tarjeta,ffp.Num_Seguridad,ffp.Fecha_Caducidad,ffp.Billete,ffp.NumeroCheque,ffp.Banco,ffp.Titular,ffp.Referencia_Billete,ffp.Valor_Billete,ffp.Total_Pagar,ffp.Propina,ffp.ClienteAx,ffp.Cod_Desasignacion,ffp.IDTipoEnvio,ffp.Transaction_id FROM dbo.Factura_FormasPago ffp INNER JOIN dbo.Factura_Domicilio fac ON ffp.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dbo].[Factura_FormasPago]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_FFormasPago",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_FormaPago",
											"type": "Int32"
										},
										{
											"name": "Num_Tarjeta",
											"type": "String"
										},
										{
											"name": "Num_Seguridad",
											"type": "String"
										},
										{
											"name": "Fecha_Caducidad",
											"type": "String"
										},
										{
											"name": "Billete",
											"type": "Double"
										},
										{
											"name": "NumeroCheque",
											"type": "String"
										},
										{
											"name": "Banco",
											"type": "String"
										},
										{
											"name": "Titular",
											"type": "String"
										},
										{
											"name": "Referencia_Billete",
											"type": "String"
										},
										{
											"name": "Valor_Billete",
											"type": "Double"
										},
										{
											"name": "Total_Pagar",
											"type": "Double"
										},
										{
											"name": "Propina",
											"type": "Double"
										},
										{
											"name": "ClienteAx",
											"type": "Int32"
										},
										{
											"name": "Cod_Desasignacion",
											"type": "Int32"
										},
										{
											"name": "IDTipoEnvio",
											"type": "Int32"
										},
										{
											"name": "Transaction_id",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_FormasPago]"
								}
							}
						]
					},
					{
						"name": "Factura_Motorolo_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Factura_Motorolo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Factura_Motorolo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Factura_Motorolo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,fmo.Cod_Motorolo,fmo.Cod_Factura,fmo.Cod_Periodo,fmo.Cod_Estado,fmo.Fecha FROM dbo.Factura_Motorolo fmo INNER JOIN dbo.Factura_Domicilio fac ON fmo.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dbo].[Factura_Motorolo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Motorolo",
											"type": "Int32"
										},
										{
											"name": "Cod_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Estado",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Factura_Motorolo]"
								}
							}
						]
					},
					{
						"name": "Modificador_Detalle_Factura_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Modificador_Detalle_Factura",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Modificador_Detalle_Factura]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT GETDATE() AS FechaCarga,mdf.Cod_Detalle_Factura,mdf.Cod_Modificador FROM dbo.Modificador_Detalle_Factura mdf INNER JOIN dbo.Detalle_Factura det on mdf.Cod_Detalle_Factura=det.Cod_Detalle_Factura INNER JOIN dbo.Factura_Domicilio fac ON det.Cod_Factura=fac.Cod_Factura INNER JOIN dbo.Periodo per ON fac.Cod_Periodo=per.Cod_Periodo WHERE per.Fecha BETWEEN '@{pipeline().parameters.FechaDesde}' AND '@{pipeline().parameters.FechaHasta}' AND per.Fecha >'20210330'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Modificador_Detalle_Factura]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Detalle_Factura",
											"type": "String"
										},
										{
											"name": "Cod_Modificador",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Modificador_Detalle_Factura]"
								}
							}
						]
					},
					{
						"name": "Periodo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Periodo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Periodo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT GETDATE() AS FechaCarga,Cod_Periodo,Cod_Restaurante,Fecha,Estado FROM dbo.Periodo",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [dsa_chl_domi].[Periodo]",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Periodo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "@pipeline().parameters.BaseDatosDomicilioGerente",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Periodo]"
								}
							}
						]
					},
					{
						"name": "Periodo_KFC_G1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Periodo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Periodo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Periodo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT GETDATE() AS FechaCarga,Cod_Periodo,Cod_Restaurante,Fecha,Estado FROM dbo.Periodo WHERE Fecha >'20210330'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Periodo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Periodo]"
								}
							}
						]
					},
					{
						"name": "Periodo_KFC_G2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Periodo_KFC_G1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[dbo].[Periodo]"
							},
							{
								"name": "Destination",
								"value": "[[dsa_chl_domi].[Periodo]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT GETDATE() AS FechaCarga,Cod_Periodo,Cod_Restaurante,Fecha,Estado FROM dbo.Periodo WHERE Fecha >'20210330'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBatchSize": 10000,
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "contenedor"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_DomicilioChl",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dbo].[Periodo]",
									"cw_servidor": {
										"value": "@pipeline().parameters.Servidor",
										"type": "Expression"
									},
									"cw_baseDatos": {
										"value": "SqlGerenteDomKFC_G2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "FechaCarga",
											"type": "DateTime"
										},
										{
											"name": "Cod_Periodo",
											"type": "String"
										},
										{
											"name": "Cod_Restaurante",
											"type": "Int32"
										},
										{
											"name": "Fecha",
											"type": "DateTime"
										},
										{
											"name": "Estado",
											"type": "Int32"
										}
									],
									"cw_tableName": "[[dsa_chl_domi].[Periodo]"
								}
							}
						]
					}
				],
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "192.168.148.110"
					},
					"BaseDatosDomicilioGerente": {
						"type": "string",
						"defaultValue": "SqlGerenteDom"
					},
					"FechaDesde": {
						"type": "string"
					},
					"FechaHasta": {
						"type": "string"
					}
				},
				"folder": {
					"name": "dsa_DomicilioChl"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_ReprocesoPyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "Select Anio=year(dateadd(hh,-5,getdate()))\n,Mes=convert (char(2),dateadd(hh,-5,getdate()),101)\n,Dia=convert (char(2),dateadd(hh,-5,getdate()),103)",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "CatalogoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Catalogo_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Anio": {
									"value": "@activity('Fecha Carga').output.firstRow.Anio",
									"type": "Expression"
								},
								"Mes": {
									"value": "@activity('Fecha Carga').output.firstRow.Mes",
									"type": "Expression"
								},
								"Dia": {
									"value": "@activity('Fecha Carga').output.firstRow.Dia",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TransaccionalReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CatalogoReproceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Anio": {
									"value": "@activity('Fecha Carga').output.firstRow.Anio",
									"type": "Expression"
								},
								"Mes": {
									"value": "@activity('Fecha Carga').output.firstRow.Mes",
									"type": "Expression"
								},
								"Dia": {
									"value": "@activity('Fecha Carga').output.firstRow.Dia",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TransaccionalHistoricoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TransaccionalReproceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_Historico_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}