df-bi-dwh/PartialArmTemplates/ArmTemplate_5_6_2021_19_31_28.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_ContabilidadPyG_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SAP ECU",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga Contabilidad Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SAP ECU",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_ReprocesoPyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_ReprocesoPyG')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_ReprocesoPyG')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Dimensiones_ReprocesoPyG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Catalogo_PyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CuentaContable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "reproceso/catalogo/CUENTASCONTABLES",
									"wildcardFileName": {
										"value": "@Concat('CUENTASCONTABLES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[cuentascontables]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/catalogo/CUENTASCONTABLES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "GLACCOUNT",
											"type": "String"
										},
										{
											"name": "GLACCOUNTNAME",
											"type": "String"
										},
										{
											"name": "GLACCOUNTLONGNAME",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cuentascontables]"
								}
							}
						]
					},
					{
						"name": "DeleteCuentasContables",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CuentaContable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/catalogo/CUENTASCONTABLES"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/catalogo/CUENTASCONTABLES"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "28"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_ReprocesoPyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "Select Anio=year(dateadd(hh,-5,getdate()))\n,Mes=convert (char(2),dateadd(hh,-5,getdate()),101)\n,Dia=convert (char(2),dateadd(hh,-5,getdate()),103)",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "CatalogoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Catalogo_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Anio": {
									"value": "@activity('Fecha Carga').output.firstRow.Anio",
									"type": "Expression"
								},
								"Mes": {
									"value": "@activity('Fecha Carga').output.firstRow.Mes",
									"type": "Expression"
								},
								"Dia": {
									"value": "@activity('Fecha Carga').output.firstRow.Dia",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TransaccionalReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CatalogoReproceso",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "TransaccionalHistoricoReproceso",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TransaccionalReproceso",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu_Transaccional_Historico_PyG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Catalogo_PyG')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Transaccional_PyG')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sap_Ecu_Transaccional_Historico_PyG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional_Historico_PyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": "0"
									},
									"FechaDesde": {
										"type": "DateTime"
									},
									"FechaFin": {
										"type": "DateTime"
									},
									"FechaHasta": {
										"type": "DateTime"
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "EntradaDiarioHistorica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dsa_ecu_sap].[usp_CargaEntradaDiarioHistorico]",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"Pais": {
						"type": "string",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "string",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Transaccional_PyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EntradaDiario",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"maxConcurrentConnections": 1,
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@addMinutes(pipeline().TriggerTime,-30)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@addMinutes(pipeline().TriggerTime,+30)",
										"type": "Expression"
									},
									"wildcardFolderPath": "reproceso/contabilidad/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sap_entradadiario",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Blob Entrada Diario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "EntradaDiario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@addMinutes(pipeline().TriggerTime,-30)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@addMinutes(pipeline().TriggerTime,+30)",
										"type": "Expression"
									},
									"wildcardFolderPath": "reproceso/contabilidad/ENTRADADIARIO",
									"wildcardFileName": {
										"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidadLeidos"
								}
							}
						]
					},
					{
						"name": "DeleteLeido",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Blob Entrada Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidadLeidos"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/contabilidadLeidos"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-30)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteReporceso",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Blob Entrada Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "reproceso/contabilidad/ENTRADADIARIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/reproceso/contabilidad/ENTRADADIARIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2020"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "12"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "08"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_CAR_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Auditoria",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Construccion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Construccion_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Contabilidad",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Contabilidad_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga RRHH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_RecursosHumanos_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "string",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "string",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_CAREcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Dimensiones_ReprocesoPyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Información Dimensiones",
				"activities": [
					{
						"name": "dim_CentroCosto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_Cadena",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCentroCosto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Cadena",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_Empresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCadena",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Empresa",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaEmpresa",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Rubro",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaRubro",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CuentaContable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCuentaContable",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_Dimensiones"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Planta_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Información Planta Ecuador",
				"activities": [
					{
						"name": "plt_FacDevolucion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacDevolucion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoTransferencia",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacDevolucion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacNivelServicioSG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoVentaSG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_cubo",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacNivelServicioSG",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacProyeccionVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacProyeccionVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacNivelServicioSGFisico",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoVentaSG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "plt_FacTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_cubo",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacNivelServicioSGFisico",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVentaSG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoVentaSG",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacTransferencia",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacPedidoTransferencia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacTransferencia",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaMensualEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_rpt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVentaMensualEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rpt_FacVentaSemanalEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_rpt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacVentaSemanalEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacCompra",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacCompra",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacProduccion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacProduccion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacReceta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacReceta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacCompraProducto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacCompraProducto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "plt_FacPedidoCompra",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "plt_FacCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_ecu_plt",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFacPedidoCompra",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adm_ProyeccionEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_adm",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaProyeccionEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "String",
						"defaultValue": "0"
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_PlantaEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_ReprocesoPyG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "conta_FacPyG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_conta.usp_CargaFacPyG",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_FacPyGContabilidad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "conta_FacPyG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_cubo.usp_CargaFacPyGContabilidad",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cubo_usp_CargaFacPyGUniforme",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cubo_FacPyGContabilidad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dwh_ecu_cubo.usp_CargaFacPyGUniforme",
							"storedProcedureParameters": {
								"FechaDesde": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FechaHasta": {
									"value": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": "1"
									},
									"FechaDesde": {
										"type": "Datetime",
										"value": null
									},
									"FechaFin": {
										"type": "Datetime",
										"value": null
									},
									"FechaHasta": {
										"type": "Datetime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "Int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_CAREcu"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}