df-bi-dwh/PartialArmTemplates/ArmTemplate_4_6_2021_15_36_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Dimensiones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Información Dimensiones",
				"activities": [
					{
						"name": "Dimensiones_1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Dimensiones_2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Dimensiones_3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_Dimensiones"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Dimensiones_2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_Dimensiones_3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Dimensiones_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Información Dimensiones",
				"activities": [
					{
						"name": "dim_Algoritmo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaAlgoritmo",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Turno",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTurno",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_IncidenciaMarcacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaIncidenciaMarcacion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_GrupoCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaGrupoCliente",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CategoriaParada",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCategoriaParada",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Horario",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaHorario",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_MovimientoAuditoria",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaMovimientoAuditoria",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_FuenteSistema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCliente",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CategoriaConstruccion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCategoriaConstruccion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_TamanioArticulo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTamanioArticulo",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_TipoNovedadMarcacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTipoNovedadMarcacion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Tarjeta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTarjeta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CodigoTarjeta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCodigoTarjeta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Recurso",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaRecurso",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CuentaContable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCuentaContable",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_AgrupacionCuentaContable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaAgrupacionCuentaContable",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_TasaCambioMoneda",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTasaCambioMoneda",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Operador",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaOperador",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_DocumentoFE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaDocumentoFE",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Impuesto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaImpuesto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_EstadoVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaEstadoVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_FuenteSistema",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaFuenteSistema",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Estacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaEstacion",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adm_AperturaLocal",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_adm",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaAperturaLocal",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_InmuebleDomicilio",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaInmuebleDomicilio",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_JerarquiaArticuloSap",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaJerarquiaArticuloSap",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_HmgCentroCostoEmbutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaHmgCentroCostoEmbutser",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Estado Modulo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaEstadoModulo",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_TipoCondicion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTipoCondicion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_TipoProyecto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTipoProyecto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_DenominacionProyecto",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaDenominacionProyecto",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_Empleado",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_FuenteSistema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": "COL",
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaEmpleado",
									"type": "String"
								},
								"TipoCarga": {
									"value": "MANUAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_DescripcionCabeceraFactura",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_FuenteSistema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaDescripcionCabeceraFactura",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_GrupoTarjeta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaGrupoTarjeta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_OrigenTransaccion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaOrigenTransaccion",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_MedioVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaMedioVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_MenuVenta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaMenuVenta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CanalMenuMedio",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaCanalMenuMedio",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_Dimensiones"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_Dimensiones_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Carga Información Dimensiones",
				"activities": [
					{
						"name": "dim_CargaTipoDocumentoTarjeta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaTipoDocumentoTarjeta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CargaClaseTarjeta",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaClaseTarjeta",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_CargaAdquirente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_EjecutaSP]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dwh_dim",
									"type": "String"
								},
								"IDCadenaSistemaGerente": {
									"value": {
										"value": "@pipeline().parameters.IDCadenaSistemaGerente",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pais": {
									"value": {
										"value": "@pipeline().parameters.Pais",
										"type": "Expression"
									},
									"type": "String"
								},
								"Procedimiento": {
									"value": "usp_CargaAdquirente",
									"type": "String"
								},
								"TipoCarga": {
									"value": {
										"value": "@pipeline().parameters.TipoCarga",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "String",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "String",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_Dimensiones"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}