pipeline/pl_dsa_Sap_Ecu_Catalogo_RINT.json
{
	"name": "pl_dsa_Sap_Ecu_Catalogo_RINT",
	"properties": {
		"activities": [
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DeleteMVKE",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "MVKE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/MVKE"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/MVKE"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "MVKE_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/MVKE",
							"wildcardFileName": {
								"value": "@Concat('MVKE_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[MVKE_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/MVKE"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "MATNR",
									"type": "String"
								},
								{
									"name": "VKORG",
									"type": "String"
								},
								{
									"name": "VTWEG",
									"type": "String"
								},
								{
									"name": "LVORM",
									"type": "String"
								},
								{
									"name": "VERSG",
									"type": "String"
								},
								{
									"name": "BONUS",
									"type": "String"
								},
								{
									"name": "PROVG",
									"type": "String"
								},
								{
									"name": "SKTOF",
									"type": "String"
								},
								{
									"name": "VMSTA",
									"type": "String"
								},
								{
									"name": "VMSTD",
									"type": "String"
								},
								{
									"name": "AUMNG",
									"type": "Decimal"
								},
								{
									"name": "LFMNG",
									"type": "Decimal"
								},
								{
									"name": "EFMNG",
									"type": "Decimal"
								},
								{
									"name": "SCMNG",
									"type": "Decimal"
								},
								{
									"name": "SCHME",
									"type": "String"
								},
								{
									"name": "VRKME",
									"type": "String"
								},
								{
									"name": "MTPOS",
									"type": "String"
								},
								{
									"name": "DWERK",
									"type": "String"
								},
								{
									"name": "PRODH",
									"type": "String"
								},
								{
									"name": "PMATN",
									"type": "String"
								},
								{
									"name": "KONDM",
									"type": "String"
								},
								{
									"name": "KTGRM",
									"type": "String"
								},
								{
									"name": "MVGR1",
									"type": "String"
								},
								{
									"name": "MVGR2",
									"type": "String"
								},
								{
									"name": "MVGR3",
									"type": "String"
								},
								{
									"name": "MVGR4",
									"type": "String"
								},
								{
									"name": "MVGR5",
									"type": "String"
								},
								{
									"name": "SSTUF",
									"type": "String"
								},
								{
									"name": "PFLKS",
									"type": "String"
								},
								{
									"name": "LSTFL",
									"type": "String"
								},
								{
									"name": "LSTVZ",
									"type": "String"
								},
								{
									"name": "LSTAK",
									"type": "String"
								},
								{
									"name": "LDVFL",
									"type": "String"
								},
								{
									"name": "LDBFL",
									"type": "String"
								},
								{
									"name": "LDVZL",
									"type": "String"
								},
								{
									"name": "LDBZL",
									"type": "String"
								},
								{
									"name": "VDVFL",
									"type": "String"
								},
								{
									"name": "VDBFL",
									"type": "String"
								},
								{
									"name": "VDVZL",
									"type": "String"
								},
								{
									"name": "VDBZL",
									"type": "String"
								},
								{
									"name": "PRAT1",
									"type": "String"
								},
								{
									"name": "PRAT2",
									"type": "String"
								},
								{
									"name": "PRAT3",
									"type": "String"
								},
								{
									"name": "PRAT4",
									"type": "String"
								},
								{
									"name": "PRAT5",
									"type": "String"
								},
								{
									"name": "PRAT6",
									"type": "String"
								},
								{
									"name": "PRAT7",
									"type": "String"
								},
								{
									"name": "PRAT8",
									"type": "String"
								},
								{
									"name": "PRAT9",
									"type": "String"
								},
								{
									"name": "PRATA",
									"type": "String"
								},
								{
									"name": "RDPRF",
									"type": "String"
								},
								{
									"name": "MEGRU",
									"type": "String"
								},
								{
									"name": "LFMAX",
									"type": "Decimal"
								},
								{
									"name": "RJART",
									"type": "String"
								},
								{
									"name": "PBIND",
									"type": "String"
								},
								{
									"name": "VAVME",
									"type": "String"
								},
								{
									"name": "MATKC",
									"type": "String"
								},
								{
									"name": "PVMSO",
									"type": "String"
								},
								{
									"name": "DUMMY_SALD_INCL_EEW_PS",
									"type": "String"
								},
								{
									"name": "/BEV1/EMLGRP",
									"type": "String"
								},
								{
									"name": "/BEV1/EMDRCKSPL",
									"type": "String"
								},
								{
									"name": "/BEV1/RPBEZME",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSNS",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSFA",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSKI",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSCO",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSSO",
									"type": "String"
								},
								{
									"name": "NF_FLAG",
									"type": "String"
								},
								{
									"name": "PLGTP",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[MVKE_BLOB]"
						}
					}
				]
			},
			{
				"name": "MVKE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "MVKE_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[MVKE]\nINSERT INTO [dsa_ecu_sap].[MVKE]\nSELECT CONVERT(DATETIME,'@{variables('FECHACARGA')}',21) ,* FROM [dsa_ecu_sap].[MVKE_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "01"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "13"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}