pipeline/pl_dsa_SistemaGerente_Esp.json
{
	"name": "pl_dsa_SistemaGerente_Esp",
	"properties": {
		"activities": [
			{
				"name": "Fecha Carga",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[admin_adm].[usp_CargaFecha]",
						"storedProcedureParameters": {
							"Dias": {
								"type": "Int32",
								"value": null
							},
							"FechaDesde": {
								"type": "DateTime",
								"value": null
							},
							"FechaFin": {
								"type": "DateTime",
								"value": null
							},
							"FechaHasta": {
								"type": "DateTime",
								"value": null
							}
						}
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Cargar Catalogo 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Truncar Transaccional",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_SistemaGerente_Esp_Catalogo_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Servidor": {
							"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
							"type": "Expression"
						},
						"BaseDatos": {
							"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Carga Transaccional",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Cargar Catalogo 1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Carga Anterior",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Servidor": {
										"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
										"type": "Expression"
									},
									"BaseDatos": {
										"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
										"type": "Expression"
									},
									"FechaDesde": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"FechaHasta": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Carga Actual_",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Carga Anterior",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Servidor": {
										"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
										"type": "Expression"
									},
									"BaseDatos": {
										"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
										"type": "Expression"
									},
									"FechaDesde": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
										"type": "Expression"
									},
									"FechaHasta": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Carga Actual",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Servidor": {
										"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
										"type": "Expression"
									},
									"BaseDatos": {
										"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
										"type": "Expression"
									},
									"FechaDesde": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
										"type": "Expression"
									},
									"FechaHasta": {
										"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Truncar Transaccional",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Obtener Servidores",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "TRUNCATE TABLE dsa_esp_sg.AuditTrans\nTRUNCATE TABLE dsa_esp_sg.CabPedidos\nTRUNCATE TABLE dsa_esp_sg.CierreCajas\nTRUNCATE TABLE dsa_esp_sg.CierreChica\nTRUNCATE TABLE dsa_esp_sg.Costos_Historicos\nTRUNCATE TABLE dsa_esp_sg.Depositos\nTRUNCATE TABLE dsa_esp_sg.DetPedidos\nTRUNCATE TABLE dsa_esp_sg.DinTrans\nTRUNCATE TABLE dsa_esp_sg.Estado_PyG\nTRUNCATE TABLE dsa_esp_sg.GastosGenerales\nTRUNCATE TABLE dsa_esp_sg.MixCab\nTRUNCATE TABLE dsa_esp_sg.MixTrans\nTRUNCATE TABLE dsa_esp_sg.MovInv\nTRUNCATE TABLE dsa_esp_sg.InvMovimiento\nTRUNCATE TABLE dsa_esp_sg.PlusTrans\nTRUNCATE TABLE dsa_esp_sg.PyG\nTRUNCATE TABLE dsa_esp_sg.TomaFisica\nTRUNCATE TABLE dsa_esp_sg.VentasHora\nTRUNCATE TABLE dsa_esp_sg.CajaChica\n\nSELECT 'ok' AS Resultado"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Obtener Servidores",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Fecha Carga",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[admin_adm].[usp_ObtenerLinkedBase]",
						"storedProcedureParameters": {
							"CodigoETL": {
								"type": "String",
								"value": "BD-SG-ESP"
							},
							"FechaDesde": {
								"type": "DateTime",
								"value": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
									"type": "Expression"
								}
							},
							"FechaHasta": {
								"type": "DateTime",
								"value": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Actualiza Estadistica 1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Carga Transaccional",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[admin_adm].[ActualizarEstadisticas]",
					"storedProcedureParameters": {
						"Esquema": {
							"value": "dsa_esp_sg",
							"type": "String"
						},
						"Paso": {
							"value": "1",
							"type": "Int16"
						},
						"Proceso": {
							"value": "General",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Actualiza Estadistica 2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Carga Transaccional",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[admin_adm].[ActualizarEstadisticas]",
					"storedProcedureParameters": {
						"Esquema": {
							"value": "dsa_esp_sg",
							"type": "String"
						},
						"Paso": {
							"value": "2",
							"type": "Int16"
						},
						"Proceso": {
							"value": "General",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Actualiza Estadistica 3",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Carga Transaccional",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[admin_adm].[ActualizarEstadisticas]",
					"storedProcedureParameters": {
						"Esquema": {
							"value": "dsa_esp_sg",
							"type": "String"
						},
						"Paso": {
							"value": "3",
							"type": "Int16"
						},
						"Proceso": {
							"value": "General",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Actualiza Estadistica 4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Carga Transaccional",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[admin_adm].[ActualizarEstadisticas]",
					"storedProcedureParameters": {
						"Esquema": {
							"value": "dsa_esp_sg",
							"type": "String"
						},
						"Paso": {
							"value": "4",
							"type": "Int16"
						},
						"Proceso": {
							"value": "General",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "dsa_SistemaGerenteEsp"
		},
		"annotations": []
	}
}