pipeline/pl_dsa_Sap_Ecu_TransaccionalReprocesoContabilidad.json
{
	"name": "pl_dsa_Sap_Ecu_TransaccionalReprocesoContabilidad",
	"properties": {
		"activities": [
			{
				"name": "EntradaDiario",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "reproceso/contabilidad",
							"wildcardFileName": {
								"value": "@Concat('ENTRADADIARIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"name": "MANDT"
								}
							},
							{
								"source": {
									"name": "GLACCOUNT",
									"type": "String"
								},
								"sink": {
									"name": "GLACCOUNT"
								}
							},
							{
								"source": {
									"name": "POSTINGDATE",
									"type": "String"
								},
								"sink": {
									"name": "POSTINGDATE"
								}
							},
							{
								"source": {
									"name": "AMOUNTINCOMPANYCODECURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "AMOUNTINCOMPANYCODECURRENCY"
								}
							},
							{
								"source": {
									"name": "ACCOUNTINGDOCUMENT",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTINGDOCUMENT"
								}
							},
							{
								"source": {
									"name": "DOCUMENTITEMTEXT",
									"type": "String"
								},
								"sink": {
									"name": "DOCUMENTITEMTEXT"
								}
							},
							{
								"source": {
									"name": "ACCOUNTINGDOCUMENTCATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTINGDOCUMENTCATEGORY"
								}
							},
							{
								"source": {
									"name": "LEDGER",
									"type": "String"
								},
								"sink": {
									"name": "LEDGER"
								}
							},
							{
								"source": {
									"name": "COMPANYCODE",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYCODE"
								}
							},
							{
								"source": {
									"name": "FISCALPERIOD",
									"type": "String"
								},
								"sink": {
									"name": "FISCALPERIOD"
								}
							},
							{
								"source": {
									"name": "FISCALYEAR",
									"type": "String"
								},
								"sink": {
									"name": "FISCALYEAR"
								}
							},
							{
								"source": {
									"name": "COSTCENTER",
									"type": "String"
								},
								"sink": {
									"name": "COSTCENTER"
								}
							},
							{
								"source": {
									"name": "PROFITCENTER",
									"type": "String"
								},
								"sink": {
									"name": "PROFITCENTER"
								}
							},
							{
								"source": {
									"name": "SEGMENT",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT"
								}
							},
							{
								"source": {
									"name": "COMPANYCODECURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYCODECURRENCY"
								}
							},
							{
								"source": {
									"name": "GLOBALCURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "GLOBALCURRENCY"
								}
							},
							{
								"source": {
									"name": "AMOUNTINGLOBALCURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "AMOUNTINGLOBALCURRENCY"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "String"
								},
								"sink": {
									"name": "QUANTITY"
								}
							},
							{
								"source": {
									"name": "BASEUNIT",
									"type": "String"
								},
								"sink": {
									"name": "BASEUNIT"
								}
							},
							{
								"source": {
									"name": "COSTSOURCEUNIT",
									"type": "String"
								},
								"sink": {
									"name": "COSTSOURCEUNIT"
								}
							},
							{
								"source": {
									"name": "DEBITCREDITCODE",
									"type": "String"
								},
								"sink": {
									"name": "DEBITCREDITCODE"
								}
							},
							{
								"source": {
									"name": "DOCUMENTDATE",
									"type": "String"
								},
								"sink": {
									"name": "DOCUMENTDATE"
								}
							},
							{
								"source": {
									"name": "POSTINGKEY",
									"type": "String"
								},
								"sink": {
									"name": "POSTINGKEY"
								}
							},
							{
								"source": {
									"name": "ACCOUNTINGDOCUMENTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTINGDOCUMENTTYPE"
								}
							},
							{
								"source": {
									"name": "MATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL"
								}
							},
							{
								"source": {
									"name": "PLANT",
									"type": "String"
								},
								"sink": {
									"name": "PLANT"
								}
							},
							{
								"source": {
									"name": "SUPPLIER",
									"type": "String"
								},
								"sink": {
									"name": "SUPPLIER"
								}
							},
							{
								"source": {
									"name": "CUSTOMER",
									"type": "String"
								},
								"sink": {
									"name": "CUSTOMER"
								}
							},
							{
								"source": {
									"name": "FINANCIALACCOUNTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "FINANCIALACCOUNTTYPE"
								}
							},
							{
								"source": {
									"name": "LASTCHANGEDATETIME",
									"type": "String"
								},
								"sink": {
									"name": "LASTCHANGEDATETIME"
								}
							},
							{
								"source": {
									"name": "FECHACARGA",
									"type": "String"
								},
								"sink": {
									"name": "FECHACARGA"
								}
							},
							{
								"source": {
									"name": "LEDGERGLLINEITEM",
									"type": "String"
								},
								"sink": {
									"name": "LEDGERGLLINEITEM"
								}
							},
							{
								"source": {
									"name": "LEDGERFISCALYEAR",
									"type": "String"
								},
								"sink": {
									"name": "LEDGERFISCALYEAR"
								}
							},
							{
								"source": {
									"name": "FINANCIALTRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "FINANCIALTRANSACTIONTYPE"
								}
							},
							{
								"source": {
									"name": "REFERENCEDOCUMENT",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCEDOCUMENT"
								}
							},
							{
								"source": {
									"name": "REFERENCEDOCUMENTITEM",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCEDOCUMENTITEM"
								}
							},
							{
								"source": {
									"name": "ISREVERSAL",
									"type": "String"
								},
								"sink": {
									"name": "ISREVERSAL"
								}
							},
							{
								"source": {
									"name": "ISREVERSED",
									"type": "String"
								},
								"sink": {
									"name": "ISREVERSED"
								}
							},
							{
								"source": {
									"name": "REVERSALREFERENCEDOCUMENT",
									"type": "String"
								},
								"sink": {
									"name": "REVERSALREFERENCEDOCUMENT"
								}
							},
							{
								"source": {
									"name": "ISSETTLEMENT",
									"type": "String"
								},
								"sink": {
									"name": "ISSETTLEMENT"
								}
							},
							{
								"source": {
									"name": "ISSETTLED",
									"type": "String"
								},
								"sink": {
									"name": "ISSETTLED"
								}
							},
							{
								"source": {
									"name": "SOURCEREFERENCEDOCUMENTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "SOURCEREFERENCEDOCUMENTTYPE"
								}
							},
							{
								"source": {
									"name": "PARTNERCOSTCENTER",
									"type": "String"
								},
								"sink": {
									"name": "PARTNERCOSTCENTER"
								}
							},
							{
								"source": {
									"name": "PARTNERPROFITCENTER",
									"type": "String"
								},
								"sink": {
									"name": "PARTNERPROFITCENTER"
								}
							},
							{
								"source": {
									"name": "BALANCETRANSACTIONCURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "BALANCETRANSACTIONCURRENCY"
								}
							},
							{
								"source": {
									"name": "AMOUNTINBALANCETRANSACCRCY",
									"type": "String"
								},
								"sink": {
									"name": "AMOUNTINBALANCETRANSACCRCY"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONCURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONCURRENCY"
								}
							},
							{
								"source": {
									"name": "AMOUNTINTRANSACTIONCURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "AMOUNTINTRANSACTIONCURRENCY"
								}
							},
							{
								"source": {
									"name": "FIXEDQUANTITY",
									"type": "String"
								},
								"sink": {
									"name": "FIXEDQUANTITY"
								}
							},
							{
								"source": {
									"name": "VALUATIONQUANTITY",
									"type": "String"
								},
								"sink": {
									"name": "VALUATIONQUANTITY"
								}
							},
							{
								"source": {
									"name": "VALUATIONFIXEDQUANTITY",
									"type": "String"
								},
								"sink": {
									"name": "VALUATIONFIXEDQUANTITY"
								}
							},
							{
								"source": {
									"name": "FISCALYEARVARIANT",
									"type": "String"
								},
								"sink": {
									"name": "FISCALYEARVARIANT"
								}
							},
							{
								"source": {
									"name": "FISCALYEARPERIOD",
									"type": "String"
								},
								"sink": {
									"name": "FISCALYEARPERIOD"
								}
							},
							{
								"source": {
									"name": "ACCOUNTINGDOCUMENTITEM",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTINGDOCUMENTITEM"
								}
							},
							{
								"source": {
									"name": "ACCOUNTINGDOCCREATEDBYUSER",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTINGDOCCREATEDBYUSER"
								}
							},
							{
								"source": {
									"name": "CREATIONDATETIME",
									"type": "String"
								},
								"sink": {
									"name": "CREATIONDATETIME"
								}
							},
							{
								"source": {
									"name": "CREATIONDATE",
									"type": "String"
								},
								"sink": {
									"name": "CREATIONDATE"
								}
							},
							{
								"source": {
									"name": "GLACCOUNTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "GLACCOUNTTYPE"
								}
							},
							{
								"source": {
									"name": "INVOICEREFERENCE",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEREFERENCE"
								}
							},
							{
								"source": {
									"name": "INVOICEITEMREFERENCE",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEITEMREFERENCE"
								}
							},
							{
								"source": {
									"name": "PURCHASINGDOCUMENT",
									"type": "String"
								},
								"sink": {
									"name": "PURCHASINGDOCUMENT"
								}
							},
							{
								"source": {
									"name": "PURCHASINGDOCUMENTITEM",
									"type": "String"
								},
								"sink": {
									"name": "PURCHASINGDOCUMENTITEM"
								}
							},
							{
								"source": {
									"name": "ACCOUNTASSIGNMENTNUMBER",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTASSIGNMENTNUMBER"
								}
							},
							{
								"source": {
									"name": "SALESORDER",
									"type": "String"
								},
								"sink": {
									"name": "SALESORDER"
								}
							},
							{
								"source": {
									"name": "SALESORDERITEM",
									"type": "String"
								},
								"sink": {
									"name": "SALESORDERITEM"
								}
							},
							{
								"source": {
									"name": "SALESDOCUMENT",
									"type": "String"
								},
								"sink": {
									"name": "SALESDOCUMENT"
								}
							},
							{
								"source": {
									"name": "SALESDOCUMENTITEM",
									"type": "String"
								},
								"sink": {
									"name": "SALESDOCUMENTITEM"
								}
							},
							{
								"source": {
									"name": "PRODUCT",
									"type": "String"
								},
								"sink": {
									"name": "PRODUCT"
								}
							},
							{
								"source": {
									"name": "TAXCODE",
									"type": "String"
								},
								"sink": {
									"name": "TAXCODE"
								}
							},
							{
								"source": {
									"name": "HOUSEBANK",
									"type": "String"
								},
								"sink": {
									"name": "HOUSEBANK"
								}
							},
							{
								"source": {
									"name": "HOUSEBANKACCOUNT",
									"type": "String"
								},
								"sink": {
									"name": "HOUSEBANKACCOUNT"
								}
							},
							{
								"source": {
									"name": "COSTESTIMATE",
									"type": "String"
								},
								"sink": {
									"name": "COSTESTIMATE"
								}
							},
							{
								"source": {
									"name": "OFFSETTINGACCOUNT",
									"type": "String"
								},
								"sink": {
									"name": "OFFSETTINGACCOUNT"
								}
							},
							{
								"source": {
									"name": "OFFSETTINGACCOUNTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "OFFSETTINGACCOUNTTYPE"
								}
							},
							{
								"source": {
									"name": "PARTNERCOMPANYCODE",
									"type": "String"
								},
								"sink": {
									"name": "PARTNERCOMPANYCODE"
								}
							},
							{
								"source": {
									"name": "ORIGINCOSTCENTER",
									"type": "String"
								},
								"sink": {
									"name": "ORIGINCOSTCENTER"
								}
							},
							{
								"source": {
									"name": "ORIGINPROFITCENTER",
									"type": "String"
								},
								"sink": {
									"name": "ORIGINPROFITCENTER"
								}
							},
							{
								"source": {
									"name": "ORDERID",
									"type": "String"
								},
								"sink": {
									"name": "ORDERID"
								}
							},
							{
								"source": {
									"name": "ORDERCATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "ORDERCATEGORY"
								}
							},
							{
								"source": {
									"name": "PARTNERORDER",
									"type": "String"
								},
								"sink": {
									"name": "PARTNERORDER"
								}
							},
							{
								"source": {
									"name": "PARTNERORDERCATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "PARTNERORDERCATEGORY"
								}
							},
							{
								"source": {
									"name": "BILLINGDOCUMENTTYPE",
									"type": "String"
								},
								"sink": {
									"name": "BILLINGDOCUMENTTYPE"
								}
							},
							{
								"source": {
									"name": "SOLDMATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "SOLDMATERIAL"
								}
							},
							{
								"source": {
									"name": "SOLDPRODUCT",
									"type": "String"
								},
								"sink": {
									"name": "SOLDPRODUCT"
								}
							},
							{
								"source": {
									"name": "MATERIALGROUP",
									"type": "String"
								},
								"sink": {
									"name": "MATERIALGROUP"
								}
							},
							{
								"source": {
									"name": "DIVISION",
									"type": "String"
								},
								"sink": {
									"name": "DIVISION"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "reproceso/contabilidad"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_entradadiario",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "reproceso/contabilidad"
						}
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Fecha",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "EntradaDiario",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha",
					"value": {
						"value": "@activity('Metadata1').output.lastModified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EntradaDiario_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Fecha",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select *, '@{variables('Fecha')}'as fecha from [dsa_ecu_sap].[entradadiario]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE [dsa_ecu_sap].[entradadiario_prueba]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"MANDT": "MANDT",
							"GLACCOUNT": "GLACCOUNT",
							"POSTINGDATE": "POSTINGDATE",
							"AMOUNTINCOMPANYCODECURRENCY": "AMOUNTINCOMPANYCODECURRENCY",
							"ACCOUNTINGDOCUMENT": "ACCOUNTINGDOCUMENT",
							"DOCUMENTITEMTEXT": "DOCUMENTITEMTEXT",
							"ACCOUNTINGDOCUMENTCATEGORY": "ACCOUNTINGDOCUMENTCATEGORY",
							"LEDGER": "LEDGER",
							"COMPANYCODE": "COMPANYCODE",
							"FISCALPERIOD": "FISCALPERIOD",
							"FISCALYEAR": "FISCALYEAR",
							"COSTCENTER": "COSTCENTER",
							"PROFITCENTER": "PROFITCENTER",
							"SEGMENT": "SEGMENT",
							"COMPANYCODECURRENCY": "COMPANYCODECURRENCY",
							"GLOBALCURRENCY": "GLOBALCURRENCY",
							"AMOUNTINGLOBALCURRENCY": "AMOUNTINGLOBALCURRENCY",
							"QUANTITY": "QUANTITY",
							"BASEUNIT": "BASEUNIT",
							"COSTSOURCEUNIT": "COSTSOURCEUNIT",
							"DEBITCREDITCODE": "DEBITCREDITCODE",
							"DOCUMENTDATE": "DOCUMENTDATE",
							"POSTINGKEY": "POSTINGKEY",
							"ACCOUNTINGDOCUMENTTYPE": "ACCOUNTINGDOCUMENTTYPE",
							"MATERIAL": "MATERIAL",
							"PLANT": "PLANT",
							"SUPPLIER": "SUPPLIER",
							"CUSTOMER": "CUSTOMER",
							"FINANCIALACCOUNTTYPE": "FINANCIALACCOUNTTYPE",
							"LASTCHANGEDATETIME": "LASTCHANGEDATETIME",
							"FECHACARGA": "FECHACARGA",
							"LEDGERGLLINEITEM": "LEDGERGLLINEITEM",
							"LEDGERFISCALYEAR": "LEDGERFISCALYEAR",
							"FINANCIALTRANSACTIONTYPE": "FINANCIALTRANSACTIONTYPE",
							"REFERENCEDOCUMENT": "REFERENCEDOCUMENT",
							"REFERENCEDOCUMENTITEM": "REFERENCEDOCUMENTITEM",
							"ISREVERSAL": "ISREVERSAL",
							"ISREVERSED": "ISREVERSED",
							"REVERSALREFERENCEDOCUMENT": "REVERSALREFERENCEDOCUMENT",
							"ISSETTLEMENT": "ISSETTLEMENT",
							"ISSETTLED": "ISSETTLED",
							"SOURCEREFERENCEDOCUMENTTYPE": "SOURCEREFERENCEDOCUMENTTYPE",
							"PARTNERCOSTCENTER": "PARTNERCOSTCENTER",
							"PARTNERPROFITCENTER": "PARTNERPROFITCENTER",
							"BALANCETRANSACTIONCURRENCY": "BALANCETRANSACTIONCURRENCY",
							"AMOUNTINBALANCETRANSACCRCY": "AMOUNTINBALANCETRANSACCRCY",
							"TRANSACTIONCURRENCY": "TRANSACTIONCURRENCY",
							"AMOUNTINTRANSACTIONCURRENCY": "AMOUNTINTRANSACTIONCURRENCY",
							"FIXEDQUANTITY": "FIXEDQUANTITY",
							"VALUATIONQUANTITY": "VALUATIONQUANTITY",
							"VALUATIONFIXEDQUANTITY": "VALUATIONFIXEDQUANTITY",
							"FISCALYEARVARIANT": "FISCALYEARVARIANT",
							"FISCALYEARPERIOD": "FISCALYEARPERIOD",
							"ACCOUNTINGDOCUMENTITEM": "ACCOUNTINGDOCUMENTITEM",
							"ACCOUNTINGDOCCREATEDBYUSER": "ACCOUNTINGDOCCREATEDBYUSER",
							"CREATIONDATETIME": "CREATIONDATETIME",
							"CREATIONDATE": "CREATIONDATE",
							"GLACCOUNTTYPE": "GLACCOUNTTYPE",
							"INVOICEREFERENCE": "INVOICEREFERENCE",
							"INVOICEITEMREFERENCE": "INVOICEITEMREFERENCE",
							"PURCHASINGDOCUMENT": "PURCHASINGDOCUMENT",
							"PURCHASINGDOCUMENTITEM": "PURCHASINGDOCUMENTITEM",
							"ACCOUNTASSIGNMENTNUMBER": "ACCOUNTASSIGNMENTNUMBER",
							"SALESORDER": "SALESORDER",
							"SALESORDERITEM": "SALESORDERITEM",
							"SALESDOCUMENT": "SALESDOCUMENT",
							"SALESDOCUMENTITEM": "SALESDOCUMENTITEM",
							"PRODUCT": "PRODUCT",
							"TAXCODE": "TAXCODE",
							"HOUSEBANK": "HOUSEBANK",
							"HOUSEBANKACCOUNT": "HOUSEBANKACCOUNT",
							"COSTESTIMATE": "COSTESTIMATE",
							"OFFSETTINGACCOUNT": "OFFSETTINGACCOUNT",
							"OFFSETTINGACCOUNTTYPE": "OFFSETTINGACCOUNTTYPE",
							"PARTNERCOMPANYCODE": "PARTNERCOMPANYCODE",
							"ORIGINCOSTCENTER": "ORIGINCOSTCENTER",
							"ORIGINPROFITCENTER": "ORIGINPROFITCENTER",
							"ORDERID": "ORDERID",
							"ORDERCATEGORY": "ORDERCATEGORY",
							"PARTNERORDER": "PARTNERORDER",
							"PARTNERORDERCATEGORY": "PARTNERORDERCATEGORY",
							"BILLINGDOCUMENTTYPE": "BILLINGDOCUMENTTYPE",
							"SOLDMATERIAL": "SOLDMATERIAL",
							"SOLDPRODUCT": "SOLDPRODUCT",
							"MATERIALGROUP": "MATERIALGROUP",
							"DIVISION": "DIVISION",
							"fecha": "Fecha"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "\t[{\"name\":\"MANDT] \",\"type\":\"String\"} \t,{\"name\":\"GLACCOUNT] \",\"type\":\"String\"} \t,{\"name\":\"POSTINGDATE]\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINCOMPANYCODECURRENCY]\",\"type\":\"Double\"} \t,{\"name\":\"ACCOUNTINGDOCUMENT] \",\"type\":\"String\"} \t,{\"name\":\"DOCUMENTITEMTEXT]\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTCATEGORY]  \t,{\"name\":\"LEDGER]\",\"type\":\"String\"} \t,{\"name\":\"COMPANYCODE]\",\"type\":\"String\"} \t,{\"name\":\"FISCALPERIOD] ,\"type\":\"Int16\"} \t,{\"name\":\"FISCALYEAR] ,\"type\":\"Int16\"} \t,{\"name\":\"COSTCENTER] \",\"type\":\"String\"} \t,{\"name\":\"PROFITCENTER] \",\"type\":\"String\"} \t,{\"name\":\"SEGMENT] \",\"type\":\"String\"} \t,{\"name\":\"COMPANYCODECURRENCY\",\"type\":\"String\"} \t,{\"name\":\"GLOBALCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINGLOBALCURRENCY]\",\"type\":\"Double\" \t,{\"name\":\"QUANTITY]\",\"type\":\"Double\"} \t,{\"name\":\"BASEUNIT\",\"type\":\"String\"} \t,{\"name\":\"COSTSOURCEUNIT\",\"type\":\"String\"} \t,{\"name\":\"DEBITCREDITCODE\",\"type\":\"String\"} \t,{\"name\":\"DOCUMENTDATE\",\"type\":\"String\"} \t,{\"name\":\"POSTINGKEY\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"MATERIAL\",\"type\":\"String\"} \t,{\"name\":\"PLANT\",\"type\":\"String\"} \t,{\"name\":\"SUPPLIER\",\"type\":\"String\"} \t,{\"name\":\"CUSTOMER\",\"type\":\"String\"} \t,{\"name\":\"FINANCIALACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"LASTCHANGEDATETIME\",\"type\":\"String\"} \t,{\"name\":\"FECHACARGA\",\"type\":\"String\"} \t,{\"name\":\"LEDGERGLLINEITEM\",\"type\":\"String\"} \t,{\"name\":\"LEDGERFISCALYEAR\",\"type\":\"String\"} \t,{\"name\":\"FINANCIALTRANSACTIONTYPE\",\"type\":\"String\"} \t,{\"name\":\"REFERENCEDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"REFERENCEDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ISREVERSAL\",\"type\":\"String\"} \t,{\"name\":\"ISREVERSED\",\"type\":\"String\"} \t,{\"name\":\"REVERSALREFERENCEDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"ISSETTLEMENT\",\"type\":\"String\"} \t,{\"name\":\"ISSETTLED\",\"type\":\"String\"} \t,{\"name\":\"SOURCEREFERENCEDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"PARTNERCOSTCENTER\",\"type\":\"String\"} \t,{\"name\":\"PARTNERPROFITCENTER\",\"type\":\"String\"} \t,{\"name\":\"BALANCETRANSACTIONCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINBALANCETRANSACCRCY]\",\"type\":\"Double\"} \t,{\"name\":\"TRANSACTIONCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINTRANSACTIONCURRENCY] \",\"type\":\"Double\"} \t,{\"name\":\"FIXEDQUANTITY] \",\"type\":\"Double\"} \t,{\"name\":\"VALUATIONQUANTITY] \",\"type\":\"Double\"} \t,{\"name\":\"VALUATIONFIXEDQUANTITY]\",\"type\":\"Double\"} \t,{\"name\":\"FISCALYEARVARIANT\",\"type\":\"String\"} \t,{\"name\":\"FISCALYEARPERIOD\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCCREATEDBYUSER\",\"type\":\"String\"} \t,{\"name\":\"CREATIONDATETIME\",\"type\":\"String\"} \t,{\"name\":\"CREATIONDATE\",\"type\":\"String\"} \t,{\"name\":\"GLACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"INVOICEREFERENCE\",\"type\":\"String\"} \t,{\"name\":\"INVOICEITEMREFERENCE\",\"type\":\"String\"} \t,{\"name\":\"PURCHASINGDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"PURCHASINGDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTASSIGNMENTNUMBER\",\"type\":\"String\"} \t,{\"name\":\"SALESORDER\",\"type\":\"String\"} \t,{\"name\":\"SALESORDERITEM\",\"type\":\"String\"} \t,{\"name\":\"SALESDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"SALESDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"PRODUCT\",\"type\":\"String\"} \t,{\"name\":\"TAXCODE\",\"type\":\"String\"} \t,{\"name\":\"HOUSEBANK\",\"type\":\"String\"} \t,{\"name\":\"HOUSEBANKACCOUNT\",\"type\":\"String\"} \t,{\"name\":\"COSTESTIMATE\",\"type\":\"String\"} \t,{\"name\":\"OFFSETTINGACCOUNT\",\"type\":\"String\"} \t,{\"name\":\"OFFSETTINGACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"PARTNERCOMPANYCODE\",\"type\":\"String\"} \t,{\"name\":\"ORIGINCOSTCENTER\",\"type\":\"String\"} \t,{\"name\":\"ORIGINPROFITCENTER\",\"type\":\"String\"} \t,{\"name\":\"ORDERID\",\"type\":\"String\"} \t,{\"name\":\"ORDERCATEGORY\",\"type\":\"String\"} \t,{\"name\":\"PARTNERORDER\",\"type\":\"String\"} \t,{\"name\":\"PARTNERORDERCATEGORY\",\"type\":\"String\"} \t,{\"name\":\"BILLINGDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"SOLDMATERIAL\",\"type\":\"String\"} \t,{\"name\":\"SOLDPRODUCT\",\"type\":\"String\"} \t,{\"name\":\"MATERIALGROUP\",\"type\":\"String\"} \t,{\"name\":\"DIVISION\",\"type\":\"String\"}]",
							"cw_tableName": "[dsa_ecu_sap].[entradadiario]"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "\t[{\"name\":\"MANDT] \",\"type\":\"String\"} \t,{\"name\":\"GLACCOUNT] \",\"type\":\"String\"} \t,{\"name\":\"POSTINGDATE]\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINCOMPANYCODECURRENCY]\",\"type\":\"Double\"} \t,{\"name\":\"ACCOUNTINGDOCUMENT] \",\"type\":\"String\"} \t,{\"name\":\"DOCUMENTITEMTEXT]\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTCATEGORY]  \t,{\"name\":\"LEDGER]\",\"type\":\"String\"} \t,{\"name\":\"COMPANYCODE]\",\"type\":\"String\"} \t,{\"name\":\"FISCALPERIOD] ,\"type\":\"Int16\"} \t,{\"name\":\"FISCALYEAR] ,\"type\":\"Int16\"} \t,{\"name\":\"COSTCENTER] \",\"type\":\"String\"} \t,{\"name\":\"PROFITCENTER] \",\"type\":\"String\"} \t,{\"name\":\"SEGMENT] \",\"type\":\"String\"} \t,{\"name\":\"COMPANYCODECURRENCY\",\"type\":\"String\"} \t,{\"name\":\"GLOBALCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINGLOBALCURRENCY]\",\"type\":\"Double\" \t,{\"name\":\"QUANTITY]\",\"type\":\"Double\"} \t,{\"name\":\"BASEUNIT\",\"type\":\"String\"} \t,{\"name\":\"COSTSOURCEUNIT\",\"type\":\"String\"} \t,{\"name\":\"DEBITCREDITCODE\",\"type\":\"String\"} \t,{\"name\":\"DOCUMENTDATE\",\"type\":\"String\"} \t,{\"name\":\"POSTINGKEY\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"MATERIAL\",\"type\":\"String\"} \t,{\"name\":\"PLANT\",\"type\":\"String\"} \t,{\"name\":\"SUPPLIER\",\"type\":\"String\"} \t,{\"name\":\"CUSTOMER\",\"type\":\"String\"} \t,{\"name\":\"FINANCIALACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"LASTCHANGEDATETIME\",\"type\":\"String\"} \t,{\"name\":\"FECHACARGA\",\"type\":\"String\"} \t,{\"name\":\"LEDGERGLLINEITEM\",\"type\":\"String\"} \t,{\"name\":\"LEDGERFISCALYEAR\",\"type\":\"String\"} \t,{\"name\":\"FINANCIALTRANSACTIONTYPE\",\"type\":\"String\"} \t,{\"name\":\"REFERENCEDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"REFERENCEDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ISREVERSAL\",\"type\":\"String\"} \t,{\"name\":\"ISREVERSED\",\"type\":\"String\"} \t,{\"name\":\"REVERSALREFERENCEDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"ISSETTLEMENT\",\"type\":\"String\"} \t,{\"name\":\"ISSETTLED\",\"type\":\"String\"} \t,{\"name\":\"SOURCEREFERENCEDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"PARTNERCOSTCENTER\",\"type\":\"String\"} \t,{\"name\":\"PARTNERPROFITCENTER\",\"type\":\"String\"} \t,{\"name\":\"BALANCETRANSACTIONCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINBALANCETRANSACCRCY]\",\"type\":\"Double\"} \t,{\"name\":\"TRANSACTIONCURRENCY\",\"type\":\"String\"} \t,{\"name\":\"AMOUNTINTRANSACTIONCURRENCY] \",\"type\":\"Double\"} \t,{\"name\":\"FIXEDQUANTITY] \",\"type\":\"Double\"} \t,{\"name\":\"VALUATIONQUANTITY] \",\"type\":\"Double\"} \t,{\"name\":\"VALUATIONFIXEDQUANTITY]\",\"type\":\"Double\"} \t,{\"name\":\"FISCALYEARVARIANT\",\"type\":\"String\"} \t,{\"name\":\"FISCALYEARPERIOD\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTINGDOCCREATEDBYUSER\",\"type\":\"String\"} \t,{\"name\":\"CREATIONDATETIME\",\"type\":\"String\"} \t,{\"name\":\"CREATIONDATE\",\"type\":\"String\"} \t,{\"name\":\"GLACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"INVOICEREFERENCE\",\"type\":\"String\"} \t,{\"name\":\"INVOICEITEMREFERENCE\",\"type\":\"String\"} \t,{\"name\":\"PURCHASINGDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"PURCHASINGDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"ACCOUNTASSIGNMENTNUMBER\",\"type\":\"String\"} \t,{\"name\":\"SALESORDER\",\"type\":\"String\"} \t,{\"name\":\"SALESORDERITEM\",\"type\":\"String\"} \t,{\"name\":\"SALESDOCUMENT\",\"type\":\"String\"} \t,{\"name\":\"SALESDOCUMENTITEM\",\"type\":\"String\"} \t,{\"name\":\"PRODUCT\",\"type\":\"String\"} \t,{\"name\":\"TAXCODE\",\"type\":\"String\"} \t,{\"name\":\"HOUSEBANK\",\"type\":\"String\"} \t,{\"name\":\"HOUSEBANKACCOUNT\",\"type\":\"String\"} \t,{\"name\":\"COSTESTIMATE\",\"type\":\"String\"} \t,{\"name\":\"OFFSETTINGACCOUNT\",\"type\":\"String\"} \t,{\"name\":\"OFFSETTINGACCOUNTTYPE\",\"type\":\"String\"} \t,{\"name\":\"PARTNERCOMPANYCODE\",\"type\":\"String\"} \t,{\"name\":\"ORIGINCOSTCENTER\",\"type\":\"String\"} \t,{\"name\":\"ORIGINPROFITCENTER\",\"type\":\"String\"} \t,{\"name\":\"ORDERID\",\"type\":\"String\"} \t,{\"name\":\"ORDERCATEGORY\",\"type\":\"String\"} \t,{\"name\":\"PARTNERORDER\",\"type\":\"String\"} \t,{\"name\":\"PARTNERORDERCATEGORY\",\"type\":\"String\"} \t,{\"name\":\"BILLINGDOCUMENTTYPE\",\"type\":\"String\"} \t,{\"name\":\"SOLDMATERIAL\",\"type\":\"String\"} \t,{\"name\":\"SOLDPRODUCT\",\"type\":\"String\"} \t,{\"name\":\"MATERIALGROUP\",\"type\":\"String\"} \t,{\"name\":\"DIVISION\",\"type\":\"String\"} \t,{\"name\":\"fecha\",\"type\":\"String\"}]",
							"cw_tableName": "[dsa_ecu_sap].[entradadiario_prueba]"
						}
					}
				]
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2020"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "12"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "08"
			}
		},
		"variables": {
			"Fecha": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}