pipeline/pl_dsa_Sap_Ecu_Transaccional_PyG_Pedidos.json
{
	"name": "pl_dsa_Sap_Ecu_Transaccional_PyG_Pedidos",
	"properties": {
		"activities": [
			{
				"name": "DeleteReporceso",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ACDOCA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "reproceso/contabilidad/ACDOCA"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/reproceso/contabilidad/ACDOCA"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACDOCA_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "reproceso/contabilidad/ACDOCA",
							"wildcardFileName": {
								"value": "@Concat('ACDOCA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.ACDOCA_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "reproceso/contabilidad/ACDOCA"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_ACDOCA_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACDOCA",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACDOCA_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.ACDOCA\nINSERT INTO [dsa_ecu_sap].[ACDOCA]\nSELECT '@{Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)}' ,* FROM [dsa_ecu_sap].[ACDOCA_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MBEWH",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "MBEWH_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.MBEWH\nINSERT INTO [dsa_ecu_sap].[MBEWH]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[MBEWH_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteMBEWH",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "MBEWH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/MBEWH"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/MBEWH"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "MBEWH_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/MBEWH",
							"wildcardFileName": {
								"value": "@Concat('MBEWH_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.MBEWH_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/MBEWH"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_MBEWH_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MATDOC",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "MATDOC_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[MATDOC]\nINSERT INTO [dsa_ecu_sap].[MATDOC]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[MATDOC_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MATDOC_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/MATDOC",
							"wildcardFileName": {
								"value": "@Concat('MATDOC_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[MATDOC_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/MATDOC"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_MATDOC_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeleteMATDOC",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "MATDOC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/MATDOC"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/MATDOC"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "EKPO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EKPO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.EKPO\nINSERT INTO [dsa_ecu_sap].[EKPO]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EKPO_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EKPO_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "EKKO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/EKPO",
							"wildcardFileName": {
								"value": "@Concat('EKPO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.EKPO_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKPO"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_EKPO_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "EKKO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EKKO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.EKKO\nINSERT INTO [dsa_ecu_sap].[EKKO]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EKKO_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteEKKO",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "EKKO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKKO"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/EKKO"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "EKKO_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/EKKO",
							"wildcardFileName": {
								"value": "@Concat('EKKO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.EKKO_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKKO"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_EKKO_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "EKET",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EKET_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.EKET\nINSERT INTO [dsa_ecu_sap].[EKET]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EKET_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EKET_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "EKKO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/EKET",
							"wildcardFileName": {
								"value": "@Concat('EKET_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.EKET_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKET"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_EKET_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeleteEKET",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "EKET",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKET"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/EKET"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "VBRK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "VBRK_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.VBRK\nINSERT INTO [dsa_ecu_sap].[VBRK]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[VBRK_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteVBRK",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "VBRK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBRK"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/VBRK"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "VBRK_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/VBRK",
							"wildcardFileName": {
								"value": "@Concat('VBRK_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.VBRK_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBRK"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_VBRK_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "VBRP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "VBRP_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.VBRP\nINSERT INTO [dsa_ecu_sap].[VBRP]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[VBRP_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteVBRP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "VBRP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBRP"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/VBRP"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "VBRP_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/VBRP",
							"wildcardFileName": {
								"value": "@Concat('VBRP_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.VBRP_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBRP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_VBRP_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "VBAK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "VBAK_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.VBAK\nINSERT INTO [dsa_ecu_sap].[VBAK]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[VBAK_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteVBAK",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "VBAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBAK"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/VBAK"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "VBAK_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/VBAK",
							"wildcardFileName": {
								"value": "@Concat('VBAK_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.VBAK_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/VBAK"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_VBAK_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LIKP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LIKP_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.LIKP\nINSERT INTO [dsa_ecu_sap].[LIKP]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[LIKP_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteLIKP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "LIKP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/LIKP"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/LIKP"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "LIKP_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/LIKP",
							"wildcardFileName": {
								"value": "@Concat('LIKP_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.LIKP_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/LIKP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_LIKP_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LIPS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.LIPS\nINSERT INTO [dsa_ecu_sap].[LIPS]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[LIPS_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteLIPS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "LIPS_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/LIPS"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/LIPS"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "LIPS_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LIPS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/LIPS",
							"wildcardFileName": {
								"value": "@Concat('LIPS_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.LIPS_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/LIPS"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_LIPS_BLOB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2020"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "12"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "08"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}