pipeline/pl_dsa_Sap_Ecu_Transaccional_Historico_PyG.json
{
	"name": "pl_dsa_Sap_Ecu_Transaccional_Historico_PyG",
	"properties": {
		"activities": [
			{
				"name": "Fecha Carga",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[admin_adm].[usp_CargaFecha]",
						"storedProcedureParameters": {
							"Dias": {
								"type": "Int32",
								"value": "1"
							},
							"FechaDesde": {
								"type": "DateTime",
								"value": null
							},
							"FechaFin": {
								"type": "DateTime",
								"value": null
							},
							"FechaHasta": {
								"type": "DateTime",
								"value": null
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EntradaDiarioHistorica",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Fecha Carga",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dsa_ecu_sap].[usp_CargaEntradaDiarioHistorico]",
					"storedProcedureParameters": {
						"FechaDesde": {
							"value": {
								"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"FechaHasta": {
							"value": {
								"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Pais": {
							"value": {
								"value": "@pipeline().parameters.Pais",
								"type": "Expression"
							},
							"type": "String"
						},
						"TipoCarga": {
							"value": {
								"value": "@pipeline().parameters.TipoCarga",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Pais": {
				"type": "string",
				"defaultValue": "ECU"
			},
			"TipoCarga": {
				"type": "string",
				"defaultValue": "MANUAL"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}