pipeline/pl_dsa_Sap_Ecu_Catalogo_RINT_2.json
{
	"name": "pl_dsa_Sap_Ecu_Catalogo_RINT_2",
	"properties": {
		"activities": [
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "T001L_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/T001L",
							"wildcardFileName": {
								"value": "@Concat('T001L_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[T001L_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T001L"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "WERKS",
									"type": "String"
								},
								{
									"name": "LGORT",
									"type": "String"
								},
								{
									"name": "LGOBE",
									"type": "String"
								},
								{
									"name": "SPART",
									"type": "String"
								},
								{
									"name": "XLONG",
									"type": "String"
								},
								{
									"name": "XBUFX",
									"type": "String"
								},
								{
									"name": "DISKZ",
									"type": "String"
								},
								{
									"name": "XBLGO",
									"type": "String"
								},
								{
									"name": "XRESS",
									"type": "String"
								},
								{
									"name": "XHUPF",
									"type": "String"
								},
								{
									"name": "PARLG",
									"type": "String"
								},
								{
									"name": "VKORG",
									"type": "String"
								},
								{
									"name": "VTWEG",
									"type": "String"
								},
								{
									"name": "VSTEL",
									"type": "String"
								},
								{
									"name": "LIFNR",
									"type": "String"
								},
								{
									"name": "KUNNR",
									"type": "String"
								},
								{
									"name": "MESBS",
									"type": "String"
								},
								{
									"name": "MESST",
									"type": "String"
								},
								{
									"name": "OIH_LICNO",
									"type": "String"
								},
								{
									"name": "OIG_ITRFL",
									"type": "String"
								},
								{
									"name": "OIB_TNKASSIGN",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[T001L_BLOB]"
						}
					}
				]
			},
			{
				"name": "T001L",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "T001L_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[T001L]\nINSERT INTO [dsa_ecu_sap].[T001L]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[T001L_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteT001L",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "T001L",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T001L"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/T001L"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "T001W_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/T001W",
							"wildcardFileName": {
								"value": "@Concat('T001W_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[T001W_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T001W"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "WERKS",
									"type": "String"
								},
								{
									"name": "NAME1",
									"type": "String"
								},
								{
									"name": "BWKEY",
									"type": "String"
								},
								{
									"name": "KUNNR",
									"type": "String"
								},
								{
									"name": "LIFNR",
									"type": "String"
								},
								{
									"name": "FABKL",
									"type": "String"
								},
								{
									"name": "NAME2",
									"type": "String"
								},
								{
									"name": "STRAS",
									"type": "String"
								},
								{
									"name": "PFACH",
									"type": "String"
								},
								{
									"name": "PSTLZ",
									"type": "String"
								},
								{
									"name": "ORT01",
									"type": "String"
								},
								{
									"name": "EKORG",
									"type": "String"
								},
								{
									"name": "VKORG",
									"type": "String"
								},
								{
									"name": "CHAZV",
									"type": "String"
								},
								{
									"name": "KKOWK",
									"type": "String"
								},
								{
									"name": "KORDB",
									"type": "String"
								},
								{
									"name": "BEDPL",
									"type": "String"
								},
								{
									"name": "LAND1",
									"type": "String"
								},
								{
									"name": "REGIO",
									"type": "String"
								},
								{
									"name": "COUNC",
									"type": "String"
								},
								{
									"name": "CITYC",
									"type": "String"
								},
								{
									"name": "ADRNR",
									"type": "String"
								},
								{
									"name": "IWERK",
									"type": "String"
								},
								{
									"name": "TXJCD",
									"type": "String"
								},
								{
									"name": "VTWEG",
									"type": "String"
								},
								{
									"name": "SPART",
									"type": "String"
								},
								{
									"name": "SPRAS",
									"type": "String"
								},
								{
									"name": "WKSOP",
									"type": "String"
								},
								{
									"name": "AWSLS",
									"type": "String"
								},
								{
									"name": "CHAZV_OLD",
									"type": "String"
								},
								{
									"name": "VLFKZ",
									"type": "String"
								},
								{
									"name": "BZIRK",
									"type": "String"
								},
								{
									"name": "ZONE1",
									"type": "String"
								},
								{
									"name": "TAXIW",
									"type": "String"
								},
								{
									"name": "BZQHL",
									"type": "String"
								},
								{
									"name": "LET01",
									"type": "Decimal"
								},
								{
									"name": "LET02",
									"type": "Decimal"
								},
								{
									"name": "LET03",
									"type": "Decimal"
								},
								{
									"name": "TXNAM_MA1",
									"type": "String"
								},
								{
									"name": "TXNAM_MA2",
									"type": "String"
								},
								{
									"name": "TXNAM_MA3",
									"type": "String"
								},
								{
									"name": "BETOL",
									"type": "String"
								},
								{
									"name": "J_1BBRANCH",
									"type": "String"
								},
								{
									"name": "VTBFI",
									"type": "String"
								},
								{
									"name": "FPRFW",
									"type": "String"
								},
								{
									"name": "ACHVM",
									"type": "String"
								},
								{
									"name": "DVSART",
									"type": "String"
								},
								{
									"name": "NODETYPE",
									"type": "String"
								},
								{
									"name": "NSCHEMA",
									"type": "String"
								},
								{
									"name": "PKOSA",
									"type": "String"
								},
								{
									"name": "MISCH",
									"type": "String"
								},
								{
									"name": "MGVUPD",
									"type": "String"
								},
								{
									"name": "VSTEL",
									"type": "String"
								},
								{
									"name": "MGVLAUPD",
									"type": "String"
								},
								{
									"name": "MGVLAREVAL",
									"type": "String"
								},
								{
									"name": "SOURCING",
									"type": "String"
								},
								{
									"name": "NO_DEFAULT_BATCH_MANAGEMENT",
									"type": "String"
								},
								{
									"name": "FSH_MG_ARUN_REQ",
									"type": "String"
								},
								{
									"name": "FSH_SEAIM",
									"type": "String"
								},
								{
									"name": "FSH_BOM_MAINTENANCE",
									"type": "String"
								},
								{
									"name": "FSH_GROUP_PR",
									"type": "String"
								},
								{
									"name": "ARUN_FIX_BATCH",
									"type": "String"
								},
								{
									"name": "OILIVAL",
									"type": "String"
								},
								{
									"name": "OIHVTYPE",
									"type": "String"
								},
								{
									"name": "OIHCREDIPI",
									"type": "String"
								},
								{
									"name": "STORETYPE",
									"type": "String"
								},
								{
									"name": "DEP_STORE",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[T001W_BLOB]"
						}
					}
				]
			},
			{
				"name": "T001W",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "T001W_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[T001W]\nINSERT INTO [dsa_ecu_sap].[T001W]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[T001W_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteT001W",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "T001W",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T001W"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/T001W"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TVKO_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/TVKO",
							"wildcardFileName": {
								"value": "@Concat('TVKO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[TVKO_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVKO"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "VKORG",
									"type": "String"
								},
								{
									"name": "WAERS",
									"type": "String"
								},
								{
									"name": "BUKRS",
									"type": "String"
								},
								{
									"name": "ADRNR",
									"type": "String"
								},
								{
									"name": "TXNAM_ADR",
									"type": "String"
								},
								{
									"name": "TXNAM_KOP",
									"type": "String"
								},
								{
									"name": "TXNAM_FUS",
									"type": "String"
								},
								{
									"name": "TXNAM_GRU",
									"type": "String"
								},
								{
									"name": "VKOAU",
									"type": "String"
								},
								{
									"name": "KUNNR",
									"type": "String"
								},
								{
									"name": "BOAVO",
									"type": "String"
								},
								{
									"name": "VKOKL",
									"type": "String"
								},
								{
									"name": "EKORG",
									"type": "String"
								},
								{
									"name": "EKGRP",
									"type": "String"
								},
								{
									"name": "LIFNR",
									"type": "String"
								},
								{
									"name": "WERKS",
									"type": "String"
								},
								{
									"name": "BSART",
									"type": "String"
								},
								{
									"name": "BSTYP",
									"type": "String"
								},
								{
									"name": "BWART",
									"type": "String"
								},
								{
									"name": "LGORT",
									"type": "String"
								},
								{
									"name": "TXNAM_SDB",
									"type": "String"
								},
								{
									"name": "MWSKZ",
									"type": "String"
								},
								{
									"name": "XSTCEG",
									"type": "String"
								},
								{
									"name": "J_1ANUTIME",
									"type": "String"
								},
								{
									"name": "MAXBI",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[TVKO_BLOB]"
						}
					}
				]
			},
			{
				"name": "TVKO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TVKO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[TVKO]\nINSERT INTO [dsa_ecu_sap].[TVKO]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[TVKO_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteTVKO",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TVKO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVKO"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/TVKO"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TVTW_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/TVTW",
							"wildcardFileName": {
								"value": "@Concat('TVTW_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[TVTW_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVTW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "VTWEG",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[TVTW_BLOB]"
						}
					}
				]
			},
			{
				"name": "TVTW",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TVTW_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[TVTW]\nINSERT INTO [dsa_ecu_sap].[TVTW]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[TVTW_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteTVTW",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TVTW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVTW"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/TVTW"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "07"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "23"
			}
		},
		"variables": {
			"FECHACARGA": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}