pipeline/pl_dsa_Sap_Ecu_Transaccional_RINT_4.json
{
	"name": "pl_dsa_Sap_Ecu_Transaccional_RINT_4",
	"properties": {
		"activities": [
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "QAOP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "QAOP_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.QAOP\nINSERT INTO [dsa_ecu_sap].[QAOP]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[QAOP_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteQAOP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "QAOP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/QAOP"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/produccionplanta/QAOP"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "QAOP_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/QAOP",
							"wildcardFileName": {
								"value": "@Concat('QAOP_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.QAOP_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/QAOP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_QAOP_BLOB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "07"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "26"
			}
		},
		"variables": {
			"FECHACARGA": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}