pipeline/pl_dsa_Sap_RINT_Ecu.json
{
	"name": "pl_dsa_Sap_RINT_Ecu",
	"properties": {
		"activities": [
			{
				"name": "Fecha Carga",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "Select Anio=year(dateadd(hh,-5,getdate()))\n,Mes=convert (char(2),dateadd(hh,-5,getdate()),101)\n,Dia=convert (char(2),dateadd(hh,-5,getdate()),103)",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Catalogo1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fecha Carga",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Catalogo_RINT_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transaccional_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Catalogo2",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Catalogo1",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Catalogo3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Transaccional_RINT_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Catalogo2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fecha Carga",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Catalogo_RINT_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transaccional_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transaccional_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Transaccional_RINT_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Catalogo3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fecha Carga",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Catalogo_RINT_3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transaccional_3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transaccional_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_dsa_Sap_Ecu_Transaccional_RINT_3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Anio": {
							"value": "@activity('Fecha Carga').output.firstRow.Anio",
							"type": "Expression"
						},
						"Mes": {
							"value": "@activity('Fecha Carga').output.firstRow.Mes",
							"type": "Expression"
						},
						"Dia": {
							"value": "@activity('Fecha Carga').output.firstRow.Dia",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}