pipeline/pl_dsa_Sap_Ecu_Transaccional_3_copy1.json
{
	"name": "pl_dsa_Sap_Ecu_Transaccional_3_copy1",
	"properties": {
		"activities": [
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "QAOP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "QAOP_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.QAOP\nINSERT INTO [dsa_ecu_sap].[QAOP]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[QAOP_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "QAOP_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/QAOP",
							"wildcardFileName": {
								"value": "@Concat('QAOP_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.QAOP_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/QAOP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_QAOP_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AFVC",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AFVC_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.[AFVC]\nINSERT INTO [dsa_ecu_sap].[AFVC]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[AFVC_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AFVC_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/AFVC",
							"wildcardFileName": {
								"value": "@Concat('AFVC_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.AFVC_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/AFVC"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_AFVC_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "QALS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "QALS_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.QALS\nINSERT INTO [dsa_ecu_sap].[QALS]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[QALS_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "QALS_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/QALS",
							"wildcardFileName": {
								"value": "@Concat('QALS_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.QALS_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/QALS"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_QALS_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "BSIM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "BSIM_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.[BSIM]\nINSERT INTO [dsa_ecu_sap].[BSIM]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[BSIM_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "BSIM_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/BSIM",
							"wildcardFileName": {
								"value": "@Concat('BSIM_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.BSIM_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/BSIM"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_BSIM_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "EKPO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EKPO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.EKPO\nINSERT INTO [dsa_ecu_sap].[EKPO]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EKPO_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EKPO_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/EKPO",
							"wildcardFileName": {
								"value": "@Concat('EKPO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.EKPO_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKPO"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_EKPO_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "EKET",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EKET_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE dsa_ecu_sap.EKET\nINSERT INTO [dsa_ecu_sap].[EKET]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EKET_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EKET_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "produccionplanta/EKET",
							"wildcardFileName": {
								"value": "@Concat('EKET_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table dsa_ecu_sap.EKET_BLOB",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "produccionplanta/EKET"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_EKET_BLOB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "07"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "26"
			}
		},
		"variables": {
			"FECHACARGA": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}