pipeline/pl_dsa_Sap_Ecu_Catalogo_RINT_3.json
{
	"name": "pl_dsa_Sap_Ecu_Catalogo_RINT_3",
	"properties": {
		"activities": [
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "T683T_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/T683T",
							"wildcardFileName": {
								"value": "@Concat('T683T_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[T683T_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T683T"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"KVEWE\",\"type\":\"String\"} [{\"name\":\"KAPPL\",\"type\":\"String\"} [{\"name\":\"KALSM\",\"type\":\"String\"} [{\"name\":\"STUNR\",\"type\":\"String\"} [{\"name\":\"ZAEHK\",\"type\":\"String\"} [{\"name\":\"VTEXT\",\"type\":\"String\"}",
							"cw_tableName": "[dsa_ecu_sap].[T683T_BLOB]"
						}
					}
				]
			},
			{
				"name": "T683T",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "T683T_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[T683T]\nINSERT INTO [dsa_ecu_sap].[T683T]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[T683T_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteT683T",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "T683T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T683T"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/T683T"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "DFKKBPTAXNUM_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/DFKKBPTAXNUM",
							"wildcardFileName": {
								"value": "@Concat('DFKKBPTAXNUM_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[DFKKBPTAXNUM_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/DFKKBPTAXNUM"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"CLIENT\",\"type\":\"String\"} [{\"name\":\"PARTNER\",\"type\":\"String\"} [{\"name\":\"TAXTYPE\",\"type\":\"String\"} [{\"name\":\"TAXNUM\",\"type\":\"String\"} [{\"name\":\"TAXNUMXL\",\"type\":\"String\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[DFKKBPTAXNUM_BLOB]"
						}
					}
				]
			},
			{
				"name": "DFKKBPTAXNUM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DFKKBPTAXNUM_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[DFKKBPTAXNUM]\nINSERT INTO [dsa_ecu_sap].[DFKKBPTAXNUM]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[DFKKBPTAXNUM_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteDFKKBPTAXNUM",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DFKKBPTAXNUM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/DFKKBPTAXNUM"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/DFKKBPTAXNUM"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TVAKT_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/TVAKT",
							"wildcardFileName": {
								"value": "@Concat('TVAKT_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[TVAKT_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVAKT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"AUART\",\"type\":\"String\"} [{\"name\":\"BEZEI\",\"type\":\"String\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[TVAKT_BLOB]"
						}
					}
				]
			},
			{
				"name": "TVAKT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TVAKT_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[TVAKT]\nINSERT INTO [dsa_ecu_sap].[TVAKT]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[TVAKT_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteTVAKT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TVAKT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVAKT"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/TVAKT"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TVSTT_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/TVSTT",
							"wildcardFileName": {
								"value": "@Concat('TVSTT_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[TVSTT_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVSTT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"VSTEL\",\"type\":\"String\"} [{\"name\":\"VTEXT\",\"type\":\"String\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[TVSTT_BLOB]"
						}
					}
				]
			},
			{
				"name": "TVSTT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TVSTT_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[TVSTT]\nINSERT INTO [dsa_ecu_sap].[TVSTT]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[TVSTT_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteTVSTT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TVSTT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TVSTT"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/TVSTT"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "EQKT_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/EQKT",
							"wildcardFileName": {
								"value": "@Concat('EQKT_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[EQKT_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/EQKT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"TPLNR\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"PLTXT\",\"type\":\"String\"} [{\"name\":\"KZLTX\",\"type\":\"String\"} [{\"name\":\"KZMLA\",\"type\":\"String\"} [{\"name\":\"PLTXU\",\"type\":\"String\"} [{\"name\":\"TEXTCHANGEDDATETIME\",\"type\":\"Decimal\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[EQKT_BLOB]"
						}
					}
				]
			},
			{
				"name": "EQKT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EQKT_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[EQKT]\nINSERT INTO [dsa_ecu_sap].[EQKT]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[EQKT_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteEQKT",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "EQKT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/EQKT"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/EQKT"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "IFLOTX_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/IFLOTX",
							"wildcardFileName": {
								"value": "@Concat('IFLOTX_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[IFLOTX_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/IFLOTX"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"TPLNR\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"PLTXT\",\"type\":\"String\"} [{\"name\":\"KZLTX\",\"type\":\"String\"} [{\"name\":\"KZMLA\",\"type\":\"String\"} [{\"name\":\"PLTXU\",\"type\":\"String\"} [{\"name\":\"TEXTCHANGEDDATETIME\",\"type\":\"Decimal\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[IFLOTX_BLOB]"
						}
					}
				]
			},
			{
				"name": "IFLOTX",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IFLOTX_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[IFLOTX]\nINSERT INTO [dsa_ecu_sap].[IFLOTX]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[IFLOTX_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteIFLOTX",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "IFLOTX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/IFLOTX"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/IFLOTX"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "T003T_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/T003T",
							"wildcardFileName": {
								"value": "@Concat('T003T_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[T003T_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T003T"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"BLART\",\"type\":\"String\"} [{\"name\":\"LTEXT\",\"type\":\"String\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[T003T_BLOB]"
						}
					}
				]
			},
			{
				"name": "T003T",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "T003T_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[T003T]\nINSERT INTO [dsa_ecu_sap].[T003T]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[T003T_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteT003T",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "T003T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/T003T"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/T003T"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "TJ01T_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/TJ01T",
							"wildcardFileName": {
								"value": "@Concat('TJ01T_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[TJ01T_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TJ01T"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": "[{\"name\":\"MANDT\",\"type\":\"String\"} [{\"name\":\"SPRAS\",\"type\":\"String\"} [{\"name\":\"BLART\",\"type\":\"String\"} [{\"name\":\"LTEXT\",\"type\":\"String\"} ]",
							"cw_tableName": "[dsa_ecu_sap].[TJ01T_BLOB]"
						}
					}
				]
			},
			{
				"name": "TJ01T",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TJ01T_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[TJ01T]\nINSERT INTO [dsa_ecu_sap].[TJ01T]\nSELECT '@{variables('FECHACARGA')}' ,* FROM [dsa_ecu_sap].[TJ01T_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteTJ01T",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "TJ01T",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSap_Delete",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/TJ01T"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "linked_storage",
							"type": "LinkedServiceReference"
						},
						"path": "almacenamientosap/catalogo/TJ01T"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@adddays(pipeline().TriggerTime,-7)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "07"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "23"
			}
		},
		"variables": {
			"FECHACARGA": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}