pipeline/prueba_carga_RINT.json
{
	"name": "prueba_carga_RINT",
	"properties": {
		"activities": [
			{
				"name": "MARA_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/MARA",
							"wildcardFileName": {
								"value": "@Concat('MARA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[MARA_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"name": "MANDT"
								}
							},
							{
								"source": {
									"name": "MATNR",
									"type": "String"
								},
								"sink": {
									"name": "MATNR"
								}
							},
							{
								"source": {
									"name": "ERSDA",
									"type": "String"
								},
								"sink": {
									"name": "ERSDA"
								}
							},
							{
								"source": {
									"name": "ERNAM",
									"type": "String"
								},
								"sink": {
									"name": "ERNAM"
								}
							},
							{
								"source": {
									"name": "LAEDA",
									"type": "String"
								},
								"sink": {
									"name": "LAEDA"
								}
							},
							{
								"source": {
									"name": "AENAM",
									"type": "String"
								},
								"sink": {
									"name": "AENAM"
								}
							},
							{
								"source": {
									"name": "VPSTA",
									"type": "String"
								},
								"sink": {
									"name": "VPSTA"
								}
							},
							{
								"source": {
									"name": "PSTAT",
									"type": "String"
								},
								"sink": {
									"name": "PSTAT"
								}
							},
							{
								"source": {
									"name": "LVORM",
									"type": "String"
								},
								"sink": {
									"name": "LVORM"
								}
							},
							{
								"source": {
									"name": "MTART",
									"type": "String"
								},
								"sink": {
									"name": "MTART"
								}
							},
							{
								"source": {
									"name": "MBRSH",
									"type": "String"
								},
								"sink": {
									"name": "MBRSH"
								}
							},
							{
								"source": {
									"name": "MATKL",
									"type": "String"
								},
								"sink": {
									"name": "MATKL"
								}
							},
							{
								"source": {
									"name": "BISMT",
									"type": "String"
								},
								"sink": {
									"name": "BISMT"
								}
							},
							{
								"source": {
									"name": "MEINS",
									"type": "String"
								},
								"sink": {
									"name": "MEINS"
								}
							},
							{
								"source": {
									"name": "BSTME",
									"type": "String"
								},
								"sink": {
									"name": "BSTME"
								}
							},
							{
								"source": {
									"name": "ZEINR",
									"type": "String"
								},
								"sink": {
									"name": "ZEINR"
								}
							},
							{
								"source": {
									"name": "ZEIAR",
									"type": "String"
								},
								"sink": {
									"name": "ZEIAR"
								}
							},
							{
								"source": {
									"name": "ZEIVR",
									"type": "String"
								},
								"sink": {
									"name": "ZEIVR"
								}
							},
							{
								"source": {
									"name": "ZEIFO",
									"type": "String"
								},
								"sink": {
									"name": "ZEIFO"
								}
							},
							{
								"source": {
									"name": "AESZN",
									"type": "String"
								},
								"sink": {
									"name": "AESZN"
								}
							},
							{
								"source": {
									"name": "BLATT",
									"type": "String"
								},
								"sink": {
									"name": "BLATT"
								}
							},
							{
								"source": {
									"name": "BLANZ",
									"type": "String"
								},
								"sink": {
									"name": "BLANZ"
								}
							},
							{
								"source": {
									"name": "FERTH",
									"type": "String"
								},
								"sink": {
									"name": "FERTH"
								}
							},
							{
								"source": {
									"name": "FORMT",
									"type": "String"
								},
								"sink": {
									"name": "FORMT"
								}
							},
							{
								"source": {
									"name": "GROES",
									"type": "String"
								},
								"sink": {
									"name": "GROES"
								}
							},
							{
								"source": {
									"name": "WRKST",
									"type": "String"
								},
								"sink": {
									"name": "WRKST"
								}
							},
							{
								"source": {
									"name": "NORMT",
									"type": "String"
								},
								"sink": {
									"name": "NORMT"
								}
							},
							{
								"source": {
									"name": "LABOR",
									"type": "String"
								},
								"sink": {
									"name": "LABOR"
								}
							},
							{
								"source": {
									"name": "EKWSL",
									"type": "String"
								},
								"sink": {
									"name": "EKWSL"
								}
							},
							{
								"source": {
									"name": "BRGEW",
									"type": "String"
								},
								"sink": {
									"name": "BRGEW"
								}
							},
							{
								"source": {
									"name": "NTGEW",
									"type": "String"
								},
								"sink": {
									"name": "NTGEW"
								}
							},
							{
								"source": {
									"name": "GEWEI",
									"type": "String"
								},
								"sink": {
									"name": "GEWEI"
								}
							},
							{
								"source": {
									"name": "VOLUM",
									"type": "String"
								},
								"sink": {
									"name": "VOLUM"
								}
							},
							{
								"source": {
									"name": "VOLEH",
									"type": "String"
								},
								"sink": {
									"name": "VOLEH"
								}
							},
							{
								"source": {
									"name": "BEHVO",
									"type": "String"
								},
								"sink": {
									"name": "BEHVO"
								}
							},
							{
								"source": {
									"name": "RAUBE",
									"type": "String"
								},
								"sink": {
									"name": "RAUBE"
								}
							},
							{
								"source": {
									"name": "TEMPB",
									"type": "String"
								},
								"sink": {
									"name": "TEMPB"
								}
							},
							{
								"source": {
									"name": "DISST",
									"type": "String"
								},
								"sink": {
									"name": "DISST"
								}
							},
							{
								"source": {
									"name": "TRAGR",
									"type": "String"
								},
								"sink": {
									"name": "TRAGR"
								}
							},
							{
								"source": {
									"name": "STOFF",
									"type": "String"
								},
								"sink": {
									"name": "STOFF"
								}
							},
							{
								"source": {
									"name": "SPART",
									"type": "String"
								},
								"sink": {
									"name": "SPART"
								}
							},
							{
								"source": {
									"name": "KUNNR",
									"type": "String"
								},
								"sink": {
									"name": "KUNNR"
								}
							},
							{
								"source": {
									"name": "EANNR",
									"type": "String"
								},
								"sink": {
									"name": "EANNR"
								}
							},
							{
								"source": {
									"name": "WESCH",
									"type": "String"
								},
								"sink": {
									"name": "WESCH"
								}
							},
							{
								"source": {
									"name": "BWVOR",
									"type": "String"
								},
								"sink": {
									"name": "BWVOR"
								}
							},
							{
								"source": {
									"name": "BWSCL",
									"type": "String"
								},
								"sink": {
									"name": "BWSCL"
								}
							},
							{
								"source": {
									"name": "SAISO",
									"type": "String"
								},
								"sink": {
									"name": "SAISO"
								}
							},
							{
								"source": {
									"name": "ETIAR",
									"type": "String"
								},
								"sink": {
									"name": "ETIAR"
								}
							},
							{
								"source": {
									"name": "ETIFO",
									"type": "String"
								},
								"sink": {
									"name": "ETIFO"
								}
							},
							{
								"source": {
									"name": "ENTAR",
									"type": "String"
								},
								"sink": {
									"name": "ENTAR"
								}
							},
							{
								"source": {
									"name": "EAN11",
									"type": "String"
								},
								"sink": {
									"name": "EAN11"
								}
							},
							{
								"source": {
									"name": "NUMTP",
									"type": "String"
								},
								"sink": {
									"name": "NUMTP"
								}
							},
							{
								"source": {
									"name": "LAENG",
									"type": "String"
								},
								"sink": {
									"name": "LAENG"
								}
							},
							{
								"source": {
									"name": "BREIT",
									"type": "String"
								},
								"sink": {
									"name": "BREIT"
								}
							},
							{
								"source": {
									"name": "HOEHE",
									"type": "String"
								},
								"sink": {
									"name": "HOEHE"
								}
							},
							{
								"source": {
									"name": "MEABM",
									"type": "String"
								},
								"sink": {
									"name": "MEABM"
								}
							},
							{
								"source": {
									"name": "PRDHA",
									"type": "String"
								},
								"sink": {
									"name": "PRDHA"
								}
							},
							{
								"source": {
									"name": "AEKLK",
									"type": "String"
								},
								"sink": {
									"name": "AEKLK"
								}
							},
							{
								"source": {
									"name": "CADKZ",
									"type": "String"
								},
								"sink": {
									"name": "CADKZ"
								}
							},
							{
								"source": {
									"name": "QMPUR",
									"type": "String"
								},
								"sink": {
									"name": "QMPUR"
								}
							},
							{
								"source": {
									"name": "ERGEW",
									"type": "String"
								},
								"sink": {
									"name": "ERGEW"
								}
							},
							{
								"source": {
									"name": "ERGEI",
									"type": "String"
								},
								"sink": {
									"name": "ERGEI"
								}
							},
							{
								"source": {
									"name": "ERVOL",
									"type": "String"
								},
								"sink": {
									"name": "ERVOL"
								}
							},
							{
								"source": {
									"name": "ERVOE",
									"type": "String"
								},
								"sink": {
									"name": "ERVOE"
								}
							},
							{
								"source": {
									"name": "GEWTO",
									"type": "String"
								},
								"sink": {
									"name": "GEWTO"
								}
							},
							{
								"source": {
									"name": "VOLTO",
									"type": "String"
								},
								"sink": {
									"name": "VOLTO"
								}
							},
							{
								"source": {
									"name": "VABME",
									"type": "String"
								},
								"sink": {
									"name": "VABME"
								}
							},
							{
								"source": {
									"name": "KZREV",
									"type": "String"
								},
								"sink": {
									"name": "KZREV"
								}
							},
							{
								"source": {
									"name": "KZKFG",
									"type": "String"
								},
								"sink": {
									"name": "KZKFG"
								}
							},
							{
								"source": {
									"name": "XCHPF",
									"type": "String"
								},
								"sink": {
									"name": "XCHPF"
								}
							},
							{
								"source": {
									"name": "VHART",
									"type": "String"
								},
								"sink": {
									"name": "VHART"
								}
							},
							{
								"source": {
									"name": "FUELG",
									"type": "String"
								},
								"sink": {
									"name": "FUELG"
								}
							},
							{
								"source": {
									"name": "STFAK",
									"type": "Int32"
								},
								"sink": {
									"name": "STFAK"
								}
							},
							{
								"source": {
									"name": "MAGRV",
									"type": "String"
								},
								"sink": {
									"name": "MAGRV"
								}
							},
							{
								"source": {
									"name": "BEGRU",
									"type": "String"
								},
								"sink": {
									"name": "BEGRU"
								}
							},
							{
								"source": {
									"name": "DATAB",
									"type": "String"
								},
								"sink": {
									"name": "DATAB"
								}
							},
							{
								"source": {
									"name": "LIQDT",
									"type": "String"
								},
								"sink": {
									"name": "LIQDT"
								}
							},
							{
								"source": {
									"name": "SAISJ",
									"type": "String"
								},
								"sink": {
									"name": "SAISJ"
								}
							},
							{
								"source": {
									"name": "PLGTP",
									"type": "String"
								},
								"sink": {
									"name": "PLGTP"
								}
							},
							{
								"source": {
									"name": "MLGUT",
									"type": "String"
								},
								"sink": {
									"name": "MLGUT"
								}
							},
							{
								"source": {
									"name": "EXTWG",
									"type": "String"
								},
								"sink": {
									"name": "EXTWG"
								}
							},
							{
								"source": {
									"name": "SATNR",
									"type": "String"
								},
								"sink": {
									"name": "SATNR"
								}
							},
							{
								"source": {
									"name": "ATTYP",
									"type": "String"
								},
								"sink": {
									"name": "ATTYP"
								}
							},
							{
								"source": {
									"name": "KZKUP",
									"type": "String"
								},
								"sink": {
									"name": "KZKUP"
								}
							},
							{
								"source": {
									"name": "KZNFM",
									"type": "String"
								},
								"sink": {
									"name": "KZNFM"
								}
							},
							{
								"source": {
									"name": "PMATA",
									"type": "String"
								},
								"sink": {
									"name": "PMATA"
								}
							},
							{
								"source": {
									"name": "MSTAE",
									"type": "String"
								},
								"sink": {
									"name": "MSTAE"
								}
							},
							{
								"source": {
									"name": "MSTAV",
									"type": "String"
								},
								"sink": {
									"name": "MSTAV"
								}
							},
							{
								"source": {
									"name": "MSTDE",
									"type": "String"
								},
								"sink": {
									"name": "MSTDE"
								}
							},
							{
								"source": {
									"name": "MSTDV",
									"type": "String"
								},
								"sink": {
									"name": "MSTDV"
								}
							},
							{
								"source": {
									"name": "TAKLV",
									"type": "String"
								},
								"sink": {
									"name": "TAKLV"
								}
							},
							{
								"source": {
									"name": "RBNRM",
									"type": "String"
								},
								"sink": {
									"name": "RBNRM"
								}
							},
							{
								"source": {
									"name": "MHDRZ",
									"type": "String"
								},
								"sink": {
									"name": "MHDRZ"
								}
							},
							{
								"source": {
									"name": "MHDHB",
									"type": "String"
								},
								"sink": {
									"name": "MHDHB"
								}
							},
							{
								"source": {
									"name": "MHDLP",
									"type": "String"
								},
								"sink": {
									"name": "MHDLP"
								}
							},
							{
								"source": {
									"name": "INHME",
									"type": "String"
								},
								"sink": {
									"name": "INHME"
								}
							},
							{
								"source": {
									"name": "INHAL",
									"type": "String"
								},
								"sink": {
									"name": "INHAL"
								}
							},
							{
								"source": {
									"name": "VPREH",
									"type": "String"
								},
								"sink": {
									"name": "VPREH"
								}
							},
							{
								"source": {
									"name": "ETIAG",
									"type": "String"
								},
								"sink": {
									"name": "ETIAG"
								}
							},
							{
								"source": {
									"name": "INHBR",
									"type": "String"
								},
								"sink": {
									"name": "INHBR"
								}
							},
							{
								"source": {
									"name": "CMETH",
									"type": "String"
								},
								"sink": {
									"name": "CMETH"
								}
							},
							{
								"source": {
									"name": "CUOBF",
									"type": "String"
								},
								"sink": {
									"name": "CUOBF"
								}
							},
							{
								"source": {
									"name": "KZUMW",
									"type": "String"
								},
								"sink": {
									"name": "KZUMW"
								}
							},
							{
								"source": {
									"name": "KOSCH",
									"type": "String"
								},
								"sink": {
									"name": "KOSCH"
								}
							},
							{
								"source": {
									"name": "SPROF",
									"type": "String"
								},
								"sink": {
									"name": "SPROF"
								}
							},
							{
								"source": {
									"name": "NRFHG",
									"type": "String"
								},
								"sink": {
									"name": "NRFHG"
								}
							},
							{
								"source": {
									"name": "MFRPN",
									"type": "String"
								},
								"sink": {
									"name": "MFRPN"
								}
							},
							{
								"source": {
									"name": "MFRNR",
									"type": "String"
								},
								"sink": {
									"name": "MFRNR"
								}
							},
							{
								"source": {
									"name": "BMATN",
									"type": "String"
								},
								"sink": {
									"name": "BMATN"
								}
							},
							{
								"source": {
									"name": "MPROF",
									"type": "String"
								},
								"sink": {
									"name": "MPROF"
								}
							},
							{
								"source": {
									"name": "KZWSM",
									"type": "String"
								},
								"sink": {
									"name": "KZWSM"
								}
							},
							{
								"source": {
									"name": "SAITY",
									"type": "String"
								},
								"sink": {
									"name": "SAITY"
								}
							},
							{
								"source": {
									"name": "PROFL",
									"type": "String"
								},
								"sink": {
									"name": "PROFL"
								}
							},
							{
								"source": {
									"name": "IHIVI",
									"type": "String"
								},
								"sink": {
									"name": "IHIVI"
								}
							},
							{
								"source": {
									"name": "ILOOS",
									"type": "String"
								},
								"sink": {
									"name": "ILOOS"
								}
							},
							{
								"source": {
									"name": "SERLV",
									"type": "String"
								},
								"sink": {
									"name": "SERLV"
								}
							},
							{
								"source": {
									"name": "KZGVH",
									"type": "String"
								},
								"sink": {
									"name": "KZGVH"
								}
							},
							{
								"source": {
									"name": "XGCHP",
									"type": "String"
								},
								"sink": {
									"name": "XGCHP"
								}
							},
							{
								"source": {
									"name": "KZEFF",
									"type": "String"
								},
								"sink": {
									"name": "KZEFF"
								}
							},
							{
								"source": {
									"name": "COMPL",
									"type": "String"
								},
								"sink": {
									"name": "COMPL"
								}
							},
							{
								"source": {
									"name": "IPRKZ",
									"type": "String"
								},
								"sink": {
									"name": "IPRKZ"
								}
							},
							{
								"source": {
									"name": "RDMHD",
									"type": "String"
								},
								"sink": {
									"name": "RDMHD"
								}
							},
							{
								"source": {
									"name": "PRZUS",
									"type": "String"
								},
								"sink": {
									"name": "PRZUS"
								}
							},
							{
								"source": {
									"name": "MTPOS_MARA",
									"type": "String"
								},
								"sink": {
									"name": "MTPOS_MARA"
								}
							},
							{
								"source": {
									"name": "BFLME",
									"type": "String"
								},
								"sink": {
									"name": "BFLME"
								}
							},
							{
								"source": {
									"name": "MATFI",
									"type": "String"
								},
								"sink": {
									"name": "MATFI"
								}
							},
							{
								"source": {
									"name": "CMREL",
									"type": "String"
								},
								"sink": {
									"name": "CMREL"
								}
							},
							{
								"source": {
									"name": "BBTYP",
									"type": "String"
								},
								"sink": {
									"name": "BBTYP"
								}
							},
							{
								"source": {
									"name": "SLED_BBD",
									"type": "String"
								},
								"sink": {
									"name": "SLED_BBD"
								}
							},
							{
								"source": {
									"name": "GTIN_VARIANT",
									"type": "String"
								},
								"sink": {
									"name": "GTIN_VARIANT"
								}
							},
							{
								"source": {
									"name": "GENNR",
									"type": "String"
								},
								"sink": {
									"name": "GENNR"
								}
							},
							{
								"source": {
									"name": "RMATP",
									"type": "String"
								},
								"sink": {
									"name": "RMATP"
								}
							},
							{
								"source": {
									"name": "GDS_RELEVANT",
									"type": "String"
								},
								"sink": {
									"name": "GDS_RELEVANT"
								}
							},
							{
								"source": {
									"name": "WEORA",
									"type": "String"
								},
								"sink": {
									"name": "WEORA"
								}
							},
							{
								"source": {
									"name": "HUTYP_DFLT",
									"type": "String"
								},
								"sink": {
									"name": "HUTYP_DFLT"
								}
							},
							{
								"source": {
									"name": "PILFERABLE",
									"type": "String"
								},
								"sink": {
									"name": "PILFERABLE"
								}
							},
							{
								"source": {
									"name": "WHSTC",
									"type": "String"
								},
								"sink": {
									"name": "WHSTC"
								}
							},
							{
								"source": {
									"name": "WHMATGR",
									"type": "String"
								},
								"sink": {
									"name": "WHMATGR"
								}
							},
							{
								"source": {
									"name": "HNDLCODE",
									"type": "String"
								},
								"sink": {
									"name": "HNDLCODE"
								}
							},
							{
								"source": {
									"name": "HAZMAT",
									"type": "String"
								},
								"sink": {
									"name": "HAZMAT"
								}
							},
							{
								"source": {
									"name": "HUTYP",
									"type": "String"
								},
								"sink": {
									"name": "HUTYP"
								}
							},
							{
								"source": {
									"name": "TARE_VAR",
									"type": "String"
								},
								"sink": {
									"name": "TARE_VAR"
								}
							},
							{
								"source": {
									"name": "MAXC",
									"type": "String"
								},
								"sink": {
									"name": "MAXC"
								}
							},
							{
								"source": {
									"name": "MAXC_TOL",
									"type": "String"
								},
								"sink": {
									"name": "MAXC_TOL"
								}
							},
							{
								"source": {
									"name": "MAXL",
									"type": "String"
								},
								"sink": {
									"name": "MAXL"
								}
							},
							{
								"source": {
									"name": "MAXB",
									"type": "String"
								},
								"sink": {
									"name": "MAXB"
								}
							},
							{
								"source": {
									"name": "MAXH",
									"type": "String"
								},
								"sink": {
									"name": "MAXH"
								}
							},
							{
								"source": {
									"name": "MAXDIM_UOM",
									"type": "String"
								},
								"sink": {
									"name": "MAXDIM_UOM"
								}
							},
							{
								"source": {
									"name": "HERKL",
									"type": "String"
								},
								"sink": {
									"name": "HERKL"
								}
							},
							{
								"source": {
									"name": "MFRGR",
									"type": "String"
								},
								"sink": {
									"name": "MFRGR"
								}
							},
							{
								"source": {
									"name": "QQTIME",
									"type": "String"
								},
								"sink": {
									"name": "QQTIME"
								}
							},
							{
								"source": {
									"name": "QQTIMEUOM",
									"type": "String"
								},
								"sink": {
									"name": "QQTIMEUOM"
								}
							},
							{
								"source": {
									"name": "QGRP",
									"type": "String"
								},
								"sink": {
									"name": "QGRP"
								}
							},
							{
								"source": {
									"name": "SERIAL",
									"type": "String"
								},
								"sink": {
									"name": "SERIAL"
								}
							},
							{
								"source": {
									"name": "PS_SMARTFORM",
									"type": "String"
								},
								"sink": {
									"name": "PS_SMARTFORM"
								}
							},
							{
								"source": {
									"name": "LOGUNIT",
									"type": "String"
								},
								"sink": {
									"name": "LOGUNIT"
								}
							},
							{
								"source": {
									"name": "CWQREL",
									"type": "String"
								},
								"sink": {
									"name": "CWQREL"
								}
							},
							{
								"source": {
									"name": "CWQPROC",
									"type": "String"
								},
								"sink": {
									"name": "CWQPROC"
								}
							},
							{
								"source": {
									"name": "CWQTOLGR",
									"type": "String"
								},
								"sink": {
									"name": "CWQTOLGR"
								}
							},
							{
								"source": {
									"name": "ADPROF",
									"type": "String"
								},
								"sink": {
									"name": "ADPROF"
								}
							},
							{
								"source": {
									"name": "IPMIPPRODUCT",
									"type": "String"
								},
								"sink": {
									"name": "IPMIPPRODUCT"
								}
							},
							{
								"source": {
									"name": "ALLOW_PMAT_IGNO",
									"type": "String"
								},
								"sink": {
									"name": "ALLOW_PMAT_IGNO"
								}
							},
							{
								"source": {
									"name": "MEDIUM",
									"type": "String"
								},
								"sink": {
									"name": "MEDIUM"
								}
							},
							{
								"source": {
									"name": "COMMODITY",
									"type": "String"
								},
								"sink": {
									"name": "COMMODITY"
								}
							},
							{
								"source": {
									"name": "ANIMAL_ORIGIN",
									"type": "String"
								},
								"sink": {
									"name": "ANIMAL_ORIGIN"
								}
							},
							{
								"source": {
									"name": "TEXTILE_COMP_IND",
									"type": "String"
								},
								"sink": {
									"name": "TEXTILE_COMP_IND"
								}
							},
							{
								"source": {
									"name": "LAST_CHANGED_TIME",
									"type": "String"
								},
								"sink": {
									"name": "LAST_CHANGED_TIME"
								}
							},
							{
								"source": {
									"name": "MATNR_EXTERNAL",
									"type": "String"
								},
								"sink": {
									"name": "MATNR_EXTERNAL"
								}
							},
							{
								"source": {
									"name": "LOGISTICAL_MAT_CATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "LOGISTICAL_MAT_CATEGORY"
								}
							},
							{
								"source": {
									"name": "SALES_MATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "SALES_MATERIAL"
								}
							},
							{
								"source": {
									"name": "IDENTIFICATION_TAG_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "IDENTIFICATION_TAG_TYPE"
								}
							},
							{
								"source": {
									"name": "SGT_CSGR",
									"type": "String"
								},
								"sink": {
									"name": "SGT_CSGR"
								}
							},
							{
								"source": {
									"name": "SGT_COVSA",
									"type": "String"
								},
								"sink": {
									"name": "SGT_COVSA"
								}
							},
							{
								"source": {
									"name": "SGT_STAT",
									"type": "String"
								},
								"sink": {
									"name": "SGT_STAT"
								}
							},
							{
								"source": {
									"name": "SGT_SCOPE",
									"type": "String"
								},
								"sink": {
									"name": "SGT_SCOPE"
								}
							},
							{
								"source": {
									"name": "SGT_REL",
									"type": "String"
								},
								"sink": {
									"name": "SGT_REL"
								}
							},
							{
								"source": {
									"name": "ANP",
									"type": "String"
								},
								"sink": {
									"name": "ANP"
								}
							},
							{
								"source": {
									"name": "PSM_CODE",
									"type": "String"
								},
								"sink": {
									"name": "PSM_CODE"
								}
							},
							{
								"source": {
									"name": "FSH_MG_AT1",
									"type": "String"
								},
								"sink": {
									"name": "FSH_MG_AT1"
								}
							},
							{
								"source": {
									"name": "FSH_MG_AT2",
									"type": "String"
								},
								"sink": {
									"name": "FSH_MG_AT2"
								}
							},
							{
								"source": {
									"name": "FSH_MG_AT3",
									"type": "String"
								},
								"sink": {
									"name": "FSH_MG_AT3"
								}
							},
							{
								"source": {
									"name": "FSH_SEALV",
									"type": "String"
								},
								"sink": {
									"name": "FSH_SEALV"
								}
							},
							{
								"source": {
									"name": "FSH_SEAIM",
									"type": "String"
								},
								"sink": {
									"name": "FSH_SEAIM"
								}
							},
							{
								"source": {
									"name": "FSH_SC_MID",
									"type": "String"
								},
								"sink": {
									"name": "FSH_SC_MID"
								}
							},
							{
								"source": {
									"name": "DUMMY_PRD_INCL_EEW_PS",
									"type": "String"
								},
								"sink": {
									"name": "DUMMY_PRD_INCL_EEW_PS"
								}
							},
							{
								"source": {
									"name": "SCM_MATID_GUID16",
									"type": "String"
								},
								"sink": {
									"name": "SCM_MATID_GUID16"
								}
							},
							{
								"source": {
									"name": "SCM_MATID_GUID22",
									"type": "String"
								},
								"sink": {
									"name": "SCM_MATID_GUID22"
								}
							},
							{
								"source": {
									"name": "SCM_MATURITY_DUR",
									"type": "String"
								},
								"sink": {
									"name": "SCM_MATURITY_DUR"
								}
							},
							{
								"source": {
									"name": "SCM_SHLF_LFE_REQ_MIN",
									"type": "String"
								},
								"sink": {
									"name": "SCM_SHLF_LFE_REQ_MIN"
								}
							},
							{
								"source": {
									"name": "SCM_SHLF_LFE_REQ_MAX",
									"type": "String"
								},
								"sink": {
									"name": "SCM_SHLF_LFE_REQ_MAX"
								}
							},
							{
								"source": {
									"name": "SCM_PUOM",
									"type": "String"
								},
								"sink": {
									"name": "SCM_PUOM"
								}
							},
							{
								"source": {
									"name": "RMATP_PB",
									"type": "String"
								},
								"sink": {
									"name": "RMATP_PB"
								}
							},
							{
								"source": {
									"name": "PROD_SHAPE",
									"type": "String"
								},
								"sink": {
									"name": "PROD_SHAPE"
								}
							},
							{
								"source": {
									"name": "MO_PROFILE_ID",
									"type": "String"
								},
								"sink": {
									"name": "MO_PROFILE_ID"
								}
							},
							{
								"source": {
									"name": "OVERHANG_TRESH",
									"type": "String"
								},
								"sink": {
									"name": "OVERHANG_TRESH"
								}
							},
							{
								"source": {
									"name": "BRIDGE_TRESH",
									"type": "String"
								},
								"sink": {
									"name": "BRIDGE_TRESH"
								}
							},
							{
								"source": {
									"name": "BRIDGE_MAX_SLOPE",
									"type": "String"
								},
								"sink": {
									"name": "BRIDGE_MAX_SLOPE"
								}
							},
							{
								"source": {
									"name": "HEIGHT_NONFLAT",
									"type": "String"
								},
								"sink": {
									"name": "HEIGHT_NONFLAT"
								}
							},
							{
								"source": {
									"name": "HEIGHT_NONFLAT_UOM",
									"type": "String"
								},
								"sink": {
									"name": "HEIGHT_NONFLAT_UOM"
								}
							},
							{
								"source": {
									"name": "/CWM/XCWMAT",
									"type": "String"
								},
								"sink": {
									"name": "/CWM/XCWMAT"
								}
							},
							{
								"source": {
									"name": "/CWM/VALUM",
									"type": "String"
								},
								"sink": {
									"name": "/CWM/VALUM"
								}
							},
							{
								"source": {
									"name": "/CWM/TOLGR",
									"type": "String"
								},
								"sink": {
									"name": "/CWM/TOLGR"
								}
							},
							{
								"source": {
									"name": "/CWM/TARA",
									"type": "String"
								},
								"sink": {
									"name": "/CWM/TARA"
								}
							},
							{
								"source": {
									"name": "/CWM/TARUM",
									"type": "String"
								},
								"sink": {
									"name": "/CWM/TARUM"
								}
							},
							{
								"source": {
									"name": "/BEV1/LULEINH",
									"type": "String"
								},
								"sink": {
									"name": "/BEV1/LULEINH"
								}
							},
							{
								"source": {
									"name": "/BEV1/LULDEGRP",
									"type": "String"
								},
								"sink": {
									"name": "/BEV1/LULDEGRP"
								}
							},
							{
								"source": {
									"name": "/BEV1/NESTRUCCAT",
									"type": "String"
								},
								"sink": {
									"name": "/BEV1/NESTRUCCAT"
								}
							},
							{
								"source": {
									"name": "/DSD/SL_TOLTYP",
									"type": "String"
								},
								"sink": {
									"name": "/DSD/SL_TOLTYP"
								}
							},
							{
								"source": {
									"name": "/DSD/SV_CNT_GRP",
									"type": "String"
								},
								"sink": {
									"name": "/DSD/SV_CNT_GRP"
								}
							},
							{
								"source": {
									"name": "/DSD/VC_GROUP",
									"type": "String"
								},
								"sink": {
									"name": "/DSD/VC_GROUP"
								}
							},
							{
								"source": {
									"name": "/SAPMP/KADU",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/KADU"
								}
							},
							{
								"source": {
									"name": "/SAPMP/ABMEIN",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/ABMEIN"
								}
							},
							{
								"source": {
									"name": "/SAPMP/KADP",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/KADP"
								}
							},
							{
								"source": {
									"name": "/SAPMP/BRAD",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/BRAD"
								}
							},
							{
								"source": {
									"name": "/SAPMP/SPBI",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/SPBI"
								}
							},
							{
								"source": {
									"name": "/SAPMP/TRAD",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/TRAD"
								}
							},
							{
								"source": {
									"name": "/SAPMP/KEDU",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/KEDU"
								}
							},
							{
								"source": {
									"name": "/SAPMP/SPTR",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/SPTR"
								}
							},
							{
								"source": {
									"name": "/SAPMP/FBDK",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/FBDK"
								}
							},
							{
								"source": {
									"name": "/SAPMP/FBHK",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/FBHK"
								}
							},
							{
								"source": {
									"name": "/SAPMP/RILI",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/RILI"
								}
							},
							{
								"source": {
									"name": "/SAPMP/FBAK",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/FBAK"
								}
							},
							{
								"source": {
									"name": "/SAPMP/AHO",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/AHO"
								}
							},
							{
								"source": {
									"name": "/SAPMP/MIFRR",
									"type": "String"
								},
								"sink": {
									"name": "/SAPMP/MIFRR"
								}
							},
							{
								"source": {
									"name": "/STTPEC/SERTYPE",
									"type": "Int32"
								},
								"sink": {
									"name": "/STTPEC/SERTYPE"
								}
							},
							{
								"source": {
									"name": "/STTPEC/SYNCACT",
									"type": "String"
								},
								"sink": {
									"name": "/STTPEC/SYNCACT"
								}
							},
							{
								"source": {
									"name": "/STTPEC/SYNCTIME",
									"type": "String"
								},
								"sink": {
									"name": "/STTPEC/SYNCTIME"
								}
							},
							{
								"source": {
									"name": "/STTPEC/SYNCCHG",
									"type": "String"
								},
								"sink": {
									"name": "/STTPEC/SYNCCHG"
								}
							},
							{
								"source": {
									"name": "/STTPEC/COUNTRY_REF",
									"type": "String"
								},
								"sink": {
									"name": "/STTPEC/COUNTRY_REF"
								}
							},
							{
								"source": {
									"name": "/STTPEC/PRDCAT",
									"type": "String"
								},
								"sink": {
									"name": "/STTPEC/PRDCAT"
								}
							},
							{
								"source": {
									"name": "/VSO/R_TILT_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_TILT_IND"
								}
							},
							{
								"source": {
									"name": "/VSO/R_STACK_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_STACK_IND"
								}
							},
							{
								"source": {
									"name": "/VSO/R_BOT_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_BOT_IND"
								}
							},
							{
								"source": {
									"name": "/VSO/R_TOP_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_TOP_IND"
								}
							},
							{
								"source": {
									"name": "/VSO/R_STACK_NO",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_STACK_NO"
								}
							},
							{
								"source": {
									"name": "/VSO/R_PAL_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_PAL_IND"
								}
							},
							{
								"source": {
									"name": "/VSO/R_PAL_OVR_D",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_PAL_OVR_D"
								}
							},
							{
								"source": {
									"name": "/VSO/R_PAL_OVR_W",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_PAL_OVR_W"
								}
							},
							{
								"source": {
									"name": "/VSO/R_PAL_B_HT",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_PAL_B_HT"
								}
							},
							{
								"source": {
									"name": "/VSO/R_PAL_MIN_H",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_PAL_MIN_H"
								}
							},
							{
								"source": {
									"name": "/VSO/R_TOL_B_HT",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_TOL_B_HT"
								}
							},
							{
								"source": {
									"name": "/VSO/R_NO_P_GVH",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_NO_P_GVH"
								}
							},
							{
								"source": {
									"name": "/VSO/R_QUAN_UNIT",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_QUAN_UNIT"
								}
							},
							{
								"source": {
									"name": "/VSO/R_KZGVH_IND",
									"type": "String"
								},
								"sink": {
									"name": "/VSO/R_KZGVH_IND"
								}
							},
							{
								"source": {
									"name": "PACKCODE",
									"type": "String"
								},
								"sink": {
									"name": "PACKCODE"
								}
							},
							{
								"source": {
									"name": "DG_PACK_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "DG_PACK_STATUS"
								}
							},
							{
								"source": {
									"name": "MCOND",
									"type": "String"
								},
								"sink": {
									"name": "MCOND"
								}
							},
							{
								"source": {
									"name": "RETDELC",
									"type": "String"
								},
								"sink": {
									"name": "RETDELC"
								}
							},
							{
								"source": {
									"name": "LOGLEV_RETO",
									"type": "String"
								},
								"sink": {
									"name": "LOGLEV_RETO"
								}
							},
							{
								"source": {
									"name": "NSNID",
									"type": "String"
								},
								"sink": {
									"name": "NSNID"
								}
							},
							{
								"source": {
									"name": "OVLPN",
									"type": "String"
								},
								"sink": {
									"name": "OVLPN"
								}
							},
							{
								"source": {
									"name": "ADSPC_SPC",
									"type": "String"
								},
								"sink": {
									"name": "ADSPC_SPC"
								}
							},
							{
								"source": {
									"name": "VARID",
									"type": "String"
								},
								"sink": {
									"name": "VARID"
								}
							},
							{
								"source": {
									"name": "MSBOOKPARTNO",
									"type": "String"
								},
								"sink": {
									"name": "MSBOOKPARTNO"
								}
							},
							{
								"source": {
									"name": "DPCBT",
									"type": "String"
								},
								"sink": {
									"name": "DPCBT"
								}
							},
							{
								"source": {
									"name": "XGRDT",
									"type": "String"
								},
								"sink": {
									"name": "XGRDT"
								}
							},
							{
								"source": {
									"name": "IMATN",
									"type": "String"
								},
								"sink": {
									"name": "IMATN"
								}
							},
							{
								"source": {
									"name": "PICNUM",
									"type": "String"
								},
								"sink": {
									"name": "PICNUM"
								}
							},
							{
								"source": {
									"name": "BSTAT",
									"type": "String"
								},
								"sink": {
									"name": "BSTAT"
								}
							},
							{
								"source": {
									"name": "COLOR_ATINN",
									"type": "String"
								},
								"sink": {
									"name": "COLOR_ATINN"
								}
							},
							{
								"source": {
									"name": "SIZE1_ATINN",
									"type": "String"
								},
								"sink": {
									"name": "SIZE1_ATINN"
								}
							},
							{
								"source": {
									"name": "SIZE2_ATINN",
									"type": "String"
								},
								"sink": {
									"name": "SIZE2_ATINN"
								}
							},
							{
								"source": {
									"name": "COLOR",
									"type": "String"
								},
								"sink": {
									"name": "COLOR"
								}
							},
							{
								"source": {
									"name": "SIZE1",
									"type": "String"
								},
								"sink": {
									"name": "SIZE1"
								}
							},
							{
								"source": {
									"name": "SIZE2",
									"type": "String"
								},
								"sink": {
									"name": "SIZE2"
								}
							},
							{
								"source": {
									"name": "FREE_CHAR",
									"type": "String"
								},
								"sink": {
									"name": "FREE_CHAR"
								}
							},
							{
								"source": {
									"name": "CARE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "CARE_CODE"
								}
							},
							{
								"source": {
									"name": "BRAND_ID",
									"type": "String"
								},
								"sink": {
									"name": "BRAND_ID"
								}
							},
							{
								"source": {
									"name": "FIBER_CODE1",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_CODE1"
								}
							},
							{
								"source": {
									"name": "FIBER_PART1",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_PART1"
								}
							},
							{
								"source": {
									"name": "FIBER_CODE2",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_CODE2"
								}
							},
							{
								"source": {
									"name": "FIBER_PART2",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_PART2"
								}
							},
							{
								"source": {
									"name": "FIBER_CODE3",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_CODE3"
								}
							},
							{
								"source": {
									"name": "FIBER_PART3",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_PART3"
								}
							},
							{
								"source": {
									"name": "FIBER_CODE4",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_CODE4"
								}
							},
							{
								"source": {
									"name": "FIBER_PART4",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_PART4"
								}
							},
							{
								"source": {
									"name": "FIBER_CODE5",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_CODE5"
								}
							},
							{
								"source": {
									"name": "FIBER_PART5",
									"type": "String"
								},
								"sink": {
									"name": "FIBER_PART5"
								}
							},
							{
								"source": {
									"name": "FASHGRD",
									"type": "String"
								},
								"sink": {
									"name": "FASHGRD"
								}
							},
							{
								"source": {
									"name": "ZMATNR_G",
									"type": "String"
								},
								"sink": {
									"name": "ZMATNR_G"
								}
							},
							{
								"source": {
									"name": "ZUMREZ_G",
									"type": "String"
								},
								"sink": {
									"name": "ZUMREZ_G"
								}
							},
							{
								"source": {
									"name": "ZXFEFO",
									"type": "String"
								},
								"sink": {
									"name": "ZXFEFO"
								}
							},
							{
								"source": {
									"name": "ZN_ESTAD_MERC",
									"type": "String"
								},
								"sink": {
									"name": "ZN_ESTAD_MERC"
								}
							},
							{
								"source": {
									"name": "ZKVGR1_G",
									"type": "String"
								},
								"sink": {
									"name": "ZKVGR1_G"
								}
							},
							{
								"source": {
									"name": "ZMENGE_G",
									"type": "String"
								},
								"sink": {
									"name": "ZMENGE_G"
								}
							},
							{
								"source": {
									"name": "ZGENERICO",
									"type": "String"
								},
								"sink": {
									"name": "ZGENERICO"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/MARA"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sap_MARA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MVKE_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "catalogo/MVKE",
							"wildcardFileName": {
								"value": "@Concat('MVKE_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dsa_ecu_sap].[MVKE_BLOB]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_BlobSap",
						"type": "DatasetReference",
						"parameters": {
							"cw_carpeta": "catalogo/MVKE"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dwh",
						"type": "DatasetReference",
						"parameters": {
							"cw_structure": [
								{
									"name": "MANDT",
									"type": "String"
								},
								{
									"name": "MATNR",
									"type": "String"
								},
								{
									"name": "VKORG",
									"type": "String"
								},
								{
									"name": "VTWEG",
									"type": "String"
								},
								{
									"name": "LVORM",
									"type": "String"
								},
								{
									"name": "VERSG",
									"type": "String"
								},
								{
									"name": "BONUS",
									"type": "String"
								},
								{
									"name": "PROVG",
									"type": "String"
								},
								{
									"name": "SKTOF",
									"type": "String"
								},
								{
									"name": "VMSTA",
									"type": "String"
								},
								{
									"name": "VMSTD",
									"type": "String"
								},
								{
									"name": "AUMNG",
									"type": "Decimal"
								},
								{
									"name": "LFMNG",
									"type": "Decimal"
								},
								{
									"name": "EFMNG",
									"type": "Decimal"
								},
								{
									"name": "SCMNG",
									"type": "Decimal"
								},
								{
									"name": "SCHME",
									"type": "String"
								},
								{
									"name": "VRKME",
									"type": "String"
								},
								{
									"name": "MTPOS",
									"type": "String"
								},
								{
									"name": "DWERK",
									"type": "String"
								},
								{
									"name": "PRODH",
									"type": "String"
								},
								{
									"name": "PMATN",
									"type": "String"
								},
								{
									"name": "KONDM",
									"type": "String"
								},
								{
									"name": "KTGRM",
									"type": "String"
								},
								{
									"name": "MVGR1",
									"type": "String"
								},
								{
									"name": "MVGR2",
									"type": "String"
								},
								{
									"name": "MVGR3",
									"type": "String"
								},
								{
									"name": "MVGR4",
									"type": "String"
								},
								{
									"name": "MVGR5",
									"type": "String"
								},
								{
									"name": "SSTUF",
									"type": "String"
								},
								{
									"name": "PFLKS",
									"type": "String"
								},
								{
									"name": "LSTFL",
									"type": "String"
								},
								{
									"name": "LSTVZ",
									"type": "String"
								},
								{
									"name": "LSTAK",
									"type": "String"
								},
								{
									"name": "LDVFL",
									"type": "String"
								},
								{
									"name": "LDBFL",
									"type": "String"
								},
								{
									"name": "LDVZL",
									"type": "String"
								},
								{
									"name": "LDBZL",
									"type": "String"
								},
								{
									"name": "VDVFL",
									"type": "String"
								},
								{
									"name": "VDBFL",
									"type": "String"
								},
								{
									"name": "VDVZL",
									"type": "String"
								},
								{
									"name": "VDBZL",
									"type": "String"
								},
								{
									"name": "PRAT1",
									"type": "String"
								},
								{
									"name": "PRAT2",
									"type": "String"
								},
								{
									"name": "PRAT3",
									"type": "String"
								},
								{
									"name": "PRAT4",
									"type": "String"
								},
								{
									"name": "PRAT5",
									"type": "String"
								},
								{
									"name": "PRAT6",
									"type": "String"
								},
								{
									"name": "PRAT7",
									"type": "String"
								},
								{
									"name": "PRAT8",
									"type": "String"
								},
								{
									"name": "PRAT9",
									"type": "String"
								},
								{
									"name": "PRATA",
									"type": "String"
								},
								{
									"name": "RDPRF",
									"type": "String"
								},
								{
									"name": "MEGRU",
									"type": "String"
								},
								{
									"name": "LFMAX",
									"type": "Decimal"
								},
								{
									"name": "RJART",
									"type": "String"
								},
								{
									"name": "PBIND",
									"type": "String"
								},
								{
									"name": "VAVME",
									"type": "String"
								},
								{
									"name": "MATKC",
									"type": "String"
								},
								{
									"name": "PVMSO",
									"type": "String"
								},
								{
									"name": "DUMMY_SALD_INCL_EEW_PS",
									"type": "String"
								},
								{
									"name": "/BEV1/EMLGRP",
									"type": "String"
								},
								{
									"name": "/BEV1/EMDRCKSPL",
									"type": "String"
								},
								{
									"name": "/BEV1/RPBEZME",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSNS",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSFA",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSKI",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSCO",
									"type": "String"
								},
								{
									"name": "/BEV1/RPSSO",
									"type": "String"
								},
								{
									"name": "NF_FLAG",
									"type": "String"
								},
								{
									"name": "PLGTP",
									"type": "String"
								}
							],
							"cw_tableName": "[dsa_ecu_sap].[MVKE_BLOB]"
						}
					}
				]
			},
			{
				"name": "MVKE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FECHACARGA",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MVKE_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "TRUNCATE TABLE [dsa_ecu_sap].[MVKE]\nINSERT INTO [dsa_ecu_sap].[MVKE]\nSELECT CONVERT(DATETIME,'@{variables('FECHACARGA')}',21) ,* FROM [dsa_ecu_sap].[MVKE_BLOB]\nSELECT 'ok' AS Resultado",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dwh_general",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FECHACARGA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FECHACARGA",
					"value": {
						"value": "@Concat(pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Anio": {
				"type": "string",
				"defaultValue": "2021"
			},
			"Mes": {
				"type": "string",
				"defaultValue": "07"
			},
			"Dia": {
				"type": "string",
				"defaultValue": "23"
			}
		},
		"variables": {
			"FECHACARGA": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dsa_Sap"
		},
		"annotations": []
	}
}