df-bi-dwh/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Maxpoint_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Catalogos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu_Catalogo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-MP-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Catalogos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_mp",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_MaxPointEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sip_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SIP",
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT\n\tFechaCarga=GETDATE(),\n\tFechaDesde=MIN(Fecha),--inicia en enero +1\n\tFechaHasta=DATEADD(yy, DATEDIFF(yy, 0, GETDATE()) + 2, -1)--termina en diciembre+1\nFROM dwh_dim.Tiempo\nwhere AnioNumero52Semanas=year(DATEADD(yy, DATEDIFF(yy, 0, GETDATE())+1, 0))",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu_Catalogo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZCONTADB",
								"BaseDatos": "Presupuestos"
							}
						}
					},
					{
						"name": "Cargar Transaccional",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu_Transaccional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZCONTADB",
								"BaseDatos": "Presupuestos",
								"FechaDesde": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualizar Estadisticas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cargar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE STATISTICS [dsa_ecu_sip].[Cuentas]\nUPDATE STATISTICS [dsa_ecu_sip].[PresupuestoGastos]\nUPDATE STATISTICS [dsa_ecu_sip].[PresupuestoVentas]\nUPDATE STATISTICS [dsa_ecu_sip].[SolicitudTotal_Aprobacion]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "dsa_SipEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Arg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_arg_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_arg_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_arg_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_arg_sg].[CajaChica]\nTRUNCATE TABLE [dsa_arg_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_arg_sg].[CierreChica]\nTRUNCATE TABLE [dsa_arg_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_arg_sg].[Depositos]\nTRUNCATE TABLE [dsa_arg_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_arg_sg].[DinTrans]\nTRUNCATE TABLE [dsa_arg_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_arg_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_arg_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_arg_sg].[MixCab]\nTRUNCATE TABLE [dsa_arg_sg].[MixTrans]\nTRUNCATE TABLE [dsa_arg_sg].[MovInv]\nTRUNCATE TABLE [dsa_arg_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_arg_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_arg_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_arg_sg].[PyG]\nTRUNCATE TABLE [dsa_arg_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_arg_sg].[VentasHora]\nTRUNCATE TABLE [dsa_arg_sg].[VentaXMedio]\n\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ARG"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteArg"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Chl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_chl_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_chl_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_chl_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_chl_sg].[CajaChica]\nTRUNCATE TABLE [dsa_chl_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_chl_sg].[CierreChica]\nTRUNCATE TABLE [dsa_chl_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_chl_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_chl_sg].[Cupones]\nTRUNCATE TABLE [dsa_chl_sg].[Depositos]\nTRUNCATE TABLE [dsa_chl_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_chl_sg].[DinTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_chl_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_chl_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_chl_sg].[MixCab]\nTRUNCATE TABLE [dsa_chl_sg].[MixTrans]\nTRUNCATE TABLE [dsa_chl_sg].[MovInv]\nTRUNCATE TABLE [dsa_chl_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_chl_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_chl_sg].[PyG]\nTRUNCATE TABLE [dsa_chl_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_chl_sg].[VentasHora]\nTRUNCATE TABLE [dsa_chl_sg].[VentasHora_Domicilio]\nTRUNCATE TABLE [dsa_chl_sg].[VentaXMedio]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-CHL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteChl"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Chl_Auditoria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_chl_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_chl_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_chl_sg].[CierreChica]\nTRUNCATE TABLE [dsa_chl_sg].[Depositos]\nTRUNCATE TABLE [dsa_chl_sg].[DinTrans]\nTRUNCATE TABLE [dsa_chl_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_chl_sg].[MovInv]\nTRUNCATE TABLE [dsa_chl_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales_Restaurante]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-CHL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteChl"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Col')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_col_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_col_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_col_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_col_sg].[CajaChica]\nTRUNCATE TABLE [dsa_col_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_col_sg].[CierreChica]\nTRUNCATE TABLE [dsa_col_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_col_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_col_sg].[Cupones]\nTRUNCATE TABLE [dsa_col_sg].[Depositos]\nTRUNCATE TABLE [dsa_col_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_col_sg].[DinTrans]\nTRUNCATE TABLE [dsa_col_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_col_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_col_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_col_sg].[MixCab]\nTRUNCATE TABLE [dsa_col_sg].[MixTrans]\nTRUNCATE TABLE [dsa_col_sg].[MovInv]\nTRUNCATE TABLE [dsa_col_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_col_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_col_sg].[PyG]\nTRUNCATE TABLE [dsa_col_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_col_sg].[VentasHora]\nTRUNCATE TABLE [dsa_col_sg].[VentasHora_Domicilio]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteCol"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Col_Auditoria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_col_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_col_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_col_sg].[CierreChica]\nTRUNCATE TABLE [dsa_col_sg].[Depositos]\nTRUNCATE TABLE [dsa_col_sg].[DinTrans]\nTRUNCATE TABLE [dsa_col_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_col_sg].[MovInv]\nTRUNCATE TABLE [dsa_col_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales_Restaurante]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteCol"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServidorQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"ServidorGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior2",
												"type": "Expression"
											},
											"BaseDatosQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"BaseDatosGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior2",
												"type": "Expression"
											},
											"RegionQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior1",
												"type": "Expression"
											},
											"RegionGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServidorQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"ServidorGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatosQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"BaseDatosGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"RegionQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											},
											"RegionGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ServidorQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"ServidorGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatosQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"BaseDatosGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"RegionQuito": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											},
											"RegionGuayaquil": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_ecu_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_ecu_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[CabeceraMarcacion]\nTRUNCATE TABLE [dsa_ecu_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_ecu_sg].[CajaChica]\nTRUNCATE TABLE [dsa_ecu_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_ecu_sg].[CierreChica]\nTRUNCATE TABLE [dsa_ecu_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_ecu_sg].[Cupones]\nTRUNCATE TABLE [dsa_ecu_sg].[Depositos]\nTRUNCATE TABLE [dsa_ecu_sg].[Detalle_Solicitud]\nTRUNCATE TABLE [dsa_ecu_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_ecu_sg].[DinTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_ecu_sg].[Factura_Electronica]\nTRUNCATE TABLE [dsa_ecu_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_ecu_sg].[Log_Marcacion_Hora_Extra]\nTRUNCATE TABLE [dsa_ecu_sg].[Marcacion]\nTRUNCATE TABLE [dsa_ecu_sg].[VentasCaja]\nTRUNCATE TABLE [dsa_ecu_sg].[VentasHora]\nTRUNCATE TABLE [dsa_ecu_sg].[VentasHora_Domicilio]\nTRUNCATE TABLE [dsa_ecu_sg].[Marcacion_Hora_Extra]\nTRUNCATE TABLE [dsa_ecu_sg].[MixCab]\nTRUNCATE TABLE [dsa_ecu_sg].[MixTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[MovInv]\nTRUNCATE TABLE [dsa_ecu_sg].[Novedad]\nTRUNCATE TABLE [dsa_ecu_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_ecu_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_ecu_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_ecu_sg].[PyG]\nTRUNCATE TABLE [dsa_ecu_sg].[Solicitud]\nTRUNCATE TABLE [dsa_ecu_sg].[Solicitud_Cupon]\nTRUNCATE TABLE [dsa_ecu_sg].[Subdetalle_Solicitud]\nTRUNCATE TABLE [dsa_ecu_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_ecu_sg].[VentasUsuario]\nTRUNCATE TABLE [dsa_ecu_sg].[VentaXMedio]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ServidorQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"ServidorGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
									"type": "Expression"
								},
								"BaseDatosGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ServidorQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"ServidorGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
									"type": "Expression"
								},
								"BaseDatosGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Esp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Esp_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE dsa_esp_sg.AuditTrans\nTRUNCATE TABLE dsa_esp_sg.CabPedidos\nTRUNCATE TABLE dsa_esp_sg.CierreCajas\nTRUNCATE TABLE dsa_esp_sg.CierreChica\nTRUNCATE TABLE dsa_esp_sg.Costos_Historicos\nTRUNCATE TABLE dsa_esp_sg.Depositos\nTRUNCATE TABLE dsa_esp_sg.DetPedidos\nTRUNCATE TABLE dsa_esp_sg.DinTrans\nTRUNCATE TABLE dsa_esp_sg.Estado_PyG\nTRUNCATE TABLE dsa_esp_sg.GastosGenerales\nTRUNCATE TABLE dsa_esp_sg.MixCab\nTRUNCATE TABLE dsa_esp_sg.MixTrans\nTRUNCATE TABLE dsa_esp_sg.MovInv\nTRUNCATE TABLE dsa_esp_sg.InvMovimiento\nTRUNCATE TABLE dsa_esp_sg.PlusTrans\nTRUNCATE TABLE dsa_esp_sg.PyG\nTRUNCATE TABLE dsa_esp_sg.TomaFisica\nTRUNCATE TABLE dsa_esp_sg.VentasHora\nTRUNCATE TABLE dsa_esp_sg.CajaChica\nTRUNCATE TABLE dsa_esp_sg.ArticuloBodega\nTRUNCATE TABLE dsa_esp_sg.Porcentuales\nTRUNCATE TABLE dsa_esp_sg.Porcentuales_Restaurante\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ESP"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteEsp"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_CAR_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Auditoria",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Construccion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Construccion_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Contabilidad",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Contabilidad_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga RRHH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_RecursosHumanos_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "string",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "string",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_CAREcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Argentina')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ARG'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ARG'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Arg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Chile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'CHL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'CHL'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Chl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Colombia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carta DSA DOM Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'COL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'COL'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carta DSA DOM Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Col')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA MP Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA MP Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Plantas Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_CAR_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ECU'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ECU'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Maxpoint_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_CAR_Ecu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Espana')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ESP'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ESP'\n\nTRUNCATE TABLE Admin_btc.CargaDataFactory\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA ESPANIA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA SG ESP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG ESP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Operacion Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Auditoria Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Finalizar Etapas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA ESPANIA '\n\nSELECT 'ok' AS Resultado\n",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Esp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Multipais')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA MP Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu_Drive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Carga Dimension",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA MP Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Conta Reg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA Sip Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG Arg",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA DOM Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SAP",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA DOM Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ALL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Venta Acumulada Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Plantas Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Venta Acumulada Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Domicilio COL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Venta Acumulada Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga DSA SG INV Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_CAR_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC [dsa_int_lst].[usp_CargaTabla]\nEXEC [dsa_int_lst].[usp_CargaDependenciaTabla]\nEXEC [admin_btc].[usp_CargaTabla]\nEXEC [admin_btc].[usp_CargaDependenciaTabla]\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ECU'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ECU'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ECU'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'COL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'COL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'COL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'CHL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'CHL'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'CHL'\n\nEXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ARG'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ARG'\nEXEC [admin_btc].[usp_CargaInicialLogEjecucionCubo] 'ARG'\n\n--Control de Cargas\nTRUNCATE TABLE admin_btc.CargaDataFactory\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA VENTA-CAR-PLANTA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA ARGENTINA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA DOM Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Recarga Permisologia",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_App_Seguridad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_admin_Bi"
							}
						}
					},
					{
						"name": "Carga Info Sus Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Info_Suscripcion_Proceso",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Proceso": "DIMENSION",
								"SP": "admin_btc.usp_CargaInfoSuscripcion_Dimension"
							}
						}
					},
					{
						"name": "Carga DSA Conta Reg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_App_ContabilidadRegional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "SharePoint_ListaExterna"
							}
						}
					},
					{
						"name": "Finalizar Carga Venta",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga CAR Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA VENTA-CAR-PLANTA'\n\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA ARGENTINA'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga Plantas Venta Embutser",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Plantas Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Venta_Embutser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA Sip Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA SG INV Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Inventario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Escalar DWH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_admin_Escalar_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DWU": "DW1000c"
							}
						}
					},
					{
						"name": "Carga Cinnabon Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Cinnabon",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Inicializar Info Suscripcion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[usp_CargaInfoSuscripcion_Inicializa]"
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					},
					{
						"name": "Carga Operaciones POS Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_POS_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga DSA SG Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Operacion Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Venta Acumulada Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Carga Uyc",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Finalizar Carga Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA USO CONSUMO ECU',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga Operacion UyC Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga Uyc",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_UyC_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Verificar Proceso Cubos Venta",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Carga Operacion UyC Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Verificar Carga Venta').output.firstRow.Resultado, 'OK')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Verificar Carga Venta",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Espera",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "IF EXISTS(SELECT * FROM admin_btc.CargaDataFactory WHERE Proceso = 'PROCESO SSAS VENTA-CAR-PLANTA' AND Estado = 1)\n\tSELECT 'OK' AS Resultado\nELSE\n\tSELECT 'REINTENTAR' AS Resultado",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_dwh_general",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Espera",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 180
									}
								}
							],
							"timeout": "00.12:00:00"
						}
					},
					{
						"name": "Carga DSA DOM Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga DSA SAP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sap_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Tiempos Domicilio",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Operacion Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_ecu_sg].[Consolidado_DomicilioTiempos]\n\n--RANGO DE FECHAS\nDECLARE @FechaDesde DATETIME = CAST(GETDATE()-30 AS DATE)\nDECLARE @FechaHasta DATETIME = CAST(GETDATE() AS DATE)\n\n--INSERTAR DATOS\nINSERT INTO [dsa_ecu_sg].[Consolidado_DomicilioTiempos] \nSELECT\n\t'20210322',\n\tCAST(SUBSTRING(Final.cod_factura,6,14)AS INT)AS Factura,\n\tFinal.cod_telefono,\n\tCliente,\n\tCod_ZipCode,\n\tMotorizado,\n\tDespachador,\n\ttotal,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),4,2)) AS Hora,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),4,2)) AS ASignada,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),4,2)) AS Llegada,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),4,2)) AS HoraC,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),4,2)) AS ASignadaC,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),4,2)) AS LlegadaC,\n\tfinal.fecha,\n\tfinal.Cod_Restaurante,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2))= '00'THEN '24'ELSE (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),4,2)) AS CreacionC,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2))= '00'THEN '24'ELSE (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),4,2)) AS Creacion,\n\tYEAR(Fecha_Factura) AS Anio,\n\t'' AS Region,\n\tCASE WHEN fac.Cod_AppMovil is null THEN isnull(fac.Medio,'Llamada') ELSE isnull(fac.Medio,'App') END  AS Tipo_Pedido,\n\tCASE WHEN Dispositivo is null THEN '-' ELSE Dispositivo END Dispositivo\nFROM\n\t(\n\t\tSELECT\n\t\t\tCodigoCentroCosto,\n\t\t\tCod_Restaurante,\n\t\t\tfecha,\n\t\t\tcod_factura,\n\t\t\tcod_telefono,\n\t\t\tCliente,\n\t\t\tCod_ZipCode,\n\t\t\tMotorizado,\n\t\t\tDespachador,\n\t\t\ttotal,\n\t\t\tFecha_Factura,\n\t\t\tFecha_Creacion,\n\t\t\t[3] AS ASignada,\n\t\t\t[1] AS Llegada\n\t\tFROM\n\t\t\t( \n\t\t\tSELECT\n\t\t\t\tper.CodigoCentroCosto,\n\t\t\t\tper.fecha,\n\t\t\t\tfd.cod_factura,\n\t\t\t\tfd.cod_telefono,\n\t\t\t\t(cl.Nombres+SPACE(1)+cl.Apellidos) AS Cliente,\n\t\t\t\tInm.Cod_ZipCode,\n\t\t\t\t(mo.Nombres+SPACE(1)+mo.Apellidos) AS Motorizado,\n\t\t\t\tUPPER(us.Usuario) AS Despachador,\n\t\t\t\tfd.TotalBruto AS total,\n\t\t\t\tfd.fecha AS Fecha_Factura,\n\t\t\t\tfm.fecha AS tiempos,\n\t\t\t\tfm.cod_estado,\n\t\t\t\tfd.Fecha_Creacion,\n\t\t\t\tper.Cod_Restaurante,\n\t\t\t\tCASE\n\t\t\t\t\tWHEN medio IS NULL\t\t\t\t\tAND dispositivo = 'Android'\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'Android'\t\t\t\tAND dispositivo = 'App'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo IS NULL\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo = 'Android'\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo = 'iOS'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo = 'App'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo = 'Web'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'App'\t\t\t\t\tAND dispositivo = 'Llamada'\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'iOS'\t\t\t\t\tAND dispositivo = 'App'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo IS NULL\t\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo = 'Llamada'\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo = 'Android'\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo = 'Ios'\t\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo = 'Uber'\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Llamada'\t\t\t\tAND dispositivo = 'Web'\t\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN medio = 'Tictuk'\t\t\t\tAND dispositivo = 'TICTUK'\t\tTHEN '20ECU'\n\t\t\t\t\tWHEN medio = 'Call Center Regional'\tAND dispositivo = 'Operadores'\tTHEN '26ECU'\n\t\t\t\t\tWHEN medio = 'mobile'\t\t\t\tAND dispositivo = 'Web'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'Web'\t\t\t\t\tAND dispositivo = 'mobile'\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'Web'\t\t\t\t\tAND dispositivo IS NULL\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio = 'Web'\t\t\t\t\tAND dispositivo = 'web'\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN medio IS NULL\tAND dispositivo IS NULL\tAND Cod_AppMovil IS NULL THEN '7ECU'\n\t\t\t\tELSE null\n\t\t\t\tEND IDMedio\t\t\t\t\n\t\t\t\tFROM pos_ecu_domi.factura_domicilio AS fd\n\t\t\t\t\tINNER JOIN pos_ecu_domi.periodo AS per ON fd.cod_periodo = per.cod_periodo and fd.CodigoCentroCosto = per.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Cliente_Domicilio AS cl ON fd.Cod_Cliente_Domicilio = cl.Cod_Cliente_Domicilio and cl.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Telefonos AS tl ON fd.Cod_Telefono = tl.Cod_Telefono and tl.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Inmueble AS Inm ON tl.Cod_inmueble = Inm.Cod_inmueble and inm.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Factura_Motorolo AS fm ON fd.cod_factura = fm.cod_factura and fm.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Motorolos AS mo ON fm.Cod_Motorolo = mo.Cod_Motorolo and mo.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tleft JOIN pos_ecu_domi.Users AS us ON fd.cod_usuario = us.cod_usuario\n\t\t\t\t\tINNER JOIN pos_ecu_domi.Restaurante AS res ON per.Cod_Restaurante  = res.Cod_Restaurante\n\t\t\t\t\tWHERE fd.Estado = 4 AND fm.Cod_estado IN (1, 3) AND per.Fecha >= @FechaDesde and per.Fecha <= @FechaHasta \n\t\t\t\t) dom\n\t\tPIVOT (MAX(Tiempos) FOR cod_estado in ([1] ,[3]) ) AS pv\n\t\tWHERE IDMedio IN ('6ECU','7ECU','8ECU','20ECU','26ECU','27ECU')) Final\n\t\tINNER JOIN pos_ecu_domi.Factura_Domicilio fac ON Final.Cod_factura = fac.Cod_Factura AND fac.CodigoCentroCosto = final.CodigoCentroCosto\n\t\tWHERE ASignada IS NOT NULL\nUNION ALL\nSELECT \n\t'20210316',\n\tCAST(SUBSTRING(Final.cod_factura,6,14)AS INT)AS Factura,\n\t0 as cod_telefono,\n\tSUBSTRING(Cliente,1,150),\n\tSUBSTRING(Cod_ZipCode,1,15),\n\tSUBSTRING(Motorizado,1,150),\n\tSUBSTRING(Despachador,1,20),\n\ttotal,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),4,2)) AS Hora,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),4,2)) AS ASignada,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),4,2)) AS Llegada,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),1,2))END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Fecha_Factura,108),4,2)) AS HoraC,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),ASignada,108),4,2)) AS ASignadaC,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2))='00' THEN '24' ELSE (SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Llegada,108),4,2)) AS LlegadaC,\n\tfinal.fecha,\n\tfinal.Cod_Restaurante,\n\t(CASE WHEN(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2))= '00'THEN '24'ELSE (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2)) END*60)+(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),4,2)) AS CreacionC,\n\tCASE WHEN (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2))= '00'THEN '24'ELSE (SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),1,2)) END+(SUBSTRING(CONVERT(VARCHAR(11),Final.Fecha_Creacion,108),4,2)) AS Creacion,\n\tYEAR(Fecha_Factura) AS Anio,\n\t'' AS Region,\n\t'' AS Tipo_Pedido, --CASE WHEN fac.Cod_AppMovil is null THEN isnull(fac.Medio,'Llamada') ELSE isnull(fac.Medio,'App') END  AS Tipo_Pedido,\n\t'' AS Dispositivo --CASE WHEN Dispositivo is null THEN '-' ELSE Dispositivo END Dispositivo\nFROM\n\t(\n\t\tSELECT\n\t\t\tCodigoCentroCosto,\n\t\t\tCod_Restaurante,\n\t\t\tfecha,\n\t\t\tcod_factura,\n\t\t\tcod_telefono,\n\t\t\tCliente,\n\t\t\tCod_ZipCode,\n\t\t\tMotorizado,\n\t\t\tDespachador,\n\t\t\ttotal,\n\t\t\tFecha_Factura,\n\t\t\tCASE WHEN ban=1 THEN Fecha_Factura ELSE [PENDIENTE] END AS Fecha_Creacion,\n\t\t\t[EN CAMINO] AS ASignada,\n\t\t\t[ENTREGADO] AS Llegada\n\t\tFROM\n\t\t\t( \n\t\t\tSELECT \n\t\t\t\tper.CodigoCentroCosto,\n\t\t\t\tper.prd_fechaapertura AS Fecha,\n\t\t\t\tfd.cfac_id AS cod_factura,\n\t\t\t\tcl.cli_telefono AS cod_telefono,\n\t\t\t\t(cl.cli_nombres+SPACE(1)+cl.cli_apellidos) AS Cliente,\n\t\t\t\tISNULL(ca.cod_ZipCode,'') AS Cod_ZipCode,\n\t\t\t\t'' AS Motorizado,--(mo.Nombres+SPACE(1)+mo.Apellidos) AS Motorizado,\n\t\t\t\tUPPER(us.usr_descripcion) AS Despachador,\n\t\t\t\tfd.cfac_total AS total,\n\t\t\t\tfd.cfac_fechacreacion AS Fecha_Factura,\n\t\t\t\tCASE WHEN fd.Cabecera_FacturaVarchar2='Llamada' THEN 1 ELSE 0 END AS ban,\n\t\t\t\tea.fecha AS tiempos,\n\t\t\t\tea.estado,\n\t\t\t\tfd.rst_id AS Cod_Restaurante,\n\t\t\t\tCASE\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='App'\t\t\t\t\t\tTHEN '6ECU'\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='Web'\t\t\t\t\t\tTHEN '8ECU'\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='Llamada'\t\t\t\t\tTHEN '7ECU'\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='TICTUK'\t\t\t\t\tTHEN '20ECU'\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='Call Center Regional'\t\tTHEN '26ECU'\n\t\t\t\t\tWHEN ISNULL(fd.Cabecera_FacturaVarchar2,'') ='Web-e'\t\t\t\t\tTHEN '27ECU'\n\t\t\t\tELSE null\n\t\t\t\tEND IDMedio\t\t\t\n\t\t\t\tFROM pos_ecu_mp.Cabecera_Factura AS fd\n\t\t\t\t\tINNER JOIN pos_ecu_mp.Periodo AS per ON fd.IDPeriodo = per.IDPeriodo and fd.CodigoCentroCosto = per.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_mp.Cliente AS cl ON fd.IDCliente = cl.IDCliente and cl.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_mp.Cabecera_App ca ON fd.cfac_id = ca.cfac_id and ca.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tINNER JOIN pos_ecu_mp.Estado_Pedido_App AS ea ON ea.codigo_app = ca.codigo_app and ea.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\t--INNER JOIN pos_ecu_mp.Motorolo AS mo ON ca.IDMotorolo = mo.IDMotorolo and mo.CodigoCentroCosto = fd.CodigoCentroCosto\n\t\t\t\t\tleft JOIN pos_ecu_mp.Users_Pos AS us ON fd.IDUsersPos = us.IDUsersPos\n\t\t\t\t\tINNER JOIN pos_ecu_mp.Status st ON fd.IDStatus = st.IDStatus AND fd.IDStatus = '5E039503-85CF-E511-80C6-000D3A3261F3'\n\t\t\t\t\tWHERE ea.estado IN ('ENTREGADO','EN CAMINO','PENDIENTE') AND cast(per.prd_fechaapertura as date) >= @FechaDesde AND cast(per.prd_fechaapertura as date) < @FechaHasta\n\t\t\t\t) dom\n\t\tPIVOT (MAX(Tiempos) FOR estado in ([ENTREGADO] ,[EN CAMINO],[PENDIENTE]) ) AS pv\n\t\tWHERE IDMedio in ('6ECU','7ECU','8ECU','20ECU','26ECU','27ECU')) Final\n\t\tINNER JOIN pos_ecu_mp.Cabecera_Factura fac ON Final.Cod_factura = fac.cfac_id AND fac.CodigoCentroCosto = final.CodigoCentroCosto\n\t\tWHERE ASignada IS NOT NULL\n\n--ACTUALIZAR REGIONES\nUPDATE [dsa_ecu_sg].[Consolidado_DomicilioTiempos]\nSET [dsa_ecu_sg].[Consolidado_DomicilioTiempos].Region = dwh_dim.centrocosto.RegionOperacion\nFROM dwh_dim.centrocosto \nWHERE [dsa_ecu_sg].[Consolidado_DomicilioTiempos].cod_restaurante = dwh_dim.centrocosto.idcentrocostosg and dwh_dim.centrocosto.idcentrocostosg > 0 and dwh_dim.centrocosto.pais = 'ecu'\n\nexec dwh_dim.usp_CargaCabeceraDomicilio 'ECU', 'MANUAL'\nEXEC dwh_ecu_domi.usp_CargaFacSgProductividadDomicilio @FechaDesde ,@FechaHasta, 0, 'ECU', 'MANUAL'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Venta Acumulada Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Info Sus Dim",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Venta_Acum_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Multipais Ext",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Verificar Proceso Cubos Venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_Carga_Multipais_Ext",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Domicilio COL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operaciones POS Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Ecu",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Plantas Venta Embutser",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga CAR Chl",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Tiempos Domicilio",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carga Cinnabon Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_DomicilioCol",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Col')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Chl')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dwh_CAR_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_Sip_Ecu')]",
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Arg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Auditoria_Chile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Auditoria Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONCHL','FACTAUDITORIACHL')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacSgVentaFormaPago','FacSgCierreCaja','FacSgDeposito','FacSgCierreCajaChica','FacSgMatrizAuditoria','Porcentual','PorcentualCentroCosto','ArticuloBodega') AND Pais='CHL'\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA CHILE'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'AUDITORIA CHILE',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Dimension Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA CHILE'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Chl_Auditoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Auditoria_Colombia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Auditoria Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONCOL','FACTAUDITORIACOL')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacSgVentaFormaPago','FacSgCierreCaja','FacSgDeposito','FacSgCierreCajaChica','FacSgMatrizAuditoria','FacSGCreditoSC','Porcentual','PorcentualCentroCosto','ArticuloBodega') AND Pais='COL'\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA COLOMBIA'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'AUDITORIA COLOMBIA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Dimension Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA COLOMBIA'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Col_Auditoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Compras_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Compras Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Inicializar Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'COMPRAS ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'COMPRAS ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Compras Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'COMPRAS ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Embutser_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Embutser Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Embutser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_Embutser",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Inicializar Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'EMBUTSER ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'EMBUTSER ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Embutser Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'EMBUTSER ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Enviar Suscripcion Venta Embutser",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Finalizar Carga",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_btc].[EnviarSuscripcionVentaEmbutser]",
							"storedProcedureParameters": {
								"Formato": {
									"value": "2E4DD05F-DD69-4FD7-A294-8068AE9F57B7",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_sharepoint",
							"type": "LinkedServiceReference",
							"parameters": {
								"Servidor": "SAZSHAREPBDD\\BD_NEGOCIO",
								"BaseDatos": "dw_dwh_suscripcion"
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}