df-bi-dwh/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_DynamicsAx_Ecu_Compras')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Compras",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu_Transaccional_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": "3"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": {
											"value": "@adddays(addhours(utcnow(),-5),1)",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-AX-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Compras",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_ax",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Compras",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_DynamicsAxEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Maxpoint_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Catalogos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Maxpoint_Ecu_Catalogo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-MP-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Catalogos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_mp",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_MaxPointEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sip_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SIP",
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT\n\tFechaCarga=GETDATE(),\n\tFechaDesde=MIN(Fecha),--inicia en enero +1\n\tFechaHasta=DATEADD(yy, DATEDIFF(yy, 0, GETDATE()) + 2, -1)--termina en diciembre+1\nFROM dwh_dim.Tiempo\nwhere AnioNumero52Semanas=year(DATEADD(yy, DATEDIFF(yy, 0, GETDATE())+1, 0))",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu_Catalogo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZCONTADB",
								"BaseDatos": "Presupuestos"
							}
						}
					},
					{
						"name": "Cargar Transaccional",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Sip_Ecu_Transaccional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": "SAZCONTADB",
								"BaseDatos": "Presupuestos",
								"FechaDesde": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualizar Estadisticas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cargar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE STATISTICS [dsa_ecu_sip].[Cuentas]\nUPDATE STATISTICS [dsa_ecu_sip].[PresupuestoGastos]\nUPDATE STATISTICS [dsa_ecu_sip].[PresupuestoVentas]\nUPDATE STATISTICS [dsa_ecu_sip].[SolicitudTotal_Aprobacion]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "dsa_SipEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Arg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Arg_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_arg_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_arg_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_arg_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_arg_sg].[CajaChica]\nTRUNCATE TABLE [dsa_arg_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_arg_sg].[CierreChica]\nTRUNCATE TABLE [dsa_arg_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_arg_sg].[Depositos]\nTRUNCATE TABLE [dsa_arg_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_arg_sg].[DinTrans]\nTRUNCATE TABLE [dsa_arg_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_arg_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_arg_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_arg_sg].[MixCab]\nTRUNCATE TABLE [dsa_arg_sg].[MixTrans]\nTRUNCATE TABLE [dsa_arg_sg].[MovInv]\nTRUNCATE TABLE [dsa_arg_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_arg_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_arg_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_arg_sg].[PyG]\nTRUNCATE TABLE [dsa_arg_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_arg_sg].[VentasHora]\nTRUNCATE TABLE [dsa_arg_sg].[VentaXMedio]\n\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ARG"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_arg_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteArg"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Chl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_chl_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_chl_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_chl_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_chl_sg].[CajaChica]\nTRUNCATE TABLE [dsa_chl_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_chl_sg].[CierreChica]\nTRUNCATE TABLE [dsa_chl_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_chl_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_chl_sg].[Cupones]\nTRUNCATE TABLE [dsa_chl_sg].[Depositos]\nTRUNCATE TABLE [dsa_chl_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_chl_sg].[DinTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_chl_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_chl_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_chl_sg].[MixCab]\nTRUNCATE TABLE [dsa_chl_sg].[MixTrans]\nTRUNCATE TABLE [dsa_chl_sg].[MovInv]\nTRUNCATE TABLE [dsa_chl_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_chl_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_chl_sg].[PyG]\nTRUNCATE TABLE [dsa_chl_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_chl_sg].[VentasHora]\nTRUNCATE TABLE [dsa_chl_sg].[VentasHora_Domicilio]\nTRUNCATE TABLE [dsa_chl_sg].[VentaXMedio]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-CHL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteChl"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Chl_Auditoria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Chl_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_chl_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_chl_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_chl_sg].[CierreChica]\nTRUNCATE TABLE [dsa_chl_sg].[Depositos]\nTRUNCATE TABLE [dsa_chl_sg].[DinTrans]\nTRUNCATE TABLE [dsa_chl_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_chl_sg].[MovInv]\nTRUNCATE TABLE [dsa_chl_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_chl_sg].[Porcentuales_Restaurante]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-CHL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_chl_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteChl"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Col')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_col_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_col_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_col_sg].[CabPedidos]\nTRUNCATE TABLE [dsa_col_sg].[CajaChica]\nTRUNCATE TABLE [dsa_col_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_col_sg].[CierreChica]\nTRUNCATE TABLE [dsa_col_sg].[Costos_Historicos]\nTRUNCATE TABLE [dsa_col_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_col_sg].[Cupones]\nTRUNCATE TABLE [dsa_col_sg].[Depositos]\nTRUNCATE TABLE [dsa_col_sg].[DetPedidos]\nTRUNCATE TABLE [dsa_col_sg].[DinTrans]\nTRUNCATE TABLE [dsa_col_sg].[Estado_PyG]\nTRUNCATE TABLE [dsa_col_sg].[GastosGenerales]\nTRUNCATE TABLE [dsa_col_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_col_sg].[MixCab]\nTRUNCATE TABLE [dsa_col_sg].[MixTrans]\nTRUNCATE TABLE [dsa_col_sg].[MovInv]\nTRUNCATE TABLE [dsa_col_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_col_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_col_sg].[PyG]\nTRUNCATE TABLE [dsa_col_sg].[TomaFisica]\nTRUNCATE TABLE [dsa_col_sg].[VentasHora]\nTRUNCATE TABLE [dsa_col_sg].[VentasHora_Domicilio]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteCol"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Col_Auditoria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Col_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_col_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_col_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_col_sg].[CierreChica]\nTRUNCATE TABLE [dsa_col_sg].[Depositos]\nTRUNCATE TABLE [dsa_col_sg].[DinTrans]\nTRUNCATE TABLE [dsa_col_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_col_sg].[MovInv]\nTRUNCATE TABLE [dsa_col_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_col_sg].[Porcentuales_Restaurante]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-COL"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_col_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteCol"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Ecu_Auditoria')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Cargar Catalogo 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior UIO",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual UIO_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior GYE",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Anterior GYE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior UIO",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionAnterior2",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO_",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual UIO",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual1",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual GYE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Actual UIO",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_Auditoria",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
												"type": "Expression"
											},
											"Region": {
												"value": "@activity('Obtener Servidores').output.firstRow.RegionActual2",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dsa_ecu_sg].[ArticuloBodega]\nTRUNCATE TABLE [dsa_ecu_sg].[CierreCajas]\nTRUNCATE TABLE [dsa_ecu_sg].[CierreChica]\nTRUNCATE TABLE [dsa_ecu_sg].[Depositos]\nTRUNCATE TABLE [dsa_ecu_sg].[Detalle_Solicitud]\nTRUNCATE TABLE [dsa_ecu_sg].[DinTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[InvMovimiento]\nTRUNCATE TABLE [dsa_ecu_sg].[MovInv]\nTRUNCATE TABLE [dsa_ecu_sg].[PlusTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[Porcentuales]\nTRUNCATE TABLE [dsa_ecu_sg].[Porcentuales_Restaurante]\nTRUNCATE TABLE [dsa_ecu_sg].[Solicitud_Cupon]\nTRUNCATE TABLE [dsa_ecu_sg].[Cupones]\nTRUNCATE TABLE [dsa_ecu_sg].[CuponCliente]\nTRUNCATE TABLE [dsa_ecu_sg].[PlusCupones]\nTRUNCATE TABLE [dsa_ecu_sg].[VentaXMedio]\nTRUNCATE TABLE [dsa_ecu_sg].[AuditTrans]\nTRUNCATE TABLE [dsa_ecu_sg].[MixCab]\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ServidorQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"ServidorGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
									"type": "Expression"
								},
								"BaseDatosGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cargar Catalogo 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Catalogo_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ServidorQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatosQuito": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								},
								"ServidorGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual2",
									"type": "Expression"
								},
								"BaseDatosGuayaquil": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual2",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ECU"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHastaActual",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_ecu_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "Auditoria",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Ecu_Transaccional')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Transac UIO 1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@pipeline().parameters.ServidorQuito",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@pipeline().parameters.BaseDatosQuito",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@pipeline().parameters.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@pipeline().parameters.FechaHasta",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.RegionQuito",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transac UIO 2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@pipeline().parameters.ServidorQuito",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@pipeline().parameters.BaseDatosQuito",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@pipeline().parameters.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@pipeline().parameters.FechaHasta",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.RegionQuito",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transac GYE 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Transac UIO 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@pipeline().parameters.ServidorGuayaquil",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@pipeline().parameters.BaseDatosGuayaquil",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@pipeline().parameters.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@pipeline().parameters.FechaHasta",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.RegionGuayaquil",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transac GYE 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Transac UIO 2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Transaccional_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@pipeline().parameters.ServidorGuayaquil",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@pipeline().parameters.BaseDatosGuayaquil",
									"type": "Expression"
								},
								"FechaDesde": {
									"value": "@pipeline().parameters.FechaDesde",
									"type": "Expression"
								},
								"FechaHasta": {
									"value": "@pipeline().parameters.FechaHasta",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.RegionGuayaquil",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"ServidorQuito": {
						"type": "string",
						"defaultValue": "SAZGERENTEDBUIO"
					},
					"ServidorGuayaquil": {
						"type": "string",
						"defaultValue": "SAZGERENTEDBGYE"
					},
					"BaseDatosQuito": {
						"type": "string",
						"defaultValue": "SQLGerente_19"
					},
					"BaseDatosGuayaquil": {
						"type": "string",
						"defaultValue": "SQLGerente_19"
					},
					"RegionQuito": {
						"type": "string",
						"defaultValue": "QUITO"
					},
					"RegionGuayaquil": {
						"type": "string",
						"defaultValue": "GUAYAQUIL"
					},
					"FechaDesde": {
						"type": "string"
					},
					"FechaHasta": {
						"type": "string"
					}
				},
				"folder": {
					"name": "dsa_SistemaGerenteEcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_SistemaGerente_Esp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fecha Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_CargaFecha]",
								"storedProcedureParameters": {
									"Dias": {
										"type": "Int32",
										"value": null
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": null
									},
									"FechaFin": {
										"type": "DateTime",
										"value": null
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": null
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Catalogo 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncar Transaccional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Esp_Catalogo_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Servidor": {
									"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
									"type": "Expression"
								},
								"BaseDatos": {
									"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Transaccional",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cargar Catalogo 1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Fecha Carga').output.firstRow.AnioFechaInicio, activity('Fecha Carga').output.firstRow.AnioFechaFin)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Carga Anterior",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorAnterior1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosAnterior1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHastaAnioAnterior",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Carga Actual_",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Carga Anterior",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesdeAnioActual",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Carga Actual",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_dsa_SistemaGerente_Esp_Transaccional_1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Servidor": {
												"value": "@activity('Obtener Servidores').output.firstRow.ServidorActual1",
												"type": "Expression"
											},
											"BaseDatos": {
												"value": "@activity('Obtener Servidores').output.firstRow.BaseDatosActual1",
												"type": "Expression"
											},
											"FechaDesde": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
												"type": "Expression"
											},
											"FechaHasta": {
												"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncar Transaccional",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Obtener Servidores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "TRUNCATE TABLE dsa_esp_sg.AuditTrans\nTRUNCATE TABLE dsa_esp_sg.CabPedidos\nTRUNCATE TABLE dsa_esp_sg.CierreCajas\nTRUNCATE TABLE dsa_esp_sg.CierreChica\nTRUNCATE TABLE dsa_esp_sg.Costos_Historicos\nTRUNCATE TABLE dsa_esp_sg.Depositos\nTRUNCATE TABLE dsa_esp_sg.DetPedidos\nTRUNCATE TABLE dsa_esp_sg.DinTrans\nTRUNCATE TABLE dsa_esp_sg.Estado_PyG\nTRUNCATE TABLE dsa_esp_sg.GastosGenerales\nTRUNCATE TABLE dsa_esp_sg.MixCab\nTRUNCATE TABLE dsa_esp_sg.MixTrans\nTRUNCATE TABLE dsa_esp_sg.MovInv\nTRUNCATE TABLE dsa_esp_sg.InvMovimiento\nTRUNCATE TABLE dsa_esp_sg.PlusTrans\nTRUNCATE TABLE dsa_esp_sg.PyG\nTRUNCATE TABLE dsa_esp_sg.TomaFisica\nTRUNCATE TABLE dsa_esp_sg.VentasHora\nTRUNCATE TABLE dsa_esp_sg.CajaChica\nTRUNCATE TABLE dsa_esp_sg.ArticuloBodega\nTRUNCATE TABLE dsa_esp_sg.Porcentuales\nTRUNCATE TABLE dsa_esp_sg.Porcentuales_Restaurante\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Obtener Servidores",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Fecha Carga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[admin_adm].[usp_ObtenerLinkedBase]",
								"storedProcedureParameters": {
									"CodigoETL": {
										"type": "String",
										"value": "BD-SG-ESP"
									},
									"FechaDesde": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaDesde",
											"type": "Expression"
										}
									},
									"FechaHasta": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Fecha Carga').output.firstRow.FechaHasta",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualiza Estadistica 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "1",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "2",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "3",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Actualiza Estadistica 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga Transaccional",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[admin_adm].[ActualizarEstadisticas]",
							"storedProcedureParameters": {
								"Esquema": {
									"value": "dsa_esp_sg",
									"type": "String"
								},
								"Paso": {
									"value": "4",
									"type": "Int16"
								},
								"Proceso": {
									"value": "General",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "linked_dwh",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "dsa_SistemaGerenteEsp"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dwh_CAR_Ecu')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Auditoria",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Construccion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Construccion_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Contabilidad",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Contabilidad_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga RRHH",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_RecursosHumanos_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": {
									"value": "@pipeline().parameters.IDCadenaSistemaGerente",
									"type": "Expression"
								},
								"Pais": {
									"value": "@pipeline().parameters.Pais",
									"type": "Expression"
								},
								"TipoCarga": {
									"value": "@pipeline().parameters.TipoCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Contabilidad Reg",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Contabilidad_Regional",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"TipoCarga": "MANUAL"
							}
						}
					}
				],
				"parameters": {
					"IDCadenaSistemaGerente": {
						"type": "int",
						"defaultValue": 0
					},
					"Pais": {
						"type": "string",
						"defaultValue": "ECU"
					},
					"TipoCarga": {
						"type": "string",
						"defaultValue": "MANUAL"
					}
				},
				"folder": {
					"name": "dwh_CAREcu"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Argentina')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Arg",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Arg",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Arg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ARG",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ARG'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ARG'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Arg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Chile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'CHL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'CHL'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Chl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Colombia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Carta DSA DOM Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga Operacion Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Carga CAR Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'COL'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'COL'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carta DSA DOM Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_Domicilio_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Col')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Espana')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "EXEC admin_btc.usp_CargaInicialLogEjecucionEtapa 'ESP'\nEXEC admin_btc.usp_CargaInicialLogEjecucionTabla 'ESP'\n\nTRUNCATE TABLE Admin_btc.CargaDataFactory\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA ESPANIA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Carga DSA SG ESP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Dimension Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG ESP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Operacion Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Auditoria Esp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Operacion Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Esp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ESP",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Finalizar Etapas",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Esp",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'CARGA ESPANIA '\n\nSELECT 'ok' AS Resultado\n",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Esp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Auditoria_Chile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Chl_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Auditoria Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Chl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONCHL','FACTAUDITORIACHL')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacSgVentaFormaPago','FacSgCierreCaja','FacSgDeposito','FacSgCierreCajaChica','FacSgMatrizAuditoria','Porcentual','PorcentualCentroCosto','ArticuloBodega') AND Pais='CHL'\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA CHILE'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'AUDITORIA CHILE',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Dimension Chl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Chl",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA CHILE'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Chl_Auditoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Auditoria_Colombia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Col_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Auditoria Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Col",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONCOL','FACTAUDITORIACOL')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacSgVentaFormaPago','FacSgCierreCaja','FacSgDeposito','FacSgCierreCajaChica','FacSgMatrizAuditoria','FacSGCreditoSC','Porcentual','PorcentualCentroCosto','ArticuloBodega') AND Pais='COL'\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA COLOMBIA'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'AUDITORIA COLOMBIA',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Dimension Col",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "COL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Col",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA COLOMBIA'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Col_Auditoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Auditoria_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA SG Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Etapas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_SistemaGerente_Ecu_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Auditoria Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Auditoria_Ecu",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Inicializar Etapas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "UPDATE admin_btc.LogEjecucionEtapa SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND IDEtapa IN ('DIMENSIONECU','FACTAUDITORIAECU')\n\nUPDATE admin_btc.LogEjecucionTabla SET Estado='PENDIENTE'\nWHERE Periodo=CONVERT(VARCHAR(11),DATEADD(HH,-5,GETDATE()),120) AND Tabla IN ('FacSgPorcentual','FacSgPorcentualCentroCosto','FacSgVentaFormaPago','FacSgCierreCaja','FacSgDeposito','FacSgCierreCajaChica','FacSgMatrizAuditoria','FacSgMatrizAuditoriaAcumulada') and IDCadenaSistemaGerente!=29\n\n--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'AUDITORIA ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA SG Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_Auditoria",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": 0,
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Auditoria Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'AUDITORIA ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_SistemaGerente_Ecu_Auditoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Recarga_Compras_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga DSA AX Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inicializar Carga",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dsa_DynamicsAx_Ecu_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga Compras Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Dimension Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Planta_Ecu_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Carga Dimension Ecu",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga DSA AX Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Dimensiones_Compras",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "ECU",
								"TipoCarga": "MANUAL"
							}
						}
					},
					{
						"name": "Inicializar Carga",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nDELETE FROM admin_btc.CargaDataFactory\nWHERE FechaPeriodo = CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'COMPRAS ECUADOR'\n\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'COMPRAS ECUADOR',DATEADD(HH,-5,GETDATE()),NULL,0\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Finalizar Carga",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga Compras Ecu",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nUPDATE admin_btc.CargaDataFactory\nSET FechaHasta = DATEADD(HH,-5,GETDATE()), Estado = 1\nWHERE FechaPeriodo =  CAST(DATEADD(HH,-5,GETDATE()) AS DATE) AND Proceso = 'COMPRAS ECUADOR'\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_dsa_DynamicsAx_Ecu_Compras')]"
			]
		}
	]
}