df-bi-dwh/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "df-bi-dwh"
		},
		"linked_ax_ecu_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_ax_ecu\""
		},
		"linked_bi_dev_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_bi_dev\""
		},
		"linked_bi_dev_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"linked_bi_dev\""
		},
		"linked_domicilio_chl_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_domicilio_chl\""
		},
		"linked_domicilio_col_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_domicilio_col\""
		},
		"linked_mp_ecu_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_mp_ecu\""
		},
		"linked_sg_arg_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sg_arg\""
		},
		"linked_sg_chl_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sg_chl\""
		},
		"linked_sg_col_historico_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sg_col_historico\""
		},
		"linked_sg_esp_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sg_esp\""
		},
		"linked_sharepoint_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sharepoint\""
		},
		"linked_sip_ecu_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"linked_sip_ecu\""
		},
		"linked_bi_dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "kfc\\viviana.socasi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_ProyeccionPresupuestoEmbutser')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "FECHACARGA",
						"type": "String"
					},
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CENTROCOSTEMEBU",
						"type": "String"
					},
					{
						"name": "FECHAPROYECCION",
						"type": "String"
					},
					{
						"name": "MODELO",
						"type": "String"
					},
					{
						"name": "IMPORTE",
						"type": "Decimal"
					},
					{
						"name": "MONEDA",
						"type": "String"
					},
					{
						"name": "CANTIDAD",
						"type": "Decimal"
					},
					{
						"name": "UNIDAD",
						"type": "String"
					},
					{
						"name": "PRECIO",
						"type": "Decimal"
					},
					{
						"name": "CUENTACONTABLEEMBU",
						"type": "String"
					},
					{
						"name": "CREATEDBYUSER",
						"type": "String"
					},
					{
						"name": "CREATIONDATE",
						"type": "String"
					},
					{
						"name": "CREATIONTIME",
						"type": "String"
					},
					{
						"name": "TIPO",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[PROYECCIONPRESUPUESTOEMBUTSER]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_ReporteProyectos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "FECHACARGA",
						"type": "String"
					},
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CADENA",
						"type": "String"
					},
					{
						"name": "ZTP_PROYECTO",
						"type": "String"
					},
					{
						"name": "EJERCICIO",
						"type": "String"
					},
					{
						"name": "PSPID",
						"type": "String"
					},
					{
						"name": "OBJNR",
						"type": "String"
					},
					{
						"name": "STUFE",
						"type": "String"
					},
					{
						"name": "POST1",
						"type": "String"
					},
					{
						"name": "VBUKR",
						"type": "String"
					},
					{
						"name": "USR03",
						"type": "String"
					},
					{
						"name": "USR01",
						"type": "String"
					},
					{
						"name": "PLFAZ",
						"type": "String"
					},
					{
						"name": "FE_APERTURA",
						"type": "String"
					},
					{
						"name": "USR08",
						"type": "String"
					},
					{
						"name": "USR09",
						"type": "String"
					},
					{
						"name": "USR04",
						"type": "String"
					},
					{
						"name": "USE04",
						"type": "String"
					},
					{
						"name": "USR05",
						"type": "String"
					},
					{
						"name": "USE05",
						"type": "String"
					},
					{
						"name": "WTJHR",
						"type": "String"
					},
					{
						"name": "WTJHR1",
						"type": "String"
					},
					{
						"name": "SUMPL_ANT",
						"type": "String"
					},
					{
						"name": "SUMPL_ACT",
						"type": "String"
					},
					{
						"name": "DEV_ANT",
						"type": "String"
					},
					{
						"name": "DEV_ACT",
						"type": "String"
					},
					{
						"name": "PRES_TOTAL",
						"type": "String"
					},
					{
						"name": "CSTR_ANTERIOR",
						"type": "String"
					},
					{
						"name": "CSTR_ACTUAL",
						"type": "String"
					},
					{
						"name": "CST_REALES",
						"type": "String"
					},
					{
						"name": "PEND_PAGAR",
						"type": "String"
					},
					{
						"name": "CSTR_INVERSION",
						"type": "String"
					},
					{
						"name": "CONC_TOTAL",
						"type": "String"
					},
					{
						"name": "CONC_PAGADA",
						"type": "String"
					},
					{
						"name": "INITIAL_FEE",
						"type": "String"
					},
					{
						"name": "INITIAL_FEEP",
						"type": "String"
					},
					{
						"name": "INV_TOTAL",
						"type": "String"
					},
					{
						"name": "INV_PAGADA",
						"type": "String"
					},
					{
						"name": "PRCTR",
						"type": "String"
					},
					{
						"name": "PLSEZ",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[REPORTEPROYECTOS]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_ReservaMaterial')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[RESERVALISTAMATERIAL]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sap_entradadiario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset parametrizado DWH\n",
				"linkedServiceName": {
					"referenceName": "linked_dwh",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dwh_General/ds_Sap"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"structure": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "GLACCOUNT",
						"type": "String"
					},
					{
						"name": "POSTINGDATE",
						"type": "String"
					},
					{
						"name": "AMOUNTINCOMPANYCODECURRENCY",
						"type": "Decimal"
					},
					{
						"name": "ACCOUNTINGDOCUMENT",
						"type": "String"
					},
					{
						"name": "DOCUMENTITEMTEXT",
						"type": "String"
					},
					{
						"name": "ACCOUNTINGDOCUMENTCATEGORY",
						"type": "String"
					},
					{
						"name": "LEDGER",
						"type": "String"
					},
					{
						"name": "COMPANYCODE",
						"type": "String"
					},
					{
						"name": "FISCALPERIOD",
						"type": "Int32"
					},
					{
						"name": "FISCALYEAR",
						"type": "Int32"
					},
					{
						"name": "COSTCENTER",
						"type": "String"
					},
					{
						"name": "PROFITCENTER",
						"type": "String"
					},
					{
						"name": "SEGMENT",
						"type": "String"
					},
					{
						"name": "COMPANYCODECURRENCY",
						"type": "String"
					},
					{
						"name": "GLOBALCURRENCY",
						"type": "String"
					},
					{
						"name": "AMOUNTINGLOBALCURRENCY",
						"type": "Decimal"
					},
					{
						"name": "QUANTITY",
						"type": "Decimal"
					},
					{
						"name": "BASEUNIT",
						"type": "String"
					},
					{
						"name": "COSTSOURCEUNIT",
						"type": "String"
					},
					{
						"name": "DEBITCREDITCODE",
						"type": "String"
					},
					{
						"name": "DOCUMENTDATE",
						"type": "String"
					},
					{
						"name": "POSTINGKEY",
						"type": "String"
					},
					{
						"name": "ACCOUNTINGDOCUMENTTYPE",
						"type": "String"
					},
					{
						"name": "MATERIAL",
						"type": "String"
					},
					{
						"name": "PLANT",
						"type": "String"
					},
					{
						"name": "SUPPLIER",
						"type": "String"
					},
					{
						"name": "CUSTOMER",
						"type": "String"
					},
					{
						"name": "FINANCIALACCOUNTTYPE",
						"type": "String"
					},
					{
						"name": "LASTCHANGEDATETIME",
						"type": "String"
					},
					{
						"name": "FECHACARGA",
						"type": "String"
					},
					{
						"name": "LEDGERGLLINEITEM",
						"type": "String"
					},
					{
						"name": "LEDGERFISCALYEAR",
						"type": "String"
					},
					{
						"name": "FINANCIALTRANSACTIONTYPE",
						"type": "String"
					},
					{
						"name": "REFERENCEDOCUMENT",
						"type": "String"
					},
					{
						"name": "REFERENCEDOCUMENTITEM",
						"type": "String"
					},
					{
						"name": "ISREVERSAL",
						"type": "String"
					},
					{
						"name": "ISREVERSED",
						"type": "String"
					},
					{
						"name": "REVERSALREFERENCEDOCUMENT",
						"type": "String"
					},
					{
						"name": "ISSETTLEMENT",
						"type": "String"
					},
					{
						"name": "ISSETTLED",
						"type": "String"
					},
					{
						"name": "SOURCEREFERENCEDOCUMENTTYPE",
						"type": "String"
					},
					{
						"name": "PARTNERCOSTCENTER",
						"type": "String"
					},
					{
						"name": "PARTNERPROFITCENTER",
						"type": "String"
					},
					{
						"name": "BALANCETRANSACTIONCURRENCY",
						"type": "String"
					},
					{
						"name": "AMOUNTINBALANCETRANSACCRCY",
						"type": "Decimal"
					},
					{
						"name": "TRANSACTIONCURRENCY",
						"type": "String"
					},
					{
						"name": "AMOUNTINTRANSACTIONCURRENCY",
						"type": "Decimal"
					},
					{
						"name": "FIXEDQUANTITY",
						"type": "Decimal"
					},
					{
						"name": "VALUATIONQUANTITY",
						"type": "Decimal"
					},
					{
						"name": "VALUATIONFIXEDQUANTITY",
						"type": "Decimal"
					},
					{
						"name": "FISCALYEARVARIANT",
						"type": "String"
					},
					{
						"name": "FISCALYEARPERIOD",
						"type": "String"
					},
					{
						"name": "ACCOUNTINGDOCUMENTITEM",
						"type": "String"
					},
					{
						"name": "ACCOUNTINGDOCCREATEDBYUSER",
						"type": "String"
					},
					{
						"name": "CREATIONDATETIME",
						"type": "String"
					},
					{
						"name": "CREATIONDATE",
						"type": "String"
					},
					{
						"name": "GLACCOUNTTYPE",
						"type": "String"
					},
					{
						"name": "INVOICEREFERENCE",
						"type": "String"
					},
					{
						"name": "INVOICEITEMREFERENCE",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENT",
						"type": "String"
					},
					{
						"name": "PURCHASINGDOCUMENTITEM",
						"type": "String"
					},
					{
						"name": "ACCOUNTASSIGNMENTNUMBER",
						"type": "String"
					},
					{
						"name": "SALESORDER",
						"type": "String"
					},
					{
						"name": "SALESORDERITEM",
						"type": "String"
					},
					{
						"name": "SALESDOCUMENT",
						"type": "String"
					},
					{
						"name": "SALESDOCUMENTITEM",
						"type": "String"
					},
					{
						"name": "PRODUCT",
						"type": "String"
					},
					{
						"name": "TAXCODE",
						"type": "String"
					},
					{
						"name": "HOUSEBANK",
						"type": "String"
					},
					{
						"name": "HOUSEBANKACCOUNT",
						"type": "String"
					},
					{
						"name": "COSTESTIMATE",
						"type": "String"
					},
					{
						"name": "OFFSETTINGACCOUNT",
						"type": "String"
					},
					{
						"name": "OFFSETTINGACCOUNTTYPE",
						"type": "String"
					},
					{
						"name": "PARTNERCOMPANYCODE",
						"type": "String"
					},
					{
						"name": "ORIGINCOSTCENTER",
						"type": "String"
					},
					{
						"name": "ORIGINPROFITCENTER",
						"type": "String"
					},
					{
						"name": "ORDERID",
						"type": "String"
					},
					{
						"name": "ORDERCATEGORY",
						"type": "String"
					},
					{
						"name": "PARTNERORDER",
						"type": "String"
					},
					{
						"name": "PARTNERORDERCATEGORY",
						"type": "String"
					},
					{
						"name": "BILLINGDOCUMENTTYPE",
						"type": "String"
					},
					{
						"name": "SOLDMATERIAL",
						"type": "String"
					},
					{
						"name": "SOLDPRODUCT",
						"type": "String"
					},
					{
						"name": "MATERIALGROUP",
						"type": "String"
					},
					{
						"name": "DIVISION",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dsa_ecu_sap].[entradadiario]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_ax_ecu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica DinamicsAx Ecuador",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "192.168.159.40"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "DynamicsAxEcu"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_ax_ecu_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-DynamicsAxEcu2021",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_bi_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión ambiente de desarrollo",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SRV-BIDESA-DWH\\DWHTEST"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "dwhSap"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_bi_dev_connectionString')]",
					"userName": "[parameters('linked_bi_dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linked_bi_dev_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-BI-Desarrollo",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_domicilio_chl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "192.168.148.110"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SqlGerenteDom"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_domicilio_chl_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-DomicilioChl",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_domicilio_col')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Sistema Gerente Domicilio Colombia",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZGERENTECOL\\DomicilioCol"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "Domicilio"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_domicilio_col_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-DomicilioCol",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_mp_ecu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica centralizador Maxpoint Ecuador",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SRVV-ZEUS"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "MAXPOINT_DISTRIB_19"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_mp_ecu_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-MaxpointEcu",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sg_arg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica Sistema Gerente Argentina",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZGERENTEDB-AR"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SqlGerente_19"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sg_arg_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SistemaGerenteArgV2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sg_chl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica Sistema Gerente Chile",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZGERENTEDB-CL"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SqlGerente_19"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sg_chl_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SistemaGerenteChl",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sg_col_historico')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZSGERENTE-COL"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SqlGerente_21"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sg_col_historico_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SistemaGerenteCol",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sg_esp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica Sistema Gerente España",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "192.168.146.61"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "SQLGerente_19"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sg_esp_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SistemaGerenteEsp",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sharepoint')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica al ambiente de Sharepoint (Intranet)",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZSHAREPBDD\\BD_NEGOCIO"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "dw_admin_Bi"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sharepoint_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-BI-Sharepoint",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_sip_ecu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión dinámica SIP - Presupuestos Ecuador",
				"parameters": {
					"Servidor": {
						"type": "string",
						"defaultValue": "SAZCONTADB"
					},
					"BaseDatos": {
						"type": "string",
						"defaultValue": "Presupuestos"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('linked_sip_ecu_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-ContabilidadEcu",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SistemaGerenteCol')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_sg_col",
					"type": "LinkedServiceReference",
					"parameters": {
						"Servidor": "sqldbsg-paises-instr-r1.public.241613edf0d5.database.windows.net,3342",
						"BaseDatos": "SqlGerente_21"
					}
				},
				"parameters": {
					"cw_structure": {
						"type": "Array"
					},
					"cw_tableName": {
						"type": "String"
					},
					"cw_servidor": {
						"type": "string"
					},
					"cw_baseDatos": {
						"type": "string"
					}
				},
				"folder": {
					"name": "dsa_SistemaGerente"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().cw_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Carga_Chl_Domicilio')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga CHL DOMI",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_dwh_Operaciones_DomicilioChl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"IDCadenaSistemaGerente": "0",
								"Pais": "CHL",
								"TipoCarga": "AUTOMATICA"
							}
						}
					},
					{
						"name": "Inicializar Carga Domicilio CHL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Carga CHL DOMI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Control de Cargas\nINSERT INTO admin_btc.CargaDataFactory\nSELECT CAST(DATEADD(HH,-5,GETDATE()) AS DATE),'CARGA DOMICILIO CHILE',DATEADD(HH,-5,GETDATE()),DATEADD(HH,-5,GETDATE()),1\n\nSELECT 'ok' AS Resultado",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Carga_dwh_Triggers"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_admin_Escalar_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecuta proceso de escalado del DWH\nSe debe setear el parametro DWU.",
				"activities": [
					{
						"name": "Escalar DWH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Espera",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "--Escalar Data Warehouse\nALTER DATABASE dwh\nMODIFY (SERVICE_OBJECTIVE = '@{pipeline().parameters.DWU}');\n\nSELECT 'ok' AS Resultado",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_master",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Verificar Estatus",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Escalar DWH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "--Verificar estatus de escalado cada 5 segudnos\nWHILE \n(\n    SELECT TOP 1 state_desc\n    FROM sys.dm_operation_status\n    WHERE \n        1=1\n        AND resource_type_desc = 'Database'\n        AND major_resource_id = 'dwh'\n        AND operation = 'ALTER DATABASE'\n    ORDER BY\n        start_time DESC\n) = 'IN_PROGRESS'\nBEGIN\n    RAISERROR('El escalado de la base de datos está en progreso',0,0) WITH NOWAIT;\n    WAITFOR DELAY '00:00:05';\nEND\nWAITFOR DELAY '00:00:30';\nSelect 'Complete' AS Resultado;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_master",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Consultar_dwu_act",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "---Consultar dwu Actual\nSELECT ds.service_objective AS DWU\nFROM    sys.database_service_objectives   AS ds\nJOIN    sys.databases                     AS db ON ds.database_id = db.database_id\nWHERE db.name = 'dwh'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_master",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insertar log dwu",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Consultar_dwu_act",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "---Ingreso de registro en el log\nINSERT INTO [admin_btc].[LogEscalarDWH]\nSELECT CONVERT(DATETIME,DATEADD(HH, -5, GETDATE())), '@{activity('Consultar_dwu_act').output.firstRow.DWU}', NULL,NULL\n\nSELECT 'ok' AS Resultado",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Consultar_dwu_obj",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Verificar Estatus",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "---Consultar dwu Actual\nSELECT ds.service_objective AS DWU\nFROM    sys.database_service_objectives   AS ds\nJOIN    sys.databases                     AS db ON ds.database_id = db.database_id\nWHERE db.name = 'dwh'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_master",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Actualizar log dwu",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Consultar_dwu_obj",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Consultar_dwu_act",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "---Insertar datos log fin escalar dwh\nIF EXISTS \n  (\n  ---Buscar si el registro existe \n    SELECT * FROM [admin_btc].[LogEscalarDWH] \n\tWHERE CONVERT(VARCHAR(10),[FechaInicio],112) = CONVERT(VARCHAR(10),DATEADD(HH, -5, GETDATE()),112) and [DWUActual]='@{activity('Consultar_dwu_act').output.firstRow.DWU}' and [FechaFin] is null and [DWUObjetivo] is null\n  )\n    BEGIN\n\t---Actualizacion campos finalizacion de registro en el log\n      UPDATE [admin_btc].[LogEscalarDWH]\n\t\tSET [FechaFin]=CONVERT(DATETIME,DATEADD(HH, -5, GETDATE())) , [DWUObjetivo]='@{activity('Consultar_dwu_obj').output.firstRow.DWU}'\n\t\tWHERE CONVERT(VARCHAR(10),[FechaInicio],112) = CONVERT(VARCHAR(10),DATEADD(HH, -5, GETDATE()),112) and [DWUActual]='@{activity('Consultar_dwu_act').output.firstRow.DWU}' and [FechaFin] is null and [DWUObjetivo] is null\n    END\nELSE\n\tINSERT INTO [admin_btc].[LogEscalarDWH]\n\tSELECT NULL,NULL,CONVERT(DATETIME,DATEADD(HH, -5, GETDATE())), '@{activity('Consultar_dwu_obj').output.firstRow.DWU}'\n\nSELECT 'ok' AS Resultado",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_general",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Espera",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DWU": {
						"type": "string",
						"defaultValue": "DW100c"
					}
				},
				"folder": {
					"name": "Admin_dwh"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_admin_Reescalar_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Verificar Proceso Cubos",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Verificar Carga').output.firstRow.Resultado, 'REESCALAR')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Verificar Carga",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Espera",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "IF EXISTS(SELECT * FROM dwh.admin_btc.CargaDataFactory WHERE Proceso = 'PROCESO_CUBOS_MULTIPAIS' AND Estado = 1)\n\tSELECT 'REESCALAR' AS Resultado\nELSE\n\tSELECT 'REINTENTAR' AS Resultado",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_dwh_general",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Espera",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							],
							"timeout": "00.12:00:00"
						}
					},
					{
						"name": "Escalar DWH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Verificar Proceso Cubos",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "--Escalar Data Warehouse\nALTER DATABASE dwh\nMODIFY (SERVICE_OBJECTIVE = '@{pipeline().parameters.DWU}');\n\nSELECT 'ok' AS Resultado",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dwh_master",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DWU": {
						"type": "string",
						"defaultValue": "DW100c"
					}
				},
				"folder": {
					"name": "Admin_dwh"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dsa_Sap_Ecu_Catalogo_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Almacen",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/ALMACEN",
									"wildcardFileName": {
										"value": "@Concat('ALMACEN_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dsa_ecu_sap.almacen",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/ALMACEN"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "WAREHOUSE",
											"type": "String"
										},
										{
											"name": "WAREHOUSENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "dsa_ecu_sap.almacen"
								}
							}
						]
					},
					{
						"name": "Cadena",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CADENA",
									"wildcardFileName": {
										"value": "@Concat('CADENA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table dsa_ecu_sap.cadena",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CADENA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "SEGMENT",
											"type": "String"
										},
										{
											"name": "SEGMENTNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "dsa_ecu_sap.cadena"
								}
							}
						]
					},
					{
						"name": "CanalDistribucion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CANALDISTRIBUCION",
									"wildcardFileName": {
										"value": "@Concat('CANALDISTRIBUCION_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[canaldistribucion]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CANALDISTRIBUCION"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNELNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[canaldistribucion]"
								}
							}
						]
					},
					{
						"name": "CategoriaMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CATEGORIAMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('CATEGORIAMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[categoriamaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CATEGORIAMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALVALUATIONCLASS",
											"type": "String"
										},
										{
											"name": "MATERIALUSABILITYPROFILENAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[categoriamaterial]"
								}
							}
						]
					},
					{
						"name": "CebeEmpresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CEBEEMPRESA",
									"wildcardFileName": {
										"value": "@Concat('CEBEEMPRESA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[cebeempresa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CEBEEMPRESA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cebeempresa]"
								}
							}
						]
					},
					{
						"name": "CentroBeneficio",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CENTROBENEFICIO",
									"wildcardFileName": {
										"value": "@Concat('CENTROBENEFICIO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[centrobeneficio]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROBENEFICIO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "SEGMENT",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "PROFITCENTERNAME",
											"type": "String"
										},
										{
											"name": "PROFITCENTERLONGNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[centrobeneficio]"
								}
							}
						]
					},
					{
						"name": "CentroCosto",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CENTROCOSTO",
									"wildcardFileName": {
										"value": "@Concat('CENTROCOSTO_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table  [dsa_ecu_sap].[centrocosto]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROCOSTO"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "PROFITCENTER",
											"type": "String"
										},
										{
											"name": "COSTCENTER",
											"type": "String"
										},
										{
											"name": "COSTCENTERNAME",
											"type": "String"
										},
										{
											"name": "COSTCENTERDESCRIPTION",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "COSTCENTERCATEGORY",
											"type": "String"
										},
										{
											"name": "COSTCTRRESPONSIBLEPERSONNAME",
											"type": "String"
										},
										{
											"name": "COSTCENTERSTANDARDHIERAREA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[centrocosto]"
								}
							}
						]
					},
					{
						"name": "ClienteaAreaVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTEAREAVENTA",
									"wildcardFileName": {
										"value": "@Concat('CLIENTEAREAVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clienteareaventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEAREAVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "SALESOFFICE",
											"type": "String"
										},
										{
											"name": "SALESGROUP",
											"type": "String"
										},
										{
											"name": "CURRENCY",
											"type": "String"
										},
										{
											"name": "PRICELISTTYPE",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUP",
											"type": "String"
										},
										{
											"name": "ORDERISBLOCKEDFORCUSTOMER",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clienteareaventa]"
								}
							}
						]
					},
					{
						"name": "ClienteEmpresaPlanta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTEEMPRESAPLANTA",
									"wildcardFileName": {
										"value": "@Concat('CLIENTEEMPRESAPLANTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clienteempresaplanta]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEEMPRESAPLANTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PLANT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "CASHPLANNINGGROUP",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clienteempresaplanta]"
								}
							}
						]
					},
					{
						"name": "Clientes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CLIENTES",
									"wildcardFileName": {
										"value": "@Concat('CLIENTES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[clientes]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "CUSTOMERNAME",
											"type": "String"
										},
										{
											"name": "CUSTOMERFULLNAME",
											"type": "String"
										},
										{
											"name": "CUSTOMERACCOUNTGROUP",
											"type": "String"
										},
										{
											"name": "BPTAXTYPE",
											"type": "String"
										},
										{
											"name": "BPTAXNUMBER",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME1",
											"type": "String"
										},
										{
											"name": "ORGANIZATIONBPNAME2",
											"type": "String"
										},
										{
											"name": "CITYNAME",
											"type": "String"
										},
										{
											"name": "TELF1",
											"type": "String"
										},
										{
											"name": "STREETNAME",
											"type": "String"
										},
										{
											"name": "SORTFIELD",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "BUSINESSTYPE",
											"type": "String"
										},
										{
											"name": "INDUSTRYTYPE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "DELETIONINDICATOR",
											"type": "String"
										},
										{
											"name": "NAME1",
											"type": "String"
										},
										{
											"name": "NAME2",
											"type": "String"
										},
										{
											"name": "MIDDLENAME",
											"type": "String"
										},
										{
											"name": "ADDITIONALLASTNAME",
											"type": "String"
										},
										{
											"name": "NAME3",
											"type": "String"
										},
										{
											"name": "NAME4",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[clientes]"
								}
							}
						]
					},
					{
						"name": "CuentasContables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/CUENTASCONTABLES",
									"wildcardFileName": {
										"value": "@Concat('CUENTASCONTABLES_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[cuentascontables]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CUENTASCONTABLES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "GLACCOUNT",
											"type": "String"
										},
										{
											"name": "GLACCOUNTNAME",
											"type": "String"
										},
										{
											"name": "GLACCOUNTLONGNAME",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[cuentascontables]"
								}
							}
						]
					},
					{
						"name": "Empresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/EMPRESA",
									"wildcardFileName": {
										"value": "@Concat('EMPRESA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[empresa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/EMPRESA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "COMPANYCODE",
											"type": "String"
										},
										{
											"name": "COMPANYCODENAME",
											"type": "String"
										},
										{
											"name": "COUNTRY",
											"type": "String"
										},
										{
											"name": "CURRENCY",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										},
										{
											"name": "RUC",
											"type": "String"
										},
										{
											"name": "COMPANYNAME",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[empresa]"
								}
							}
						]
					},
					{
						"name": "FuncionInterlocutor",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/FUNCIONINTERLOCUTOR",
									"wildcardFileName": {
										"value": "@Concat('FUNCIONINTERLOCUTOR_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[funcioninterlocutor]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/FUNCIONINTERLOCUTOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										{
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										{
											"name": "DIVISION",
											"type": "String"
										},
										{
											"name": "PARTNERFUNCTION",
											"type": "String"
										},
										{
											"name": "BUSINESSPARTNER",
											"type": "String"
										},
										{
											"name": "CUSTOMER",
											"type": "String"
										},
										{
											"name": "BUSINESSPARTNERGROUPING",
											"type": "String"
										},
										{
											"name": "BPCUSTOMERNUMBER",
											"type": "String"
										},
										{
											"name": "PARTNERFUNCTIONNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[funcioninterlocutor]"
								}
							}
						]
					},
					{
						"name": "GrupoClienteVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOCLIENTEVENTA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOCLIENTEVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupoclienteventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCLIENTEVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CUSTOMERGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupoclienteventa]"
								}
							}
						]
					},
					{
						"name": "GrupoCompra",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOCOMPRA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOCOMPRA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupocompra]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCOMPRA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "PURCHASINGGROUP",
											"type": "String"
										},
										{
											"name": "PURCHASINGGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupocompra]"
								}
							}
						]
					},
					{
						"name": "GrupoMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('GRUPOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALGROUP",
											"type": "String"
										},
										{
											"name": "MATERIALGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupomaterial]"
								}
							}
						]
					},
					{
						"name": "GrupoPrecioCliente",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOPRECIOCLIENTE",
									"wildcardFileName": {
										"value": "@Concat('GRUPOPRECIOCLIENTE_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupopreciocliente]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOCLIENTE"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "CUSTOMERPRICEGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupopreciocliente]"
								}
							}
						]
					},
					{
						"name": "GrupoPrecioMaterial",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOPRECIOMATERIAL",
									"wildcardFileName": {
										"value": "@Concat('GRUPOPRECIOMATERIAL_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupopreciomaterial]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOMATERIAL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "MATERIALPRICINGGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupopreciomaterial]"
								}
							}
						]
					},
					{
						"name": "GrupoVenta",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "catalogo/GRUPOVENTA",
									"wildcardFileName": {
										"value": "@Concat('GRUPOVENTA_',pipeline().parameters.Anio,pipeline().parameters.Mes,pipeline().parameters.Dia,'_','*.txt')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dsa_ecu_sap].[grupoventa]",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_BlobSap",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOVENTA"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dwh",
								"type": "DatasetReference",
								"parameters": {
									"cw_structure": [
										{
											"name": "MANDT",
											"type": "String"
										},
										{
											"name": "SALESGROUP",
											"type": "String"
										},
										{
											"name": "LANGUAGE",
											"type": "String"
										},
										{
											"name": "SALESGROUPNAME",
											"type": "String"
										},
										{
											"name": "FECHACARGA",
											"type": "String"
										}
									],
									"cw_tableName": "[[dsa_ecu_sap].[grupoventa]"
								}
							}
						]
					},
					{
						"name": "DeleteAlmacen",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Almacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/ALMACEN"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/ALMACEN"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteAlmacen_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Cadena",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CADENA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CADENA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCanalDistribucion",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CanalDistribucion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CANALDISTRIBUCION"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CANALDISTRIBUCION"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCategoriaMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CategoriaMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CATEGORIAMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CATEGORIAMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCebeEmpresa",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CebeEmpresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CEBEEMPRESA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CEBEEMPRESA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCentroBeneficio",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CentroBeneficio",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROBENEFICIO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CENTROBENEFICIO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCentroCosto",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CentroCosto",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CENTROCOSTO"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CENTROCOSTO"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClienteaAreaVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ClienteaAreaVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEAREAVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTEAREAVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClienteEmpresaPlanta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ClienteEmpresaPlanta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTEEMPRESAPLANTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTEEMPRESAPLANTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteClientes",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Clientes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CLIENTES"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CLIENTES"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteCuentasContables",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CuentasContables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/CUENTASCONTABLES"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/CUENTASCONTABLES"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteEmpresa",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Empresa",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/EMPRESA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/EMPRESA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteFuncionInterlocutor",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "FuncionInterlocutor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/FUNCIONINTERLOCUTOR"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/FUNCIONINTERLOCUTOR"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteGRUPOCLIENTEVENTA",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoClienteVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCLIENTEVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOCLIENTEVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DeleteGrupoCompra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoCompra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOCOMPRA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOCOMPRA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGRUPOMATERIAL",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoPrecioCliente",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoPrecioCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOCLIENTE"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOPRECIOCLIENTE"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoPrecioMaterial",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoPrecioMaterial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOPRECIOMATERIAL"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOPRECIOMATERIAL"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "DELETEGrupoVenta",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "GrupoVenta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_BlobSap_Delete",
								"type": "DatasetReference",
								"parameters": {
									"cw_carpeta": "catalogo/GRUPOVENTA"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "linked_storage",
									"type": "LinkedServiceReference"
								},
								"path": "almacenamientosap/catalogo/GRUPOVENTA"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@adddays(pipeline().TriggerTime,-7)",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Anio": {
						"type": "string",
						"defaultValue": "2021"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "01"
					},
					"Dia": {
						"type": "string",
						"defaultValue": "13"
					}
				},
				"folder": {
					"name": "dsa_Sap"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}